{% extends "officehours/base.html" %}

{% block content %}

{# Latest questions ... #}
<div class="column column-block" id="choose-role">
  <div class="card">
    <div class="card-divider">
      <h2>Latest Questions</h2>
    </div>
    <div class="card-section">
      {% for question in latest_questions %}
        <div>
          <strong>
            <span class="badge">{{ question.votes }}</span>
            <a href="{{ question.get_absolute_url }}">{{ question }}</a>
          </strong>
          <br/>
          {{ question.content|truncatewords:10 }}
          <br/>
          <small>posted {{ question.created_on|timesince }} ago</small>
        </div>
      {% endfor %}
    </div>
  </div> {# / .card #}
</div> {# .column #}

{# Ask a question... #}
<div class="column column-block" id="get-started">
  <div class="card">
    <div class="card-divider">
      <h2>Ask a question</h2>
    </div>
    <div class="card-section">
      {% if is_user_authenticated %}
        <input id="id_title" maxlength="256" name="title" type="text">
        <button type="button" class="button" onclick="handleQuestion()">Ask</button>
      {% else %}
        <span>To ask a question, please, </span>
        <a href="{% url 'login' %}?next={% url 'questions:ask' %}">login</a>
        <span> or </span>
        <a href="{% url 'officehours:login' %}">sign in</a>
      {% endif %}
    </div>
  </div> {# / .card #}
</div> {# .column #}

{% endblock %}

{% block bodyjs %}
<script type="text/javascript">
function handleQuestion(){
  var title = document.getElementById("id_title").value;
  if (title.length != 0){
    var url = "/questions/ask/" + title + "/";
    window.location.href = url;
  }
}
</script>
{% endblock %}
