{% extends "officehours/base.html" %}

{% block content %}

{# Latest questions ... #}
<div class="column column-block" id="choose-role">
  <div class="card">
    <div class="card-section">
      {% if is_user_authenticated %}
        <form method="get" action="{% url 'questions:ask' %}">
          <button type="submit" class="button">Ask a new question</button>
        </form>
      {% else %}
        <span>To ask a question, please, </span>
        <a href="{% url 'login' %}?next={% url 'questions:ask' %}">login</a>
        <span> or </span>
        <a href="{% url 'officehours:login' %}">sign in</a>
      {% endif %}
    </div>
    <div class="card-divider">
      <h2>Latest Questions</h2>
    </div>
    <div class="card-section">
      {% for question in latest_questions %}
        <div>
          <strong>
            <span class="badge">{{ question.votes }}</span>
            <a href="{{ question.get_absolute_url }}">{{ question }}</a>
          </strong>
          <br/>
          {{ question.content|truncatewords:10 }}
          <br/>
          <small>posted {{ question.created_on|timesince }} ago</small>
        </div>
      {% endfor %}
    </div>
  </div> {# / .card #}
</div> {# .column #}
{% endblock %}


{% block bodyjs %}
<script type="text/javascript">
$(document).ready(function() {
  // TODO... handle asking questins...
});
</script>
{% endblock %}
