{% extends "base.html" %}

{% block title %}Content License Agreement{% endblock %}

{% block body %}
<div class="row">
<div class="large-12 medium-12 small-12 columns">
  <h1>Content License Agreement</h1>
  <p>
    This <strong>Content License Agreement</strong> (this &ldquo;Agreement&rdquo;), is
    made as of today&rsquo;s date between you (&ldquo;<em>Content Provider</em>&rdquo;), and
    <strong>Tennessee Data Commons</strong>, a Tennessee non-profit
    corporation (&ldquo;<em>TN Data Commons</em>&rdquo;).
  </p>
  <p>
    BY SUBMITTING CONTENT ON THE PLATFORM, YOU AGREE TO AND ARE BOUND BY THE
    TERMS, CONDITIONS, POLICIES, AND NOTICES CONTAINED IN THIS AGREEMENT,
    INCLUDING BUT NOT LIMITED TO LICENSE GRANT, OWNERSHIP OF CONTENT,
    DISCLAIMERS OF WARRANTIES, DAMAGE AND REMEDY EXCLUSIONS AND LIMITATIONS.
    YOU REPRESENT AND WARRANT THAT: (I) YOU ARE OF LEGAL AGE TO ENTER INTO A
    BINDING AGREEMENT; AND (II) IF CONTENT PROVIDER IS A CORPORATION,
    GOVERNMENTAL ORGANIZATION OR OTHER LEGAL ENTITY, YOU HAVE THE RIGHT,
    POWER AND AUTHORITY TO ENTER INTO THIS AGREEMENT ON BEHALF OF CONTENT
    PROVIDER AND BIND CONTENT PROVIDER TO ITS TERMS.
  </p>
  <p>
    <strong>PLEASE READ THIS AGREEMENT CAREFULLY BEFORE SUBMITTING CONTENT ON
    THIS PLATFORM.</strong>
  </p>
  <h2>Background</h2>
  <p>
    TN Data Commons provides a mobile application and website platform (the
    &ldquo;<em>Platform</em>&rdquo;) that allows social assistance agencies to connect
    and provide additional services on a day-to-day basis to social
    assistance recipients. Content Provider wishes to deliver content to TN
    Data Commons to be displayed on TN Data Commons&rsquo; website and Platform.
  </p>
  <p>
    The parties agree as follows:
  </p>
  <ol style="list-style-type: decimal">
    <li>
      <p>
        <strong><em>Content</em></strong>. Subject to the terms and
        conditions of this Agreement, Content Provider may from time to time
        deliver to TN Data Commons, its affiliates, employees, independent
        contractors or subcontractors photographs, other documents -
        including white papers and research, or other content regarding
        Content Provider&rsquo;s services and the services provided on the Platform
        (collectively, the &ldquo;<em>Content</em>&rdquo;).
      </p>
    </li>
    <li>
      <p>
        <strong><em>License to Use Content</em></strong>. Content Provider
        grants TN Data Commons a non-exclusive, royalty-free, non-revocable,
        perpetual license to create, use, display, sublicense, transmit,
        broadcast, reproduce, record, photograph, digitize, modify, alter,
        edit, adapt, create derivative works, or otherwise use and permit
        others to use any images, sound, or materials created by Content
        Provider or that Content Provider delivers to TN Data Commons that
        incorporate any text, pictures, sound, audio, graphics, video, any
        trademark, service mark or copyright, whether registered or not, that
        is owned or licensed to Content Provider (&ldquo;<em>Content Provider
        Property</em>&rdquo;), for any purpose in and through the Platform owned,
        operated and controlled by TN Data Commons and any related mobile
        sites, mobile applications, widgets, gadgets, RSS feeds, e-mail
        newsletters and other content delivery media owned, operated and
        controlled by TN Data Commons without further consent from or
        compensation to Content Provider, except as otherwise agreed to by
        the parties.
      </p>
    </li>
    <li>
      <p>
        <strong><em>Ownership and Control of Content</em></strong>. Neither this Agreement nor
        the licenses granted hereunder convey any ownership right in any of
        the Content Provider Property, Licensor's Marks or other materials
        provided by or on behalf of Licensor under this Agreement. Except for
        the express licenses granted in this Agreement, all right, title and
        interest in and to the Content Provider Property are and will remain
        with Content Provider and its licensors. Content Provider
        acknowledges that it has no right to review or approve the manner in
        which TN Data Commons uses or incorporates the Content, and that TN
        Data Commons has no liability to Content Provider for editing or
        alteration or its use of the Content other than as provided in
        Section 6(b) below. TN Data Commons has no obligation to use the
        materials or to exercise any rights given by this Agreement.
      </p>
    </li>
    <li>
      <p>
        <strong><em>Representations and Warranties</em></strong>. Content Provider represents
        and warrants that:
      </p>
      <ol style="list-style-type: lower-alpha">
        <li>
          <p>
            It owns or has the full and valid right and authority and will
            continue to own or maintain the full and valid right and
            authority, to grant TN Data Commons the license set forth in this
            Agreement
          </p>
        </li>
        <li>
          <p>
            It has obtained all necessary licenses and consent from any
            entity appearing in the Content Provider Property, or that may be
            visible in the Content Provider Property, to use such entity's
            name, marks or other identifying information;
          </p>
        </li>
        <li>
          <p>
            TN Data Commons&rsquo; use of the Content Provider Property as provided
            herein will not infringe any intellectual property, proprietary
            right or moral right; or violate any right of publicity, privacy
            or trade secret; or otherwise violate any right of any third
            party.
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p>
        <strong><em>Term</em>.</strong> The Term of this Agreement shall
        commence on the Effective Date and continues, unless either party
        provides the other party with 30 days written notice. Upon
        termination, TN Data Commons will remove Content Provider Property
        from the website.
      </p>
    </li>
    <li>
      <p>
        <strong><em>Disclaimer of Warranties and Liability</em>.</strong>
      </p>
      <ol style="list-style-type: lower-alpha">
        <li>
          <p>
            <em>NO WARRANTIES</em>. THE TN DATA COMMONS WEBSITE IS PROVIDED
            ON AN "AS IS" BASIS. TN DATA COMMONS MAKES NO REPRESENTATIONS OR
            WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WITHOUT
            LIMITATION: THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
            FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT; THAT THE
            TN DATA COMMONS WEBSITE WILL MEET CONTENT PROVIDER&rsquo;S
            REQUIREMENTS; WILL ALWAYS BE AVAILABLE, ACCESSIBLE,
            UNINTERRUPTED, TIMELY; OR SECURE; OR WILL OPERATE WITHOUT ERROR;
            ANY IMPLIED WARRANTY ARISING FROM COURSE OF DEALING OR USAGE OF
            TRADE; AND ANY OBLIGATION, LIABILITY, RIGHT, CLAIM OR REMEDY IN
            TORT, WHETHER OR NOT ARISING FROM THE NEGLIGENCE OF TN DATA
            COMMONS. TO THE FULL EXTENT PERMISSIBLE UNDER APPLICABLE LAW, ARE
            DISCLAIMED BY TN DATA COMMONS.
          </p>
        </li>
        <li>
          <p>
            <em>LIMITATION OF LIABILITY</em>. EXCEPTION FOR GROSS NEGLIGENCE
            OR WILLFUL MISCONDUCT OR THE INDEMNIFICATION OBLIGATIONS IN
            SECTION 6(C) BELOW, NEITHER PARTY WILL BE LIABLE FOR ANY
            INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES ARISING
            OUT OF OR IN CONNECTION WITH THIS AGREEMENT OR THE TN DATA
            COMMONS PLATFORM.
          </p>
        </li>
        <li>
          <p>
            <em>Indemnification</em>. Content Provider shall indemnify,
            defend and hold harmless the other party against any claim
            arising out of or resulting from (i) a third party&rsquo;s use of the
            Content, and (ii) the breach of any representation or warranty in
            this Agreement.
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p>
        <strong><em>Miscellaneous Provisions.</em></strong>
      </p>
      <ol style="list-style-type: lower-alpha">
        <li>
          <p>
            <em>Relationship of the Parties</em>. The relationship between
            the parties is that of independent contractors. Nothing contained
            in this Agreement shall be construed as creating any agency,
            partnership, joint venture or other form of joint enterprise,
            employment or fiduciary relationship between the parties, and
            neither party shall have authority to contract for or bind the
            other party in any manner whatsoever.
          </p>
        </li>
        <li>
          <p>
            <em>Notices.</em> All notices, requests, demands, consents,
            approvals, designations and other communications called for or
            contemplated by this Agreement shall be in writing and shall be
            deemed given to TN Data Commons or Content Provider (i) if
            delivered by email, and if such email is confirmed either by
            responsive email or by telephone, on the date of such
            confirmation, (ii) when delivered to such party by hand or by
            overnight courier or delivery service, (iii) one business day
            after being sent to such party by facsimile transmission, or (iv)
            three business days after being sent to such party by registered
            or certified mail (return receipt requested, postage prepaid), in
            each case at the address following each parties signature below
            (or at such other address as such party may designate by notice
            in the manner aforesaid).
          </p>
        </li>
        <li>
          <p>
            <em>Entire Agreement; Waivers; Etc.</em> This Agreement
            constitutes the sole and entire agreement and un­derstanding
            between the parties hereto and supersedes all other prior
            agreements and under­standings with respect to such subject
            matter. No delay on the part of a party in exer­cising, or
            par­tial exercise of, any right, power or privilege hereunder
            shall operate as a waiver of any privilege or right hereunder or
            preclude any other or further exercise of any other right, power
            or privilege.
          </p>
        </li>
        <li>
          <p>
            <em>Force Majeure</em>. Any delay in or failure of performance by
            either party under this Agreement will not be considered a breach
            of this Agreement and will be excused to the extent caused by any
            occurrence beyond the reasonable control of such party,
            including, but not limited to, acts of God, power outages and
            governmental restrictions.
          </p>
        </li>
        <li>
          <p>
            <em>Rules of Construction.</em> No provision of this Agreement
            shall be construed in favor of or against any of the parties
            hereto by reason of the extent to which any such party or its
            counsel participated in the drafting thereof. References to
            sections herein include all subsections subsidiary to the section
            referred to. Section headings herein have been inserted for
            convenience of reference only, are not a part of this Agreement
            and shall not be used in construing this Agreement.
          </p>
        </li>
        <li>
          <p>
            <em>Governing Law.</em> This Agreement shall be governed by and
            construed and enforced in accordance with the laws of the State
            of Tennessee applicable to agreements made and to be performed in
            such state without giving effect to any choice or conflict of law
            provision or rule (whether of the State of Tennessee or any other
            jurisdiction) that would cause the application of Laws of any
            jurisdiction other than those of the State of Tennessee. Any
            legal suit, action or proceeding arising out of or related to
            this Agreement or the licenses granted hereunder shall be
            instituted exclusively in the federal courts of the United States
            or the courts of the State of Tennessee in each case located in
            the city of Memphis and County of Shelby, and each party
            irrevocably submits to the exclusive jurisdiction of such courts
            in any such suit, action or proceeding. Service of process,
            summons, notice or other document by mail to such party's address
            set forth herein shall be effective service of process for any
            suit, action or other proceeding brought in any such court.
          </p>
        </li>
        <li>
          <p>
            <em>Severability.</em> If any provision of this Agreement is
            declared judicially to be invalid, unenforceable or void, such
            decision shall not have the effect of invalidating or voiding the
            remainder of this Agreement, it being the intent and agreement of
            the parties that this Agreement shall be deemed amended by
            modifying such provision to the extent necessary to render it
            valid, legal and enforceable while preserving its intent or, if
            such modification is not possible, by substituting therefore
            another provision that is valid, legal and enforceable so as to
            materially effectuate the parties&rsquo; intent.
          </p>
        </li>
        <li>
          <p>
            <em>No Third-Party Beneficiaries</em>. It is not the intention of
            either of the parties to confer, and the Agreement shall not be
            construed as to confer, any right or benefit upon any Person
            other than the parties and their successors and permitted
            assigns, and no other Person shall have any rights or remedies
            against either of the parties hereto under or virtue of this
            Agreement.
          </p>
        </li>
      </ol>
    </li>
  </ol>
</div>
</div>
{% endblock %}
