{% extends "base.html" %}

{% block title %}Terms of Service{% endblock %}
{% block body %}
<div class="row">
<div class="large-12 medium-12 small-12 columns">

<h1>Compass Terms of Service</h1>
<p>(Last modified April 15, 2016)</p>
<p>These <strong>Terms of Service</strong> ("<u>Agreement</u>") sets forth a legally
binding agreement between you and Tennessee Data Commons, Inc., a
Tennessee non-profit corporation ("<u>Company</u>", or "<u>We</u>"). This website
or mobile application, including any software (including, without
limitation, software, code, files, images contained in or generated
by the software, accompanying data, and other embedded software),
documentation, any accompanying fonts, and content developed by the
Company or licensed by the Company (collectively, the "<u>Platform</u>") is
provided pursuant to this Agreement. By using this Platform, you
represent and warrant that you are of legal age to form a binding
contract with Company and meet the foregoing eligibility
requirements. By accessing this Platform in any way, including,
without limitation, browsing this Platform, using any information,
and/or submitting information to Company, you agree to and are
bound by the terms, conditions, policies and notices contained in
this Agreement, including, but not limited to, our
<a href="https://app.tndata.org/privacy/">Privacy Policy</a>, conducting this transaction
electronically, disclaimers of warranties, damage and remedy
exclusions and limitations. <strong>Please read this Agreement carefully
before using this Platform.</strong></p>

<p>From time to time we may update this Platform and this
Agreement. Your use of this Platform after we post any changes to
this Agreement constitutes your agreement to those changes. You
agree to review this Agreement periodically to ensure that you are
familiar with the most recent version. You agree that you do not
have any rights in this Platform. Company will have no liability to
you if this Platform is discontinued or your ability to access the
Platform is terminated. You further agree that Company will not be
liable for any modification or suspension of the Platform. You are
responsible for making all arrangements necessary for you to have
access to the Platform and for ensuring that all persons who access
the Platform through your internet connection are aware of, and
comply with, these Terms of Service and the Privacy Policy.</p>

<p>Please read this Agreement carefully before using the Platform.
If you do not agree to the terms contained in this Agreement, then
you may not use the Platform. Your use of the Platform constitutes
your acknowledgement that you have the legal authority to bind
yourself or any party you represent to, and your acceptance of,
this Agreement. You acknowledge that you have read and agree to be
bound by this Agreement and to comply with all applicable laws,
regulations and/or rules with regard to your use of the Platform.
The Platform is offered and available to users who are 14 years of
age or older. You represent that you have the legal authority to
bind yourself or any party you represent (in the case of a minor, a
parent or legal guardian) to this Agreement.</p>

<p>YOU MAY NOT USE THE PLATFORM FOR ANY PURPOSE THAT IS UNLAWFUL OR
PROHIBITED BY THIS AGREEMENT. YOUR ACCESS TO THE PLATFORM MAY BE
TERMINATED IMMEDIATELY IN COMPANY S SOLE DISCRETION, WITH OR
WITHOUT NOTICE, IF YOU FAIL TO COMPLY WITH ANY PROVISIONS OF THIS
AGREEMENT.</p>

<p>On certain areas of this Platform, you may be given the ability
to provide us with personally identifiable information. Please read
our <a href="http://app.tndata.org/privacy/">Privacy Policy</a> for more
information about our information collection and use practices. By
using the Platform, you consent to all actions taken by us with
respect to your information in compliance with the Privacy
Policy.</p>


<h2>Description of Services</h2>

<p>The Platform allows users to access information and to set goals
related to self-improvement, and provides a mechanism for social
service agencies and other partner organizations (collectively, the
Partners ) to provide users with recommendations, reminders, and
rewards to support users accomplish their self-improvement goals.
COMPANY RESERVES THE RIGHT TO CHANGE THESE SERVICES AT ANY TIME IN
OUR SOLE DISCRETION.</p>

<h2>Accounts and Passwords</h2>

<p>In order to access certain features of the Platform, you must
provide certain registration details or other information. It is a
condition of your use of the Platform that all the information you
provide is correct, current and complete. If you elect not to
provide such information, you may not be able to access certain
content or participate in certain features of the Platform. You are
entirely responsible for any and all activities that occur under
your account and it is entirely your responsibility to maintain the
confidentiality of your password and account. You agree to notify
Company immediately of any unauthorized use of your account. You
further agree not to email, post, or otherwise disseminate any user
ID, password, PIN, or other information which provides you access
to the Platform. Company is not liable for any loss that you may
incur as a result of someone else using your password or account,
either with or without your knowledge.</p>


<h2>Submissions</h2>

<p>Where the Platform requires you to open an account or otherwise
submit information, you must complete the specified process by
providing us with current, complete, and accurate information as
requested by the applicable registration form. It is your
responsibility to maintain the currency, completeness, and accuracy
of your registration data, including, without limitation, your
name, address, behavioral goals, email address. You agree that all
information you provide to register with us or otherwise, is
governed by our <a href="http://app.tndata.org/privacy/">Privacy Policy</a> and
you consent to all actions we take with respect to your information
consistent with our <a href="http://app.tndata.org/privacy/">Privacy Policy</a>.</p>

<p>
Each Partner further represents and warrants that all information
provided on the Platform, including, without limitation, the
Content or advice, does not violate any federal, state, local or
international law or regulation. You represent and warrant that all
information provided on the Platform, including, without limitation
the personal, is true and accurate and does not violate any
federal, state, local or international law or regulation. You and
Partner acknowledge that the Company does not verify the identity
or accuracy of any person s information provided on the Platform
nor does Company warrant the accuracy, completeness or usefulness
of any of the Content and/or information provided on the Platform,
including Content provided by Company or its employees. Any
reliance you place on such information is strictly at your own
risk. We disclaim all liability and responsibility arising from any
reliance placed on such materials by you or any other visitor to
the Platform, or by anyone who may be informed of any of its
contents. Content or advice provided through the website is general
information. It should not be considered expert advice, and does
not replace seeking the advice of a licensed professional. The
Company is not a licensed professional.</p>


<p>You agree that Company may collect and use technical and usage
data and related information in compliance with our
<a href="http://app.tndata.org/privacy/">Policy</a>.
You grant Company the permission to use
this information to improve its products or to provide services or
technologies to you. You hereby authorize Company, directly or
through third parties, to make any inquiries we consider necessary
to validate your identity. Nothing herein shall be construed to
require Company to verify the identity of any user on the Platform
nor will Company have any liability for failure to verify any user
s identity.</p>


<h2>Grant of License</h2>
<p>The Platform is licensed to you by Company subject to the terms of
this Agreement. Neither title nor any intellectual property rights
are transferred to you, but rather remain with Company or its
licensors, who own full and complete title, and Company and
respective licensors reserve all rights not expressly granted to
you. The rights granted herein are non-transferable, and are
limited to Company s intellectual property rights in the Platform
and do not include any other patents or intellectual property
rights. This Agreement does not grant you any rights to use Company
proprietary interfaces and other intellectual property in the
design, development, manufacture, licensing or distribution of
third-party devices and accessories for use with the Platform. Any
use of the Platform in any manner not allowed under this Agreement
is prohibited. This Agreement does not entitle you to receive and
does not obligate Company to provide hard-copy documentation,
support, telephone assistance, or enhancements or updates to the
Platform. You may not modify, alter, copy, publicly display or
perform, distribute, or create derivative works of the
Platform.</p>

<p>Your rights under this Agreement will terminate automatically
without notice from Company if you fail to comply with any term(s)
of this Agreement. Upon the termination of this Agreement, you
shall cease all use of the Platform and delete all copies of the
Platform from your mobile device and account.</p>

<h2>Use of the Platform</h2>

<p>The following requirements apply to your use of the Platform.
You shall not:</p>
<ul>
<li>violate any applicable federal, state, local or international
law or regulation;</li>
<li>violate the legal rights (including the rights of publicity and
privacy) of others</li>
<li>provide, upload or otherwise transmit any information or
materials that could give rise to any civil or criminal liability
under applicable laws or regulations or that otherwise may be in
conflict with these Terms of Service and our <a href="http://app.tndata.org/privacy/">Privacy Policy</a>;</li>
<li>disclose or distribute another user s information to a third
party, or use the information for marketing purposes unless you
receive the user s express consent to do so;</li>
<li>impersonate any person, or misrepresent your identity or
affiliation with any person or organization or in any way that is
likely to deceive any person;</li>
<li>use any electronic communication feature of the Platform for
any purpose that is unlawful, tortious, abusive, intrusive on
another s privacy, harassing, libelous, defamatory, embarrassing,
obscene, threatening, or hateful;</li>
<li>send unsolicited email to a user or use the Platform to collect
payments for sending, or assisting in sending, unsolicited email to
third parties;</li>
<li>use the Platform for any commercial purpose not expressly
approved by Company in writing;</li>
<li>upload or otherwise transmit any material that contains viruses
or any other computer code, files, or programs which might
interrupt, limit, or interfere with the functionality of any
computer software or hardware or telecommunications equipment;</li>
<li>rent, lease, lend, sell, sublicense, assign, distribute,
publish, transfer or otherwise make available the Platform or any
features or functionality of the Platform, to any third party for
any reason;</li>
<li>use any robot, spider, other automatic device, or manual
process to monitor or copy our Content; or</li>
<li>remove, delete, alter or obscure any trademarks or any
copyright, trademark, patent or other intellectual property or
proprietary rights notices from the Platform, including any copy
thereof;</li>
<li>use the Platform in any manner that could disable, overburden,
damage, or impair the site or interfere with any other party s use
of the Platform;</li>
<li>use any device that interferes with the proper working of the
Platform;</li>
<li>attempt to gain unauthorized access to, interfere with, damage
or disrupt any parts of the Platform, the server on which the
Platform is stored, or any server, computer or database connected
to the Platform; or</li>
<li>engage in any other conduct that restricts or inhibits anyone s
use or enjoyment of the Platform, attempts to interfere with the
proper working of the Platform, or which, as determined by us, may
harm the Company or users of the Platform or expose them to
liability.</li>
</ul>

<p>Except as and only to the extent permitted by applicable law,
you may not copy, decompile, reverse engineer, disassemble, attempt
to derive the source code of, modify, or create derivative works of
the Platform or any part thereof. Any attempt to do so is a
violation of the rights of Company and its licensors of the
Platform. If you breach this restriction, you may be subject to
prosecution and damages. By storing content on your device, you are
making a digital copy. In some jurisdictions, it is unlawful to
make digital copies without prior permission from the rights
holder.</p>

<h2>Company Content</h2>
<p>Company provides this Platform to you, subject to this Agreement.
This Platform, and any services performed, provided or enabled by
or through this Platform and all the content, information,
communications, scripting, photos, text, video, graphics, music,
sounds, images, trademarks, logos, product and program names, and
other materials and compilations of the foregoing, that may be
provided to you via this Platform (collectively Content ) by
Company or its content providers, are the property of Company and
its content providers, are protected in the U.S. and
internationally under trademark, copyright, and other intellectual
property laws, and are intended for the lawful use by registered
users (as applicable) of this Platform. Company makes no
representation that the Platform or Content are appropriate or
available for use in particular locations.</p>

<p>Users may download Content for their own use, subject to any
additional terms or restrictions which may be applicable to the
individual file or program. You agree not to download, display or
use any Content in any other manner that is likely to cause
confusion among consumers, that disparages or discredits Company
and/or its licensors, that dilutes the strength of Company or its
licensors property, or that otherwise infringes Company or its
licensors intellectual property rights.</p>

<h2>Intellectual Property Ownership</h2>

<p>There are a number of trademarks, logos, service marks, slogans,
product names and designations and other proprietary indicia
(collectively Trademarks ) used in the Platform and in the Content.
By making these Trademarks available through the Platform and in
the Content, Company is not granting you a license to use them in
any fashion, and you are not granted any license under any of
Company s or any third party s Trademarks or other intellectual
property rights, except as specifically set forth in this
Agreement. No Company Trademarks may be used as a username, icon,
identifier, hyperlink or in any other manner without Company s
prior written permission.</p>

<p>The Platform, Content, and the selection, coordination, and
arrangement thereof, is owned either by Company, or its respective
licensors. The unauthorized copying, displaying, selling,
distributing or other use of any Content or Platform is a violation
of the law. You acknowledge having been advised by Company that the
Content and Platform is protected in the U.S. and internationally
by a variety of laws, including but not limited to, copyright laws
and treaty provisions, trademark laws, patent laws and other
intellectual property and proprietary rights laws.</p>


<h2>Third Party Content</h2>

<p>The information presented on or through the Platform is made
available solely for general information purposes. Nothing provided
by Company through the Platform should be construed as advice. We
are not a licensed healthcare professional.</p>


<p>This Platform includes content provided by third parties. All
content, statements and/or opinions expressed in these materials,
other than the content provided by Company, are solely the
responsibility of the person or entity providing those materials.
We do not warrant the accuracy, completeness or usefulness of this
information. Any reliance you place on such information is strictly
at your own risk. We disclaim all liability and responsibility
arising from any reliance placed on such materials by you or any
other visitor to the Platform, or by anyone who may be informed of
any of its contents.</p>


<p>If you believe that content you own has been copied and made
accessible in a manner that violates your intellectual property
rights, please notify us immediately. You may submit a notification
pursuant to the Digital Millennium Copyright Act (see 17 U.S.C
512(c)(3)) to our copyright agent at <a href="mailto:connect@tndata.org">connect@tndata.org</a>
.</p>


<h2>Geographic Restrictions</h2>

<p>We are based in the state of Tennessee in the United States. We
provide this Platform for use only by persons located in the United
States. We make no claims that the Platform or any of its content
is accessible or appropriate outside of the United States. Access
to the Platform may not be legal by certain persons or in certain
countries. If you access the Platform from outside the United
States, you do so on your own initiative and are responsible for
compliance with local laws.</p>


<h2>Representations, Disclaimer of Warranties, and Risk
Allocation</h2>

<p>Company and its parents, subsidiaries, officers, employees, and
contractors and each of their officers, employees and agents
(collectively, Company Affiliates ) make no representation or
warranty whatsoever regarding the completeness, accuracy,
timeliness or adequacy of any information, facts, views, opinions,
statements or recommendations contained on the Platform. Reference
to any process, publication or service of any third party by trade
name, domain name, trademark, service mark, logo, or otherwise does
not constitute or imply its endorsement or recommendation by
Company or Company Affiliates.</p>


<p>The Internet may be subject to breaches of security. Company and
Company Affiliates are not responsible for any resulting damage to
any user s device or computer from any such security breach, or
from any virus, bugs, tampering, unauthorized intervention, fraud,
error, omission, interruption, deletion, defect, delay in operation
or transmission, computer line failure or any other technical or
other malfunction. You should also be aware that email and other
submissions over the Internet may not be secure, and you should
consider this before emailing Company or Company Affiliates any
information or posting information to the Platform. Company and
Company Affiliates make no representation or warranty whatsoever
regarding the suitability, functionality, performance, availability
or operation of the Platform. This Platform may be temporarily
unavailable due to maintenance or malfunction of computer
equipment.</p>


<p>THE PLATFORM (INCLUDING ALL APPLICATION PLATFORM UPDATES) AND
THE CONTENT ARE MADE AVAILABLE ON AN AS IS, AS AVAILABLE AND WITH
ALL FAULTS BASIS. COMPANY AND COMPANY AFFILIATES SPECIFICALLY
DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT
LIMITATION, THE WARRANTIES OF MERCHANTABILITY, QUALITY, FITNESS FOR
A PARTICULAR PURPOSE AND NON-INFRINGEMENT, WITH RESPECT TO THE
PLATFORM AND THE CONTENT. COMPANY DOES NOT WARRANT THAT THE
FUNCTIONS CONTAINED IN OR SERVICES PERFORMED, PROVIDED OR ENABLED
BY OR THROUGH THE PLATFORM (INCLUDING ANY APPLICATION PLATFORM
UPDATES) WILL MEET YOUR REQUIREMENTS, THAT THE OPERATION OF THE
PLATFORM, (INCLUDING ANY APPLICATION PLATFORM UPDATES) WILL BE
UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS IN THE PLATFORM
(INCLUDING ANY APPLICATION PLATFORM UPDATES) WILL BE CORRECTED. No
oral or written information or advice given by Company or an
authorized representative shall be deemed to alter this disclaimer
of warranty, or to create any warranty. Should the Platform prove
defective, you assume the entire cost of all necessary servicing,
repair or correction.</p>


<p>IN NO EVENT WILL THE COMPANY, OR COMPANY AFFILIATES OR THEIR
LICENSORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL
THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY
TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE
PLATFORM OR ANY SERVICES OBTAINED THROUGH THE PLATFORM, INCLUDING
ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR
PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY,
PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF
PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS
OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING
NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF
FORESEEABLE.</p>


<p><strong>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF
CERTAIN WARRANTIES AND CONDITIONS, OR THE DISCLAIMER OF SOME TYPES
OF DAMAGES, SO SOME OF THE ABOVE MAY NOT APPLY TO YOU.</strong></p>


<p>BY ACCESSING THIS PLATFORM, REGISTERING WITH THE PLATFORM AND/OR
ACCEPTING ANY INFORMATION FROM THIS PLATFORM YOU AGREE TO
INDEMNIFY, DEFEND AND HOLD COMPANY AND COMPANY AFFILIATES HARMLESS
FROM AND AGAINST ANY ACTUAL OR ALLEGED CLAIMS, DEMANDS, CAUSES OF
ACTION, JUDGMENTS, DAMAGES, LOSSES, LIABILITIES, AND ALL COSTS AND
EXPENSES OF DEFENSE (INCLUDING REASONABLE ATTORNEYS FEES AND COURT
COSTS) ARISING OUT OF OR RELATING TO: (A) YOUR BREACH OF THIS
AGREEMENT; (B) YOUR VIOLATION OF ANY LOCAL, STATE, FEDERAL OR
INTERNATIONAL LAW, RULE OR REGULATION; (C) ANY MISREPRESENTATION
MADE BY YOU; (D) THE THEFT, MISAPPROPRIATION OR DISCLOSURE OF YOUR
USERNAME/PASSWORD/PIN; (E) YOUR AUTHORIZATION OF ANYONE ELSE TO USE
YOUR PASSWORD. YOU WILL COOPERATE AS FULLY AND AS REASONABLY
REQUIRED IN COMPANY S DEFENSE OF ANY CLAIM. COMPANY RESERVES THE
RIGHT, AT ITS OWN EXPENSE, TO ASSUME THE EXCLUSIVE DEFENSE AND
CONTROL OF ANY MATTER OTHERWISE SUBJECT TO INDEMNIFICATION BY YOU,
AND YOU SHALL NOT, IN ANY EVENT, SETTLE ANY MATTER WITHOUT THE
WRITTEN CONSENT OF COMPANY.</p>


<h2>Users of the Apple Platform</h2>

<p>If you download and use the iOS Platform: You, the end-user of
the Platform, acknowledge that the Agreement is entered into by and
between Company and you and not with Apple, Inc. Notwithstanding
the foregoing, you acknowledge that Apple, Inc. and its
subsidiaries are third-party beneficiaries of this Agreement and
that Apple, Inc. has the right (and is deemed to have accepted the
right) to enforce this Agreement. You acknowledge that Apple, Inc.
has no obligation whatsoever to furnish any maintenance and support
services with respect to the Platform. You acknowledge that you
have reviewed the App Store Terms and Conditions (located online at
http://www.apple.com/legal/itunes/us/terms.html#APPS). This
Agreement incorporates by reference the Licensed Application End
User License Agreement (the LAEULA ) published by Apple, Inc.
(located online at
http://www.apple.com/legal/itunes/appstore/dev/stdeula/). For
purposes of this Agreement, the Platform is considered the Licensed
Application as defined in the LAEULA and Company is considered the
Application Provider as defined in the LAEULA. If any terms of this
Agreement conflict with the terms of the LAEULA, the terms of this
Agreement shall control. You further acknowledge and agree that in
no event will Apple, Inc. be responsible for any claims relating to
the Platform (including, without limitation, a third party claim
that the Platform infringes that third party s intellectual
property rights) or your use or possession of the Platform,
including but not limited to: (i) product liability claims; (ii)
any claim that the Platform fails to conform to any applicable
legal or regulatory requirement; and (iii) claims arising under
consumer protection or similar legislation.</p>

<h2>Links to Third-Party Websites, Applications, and Services</h2>

<p>The Platform may provide connectivity or links to other
third-party services, websites, applications, software, and other
content from third-party providers such as social media partners,
wireless carriers, and third-party software application developers
( Third-Party Services ). The Platform may allow you to
add/configure certain Third-Party Services to your device. Company
has no control over, makes no representations or warranties
whatsoever about any of the Third-Party Services that you may
access, is not responsible for the availability of such Third-Party
Services, and does not endorse nor is responsible or liable for any
content or other materials on or available from such Third-Party
Services. Your use of the Third-Party Services may be subject to
additional terms, including software license terms, of those third
parties.</p>

<p>Users who utilize the Third-Party Services should be aware that
account and other personal information held by those third parties
may be transmitted through and stored on Company servers and/or
applications located in the United States and elsewhere. You
understand and agree that the companies that provide the
Third-Party Services may access, use and share certain information
about you, if you use the Third-Party Services. You understand and
agree Company is not responsible for these companies, or their use
of any other of your information. Your use of the Third-Party
Services is at your own risk.</p>

<h2>Assignment</h2>

<p>Company may assign this Agreement in whole or in part, at any
time with or without notice to you. You may not assign this
contract, or any part of it, without the prior written consent of
Company. Any attempt by you to do so is void. You may not transfer
to anyone else, either temporarily or permanently, any rights to
use all or any part of the Platform. To the extent that you allow a
third party to use your device, you shall remain solely responsible
for the use of the Platform by others using the device. This
Agreement shall be binding upon successors and permitted
assigns.</p>


<h2>General Information</h2>

<p>You may also be subject to additional terms and conditions
(including, but not limited to, terms and conditions from your
wireless carrier or operator) that may apply to your use of the
Platform. If any provision of this Agreement is held to be invalid
by any law, rule, order or regulation of any government or by the
final determination of any state or federal court, such invalidity
shall not affect the enforceability of any other provision of this
Agreement. The failure of Company to exercise or enforce any right
or provision of this Agreement shall not constitute a waiver of
such right or provision.</p>

<p>By using the Platform, you agree that the statutes and laws of
the United States and the State of Tennessee without regard to
conflicts of laws principles, will apply to all matters relating to
use of the Platform and the Services, and you agree that any
litigation shall be subject to the exclusive jurisdiction of the
state or federal courts in Shelby County, Tennessee, USA.</p>

<p>You may cancel the use of the Platform at any time by contacting
us at <a href="mailto:connect@tndata.org">connect@tndata.org</a> If you request that we delete your
account, we will only delete your personal account but we may not
be able to delete all information that relates to you located on or
associated with other user accounts. In the event of a complaint or
concern regarding this Agreement or the Platform, or for more
information, please contact Company at <a href="mailto:connect@tndata.org">connect@tndata.org</a>.</p>

<p>You agree that these Terms of Service and the Privacy Policy
constitute the sole and entire agreement between you and the
Company.</p>

<p>Thank you for visiting our Platform.</p>

</div>
</div>
{% endblock %}
