.DS_Store
.coverage
.coveragerc
dump.sql
*.sqlite3
env/
tndata_backend/uploads
tndata_backend/tndata_backend/uploads
tndata_backend/collected_static_files
tndata_backend/tndata_backend/collected_static_files
tndata_backend/coverage_html_report/
