<li><a href="{{link}}?actiontype={{ action_model.SHOWING}}">
  <i class="fa fa-plus-circle"></i> Showing</a></li>
<li><a href="{{link}}?actiontype={{ action_model.RESOURCE}}">
  <i class="fa fa-plus-circle"></i> Resource Notification</a></li>

{% comment %}
<li><a href="{{link}}?actiontype={{action_model.REINFORCING}}">
  <i class="fa fa-plus-circle"></i> Reinforcing</a></li>
<li><a href="{{link}}?actiontype={{ action_model.ENABLING}}">
  <i class="fa fa-plus-circle"></i> Enabling</a></li>
<li><a href="{{link}}?actiontype={{ action_model.STARTER }}">
  <i class="fa fa-plus-circle"></i> Starter Step</a></li>
<li><a href="{{link}}?actiontype={{ action_model.TINY}}">
  <i class="fa fa-plus-circle"></i> Tiny Version</a></li>
<li><a href="{{link}}?actiontype={{ action_model.NOW}}">
  <i class="fa fa-plus-circle"></i> Do it now</a></li>
<li><a href="{{link}}?actiontype={{ action_model.LATER}}">
  <i class="fa fa-plus-circle"></i> Do it later</a></li>
<li><a href="{{link}}?actiontype={{ action_model.ASKING}}">
  <i class="fa fa-plus-circle"></i> Checkup</a></li>
{% endcomment %}
