{% comment %}

  This template manually renders all of the fields in a form, except for the
  "notes" field.

  It expects a context variable named "form".

{% endcomment %}
{% if form.non_field_errors %}
  {{ form.non_field_errors }}
{% endif %}

{% for field in form %}
  {% if field.name != "notes" %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <div class="row field-row">
        <div class="small-2 columns{% if field.errors %} error{% endif %}">
          {{ field.label_tag }}
        </div>
        <div class="small-10 columns{% if field.errors %} error{% endif %}">
          {{ field }}
          {% if field.errors %}{{ field.errors }}{% endif %}
          <span class="helptext">{{ field.help_text }}</span>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
