{% load goal_filters %}
{% load goal_tags %}

{% if is_editor %}
<h2>Content for Review</h2>
<p>The following content needs to be reviewed either for publication or because
the content requires your action.</p>

<table class="object-list">
<thead>
  <tr>
  <th><i class="fa fa-cog"></i> Status</th>
  <th>Type</th>
  <th>Title</th>
  <th>Updated</th>
  </tr>
</thead>
<tbody>
  {% for behavior in dynamic_behaviors %}
    <tr>
      <td>
        <span class="label warning" data-tooltip aria-haspopup="true"
              title="This Behavior contains Dynamic Notifications, and requires at least one Reinforcing Notification"><i class="fa fa-warning"></i> Action Required</span>
      </td>
      <td><span class="label secondary">Behavior</span></td>
      <td>
        <a href="{{ behavior.get_update_url }}" title="Edit"><i class="fa fa-edit"></i></a>
        <a href="{{ behavior.get_absolute_url }}">{{ behavior }}</a>
      </td>
      <td>
        {{ behavior.updated_on|date:"n-j-Y" }}<br/>
        by
        {% if behavior.created_by %}
          {{ behavior.created_by.email|truncatechars:15 }}
        {% elif behavior.updated_by %}
          {{ behavior.updated_by.email|truncatechars:15 }}
        {% else %}
          nobody
        {% endif %}
        <br/>
        <small class="label secondary">
          {{ behavior.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in categories %}
    <tr>
      <td>{% publish_deny_form obj "dropdown" %}</td>
      <td>
        <span class="label secondary">Category</span>
      </td>
      <td>
        <a href="{{ obj.get_update_url }}" title="Edit"><i class="fa fa-edit"></i></a>
        <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
      </td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        by: {{ obj.created_by|default:obj.updated_by }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in goals %}
    <tr>
      <td>{% publish_deny_form obj "dropdown" %}</td>
      <td>
        <span class="label secondary">Goal</span>
      </td>
      <td>
        <a href="{{ obj.get_update_url }}" title="Edit"><i class="fa fa-edit"></i></a>
        <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
      </td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        <span class="label">{{ obj.created_by|default:obj.updated_by }}</span><br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in behaviors %}
    <tr>
      <td>{% publish_deny_form obj "dropdown" %}</td>
      <td>
        <span class="label secondary">Behavior</span>
      </td>
      <td>
        <a href="{{ obj.get_update_url }}" title="Edit"><i class="fa fa-edit"></i></a>
        <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
      </td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        by: {{ obj.created_by|default:obj.updated_by }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in actions %}
    <tr>
      <td>{% publish_deny_form obj "dropdown" %}</td>
      <td>
        <span class="label secondary">Action</span>
      </td>
      <td>
        <a href="{{ obj.get_update_url }}" title="Edit"><i class="fa fa-edit"></i></a>
        <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
      </td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        by: {{ obj.created_by|default:obj.updated_by }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
