{% load goal_filters %}
{% load goal_tags %}

<h2>My Content</h2>
{% if has_my_content %}
<table class="object-list"
  summary="Content you've either created or recently updated">
<thead>
  <tr>
  <th><i class="fa fa-cog"></i></th>
  <th>Type/Status</th>
  <th>Title</th>
  <th>Updated</th>
  </tr>
</thead>
<tbody>
  {% for obj in my_categories %}
    <tr>
      <td>
        {% goal_object_controls obj %}
      </td>
      <td>
        <span class="label secondary">Category</span>
          {{ obj|label }}
      </td>
      <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in my_goals %}
    <tr>
      <td>
        {% goal_object_controls obj %}
      </td>
      <td>
        <span class="label secondary">Goal</span>
        {{ obj|label }}
      </td>
      <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in my_behaviors %}
    <tr>
      <td>
        {% goal_object_controls obj %}
      </td>
      <td>
        <span class="label secondary">Behavior</span>
        {{ obj|label }}
      </td>
      <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
  {% for obj in my_actions %}
    <tr>
      <td>
        {% goal_object_controls obj %}
      </td>
      <td>
        <span class="label secondary">Action</span>
        {{ obj|label }}
      </td>
      <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
      <td>
        {{ obj.updated_on|date:"n-j-Y" }}<br/>
        <small class="label secondary">
          {{ obj.updated_on|timesince }} ago</small>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
  <p>You haven't yet created any content.</p>
{% endif %}
