{% load goal_filters %}

{% if obj %}
<form action="{{ obj.get_publish_url }}" method="post">{% csrf_token %}
{% if layout == "dropdown" %}
  {# NOTE: This is clunky, but still allows us to submit this for without extra JS #}
  <a href="#"
    data-dropdown="id-{{obj.id}}-publish-dropdown"
    aria-controls="id-{{obj.id}}-publish-dropdown"
    aria-expanded="false"
    class="tiny button dropdown {{ obj.state_label }}">{{ obj.state_title }}</a><br/>
  <ul id="id-{{obj.id}}-publish-dropdown"
      data-dropdown-content
      class="f-dropdown secondary"
      aria-hidden="true">
  <li><input class="secondary button tiny" style="width: 100%;margin:0;"
    type="submit" name="draft" value="Draft" title="Draft"></li>
  <li><input class="secondary button tiny" style="width: 100%;margin:0;"
    type="submit" name="publish" value="Publish" title="Publish"></li>
  <li><input class="secondary button tiny" style="width: 100%;margin:0;"
    type="submit" name="decline" value="Decline" title="Decline"></li>
  </ul>
{% else %}
  <ul class="button-group">
  <li><button
    name="draft"
    value="1"
    class="button info">
    Draft</button>
  </li>
  <li><button
    name="publish"
    value="1"
    {% if not publishable %}disabled="disabled"{% endif %}
    class="button success{% if not publishable %} disabled{% endif %}">
    Publish</button>
  </li>
  <li><button
    name="decline"
    value="1"
    {% if not declineable %}disabled="disabled"{% endif %}
    class="button alert{% if not declineable %} disabled{% endif %}">
    Decline</button></li>
  </ul>
{% endif %}
</form>
{% endif %}
