{# NOTE: This template is used by views that include the StateFilterMixin #}
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd{% if state_filter == "all" %} class="active"{% endif %}>
    <a href="?state=all">All</a></dd>
  <dd{% if state_filter == "draft" %} class="active"{% endif %}>
    <a href="?state=draft">Draft</a></dd>
  <dd{% if state_filter == "published" %} class="active"{% endif %}>
    <a href="?state=published">Published</a></dd>
  <dd class="{% if state_filter == "pending-review" %}active {% endif %}
    hide-for-small-only"><a href="?state=pending-review">Pending</a></dd>
  <dd class="{% if state_filter == "declined" %}active {% endif %}
    hide-for-small-only"><a href="?state=declined">Declined</a></dd>

  {% if category_list %} {# Additional filters for categories #}
    <dd class="{% if packaged_content %}active {%endif %}
      hide-for-small-only"><a href="?packaged_content=1">Packages</a></dd>
    <dd  class="{% if featured %}active {%endif %}
      hide-for-small-only"><a href="?featured=1">Featured</a></dd>
    <dd  class="{% if selected_by_default %}active {%endif %}
      hide-for-small-only"><a href="?selected_by_default=1">Default</a></dd>
    <dd  class="{% if organizations %}active {% endif %}
      hide-for-small-only"><a href="?organizations=1">Organizations</a></dd>
  {% endif %}
</dl>
