{% extends "base.html" %}

{% block title %}Accept Enrollment{% endblock %}

{% block body %}
<div class="row">
  <div class="large-8 large-offset-2 medium-8 medium-offset-2 small-12 columns end">

  {% if user %}
    <h1>Welcome</h1>

    <p>You've been enrolled in the following custom packages for Compass. Please
    set up your account below, and accept the terms to create an account and
    recieve a link to the app.</p>

    {% if packages %}
      {% for package in packages %}
        <div class="panel">
          <h2>{{ package.category.title }}</h2>
          <ul>
          {% for goal in package.goals.all %}
            <li>{{ goal }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}

    {% if has_form_errors %}
      <div data-alert class="alert-box alert">
        <i class="fa fa-warning"></i> Your information has not been saved. Please
        see the additional information, below.
      </div>
    {% endif %}

    <form action="{% url 'goals:accept-enrollment' user.username %}" method="post">
      {% csrf_token %}

      <fieldset>
        <legend>Your Details</legend>
        {{ user_form.as_p }}
      </fieldset>
      <fieldset>
        <legend>Your Password</legend>
        {{ password_form.as_p }}
      </fieldset>
      <fieldset>
        <legend>Your Privacy</legend>
        {# manually render this form #}
        {% if accept_form.errors %}
          <div data-alert class="alert-box alert">
            <i class="fa fa-warning"></i>
            {% if accept_form.i_accept.errors %}
            You must accept the Terms &amp; Conditions to continue.
            {% endif %}
            {% if accept_form.age_restriction.errors %}
            You must be at least 13 years old to use this app.
            {% endif %}
          </div>
        {% endif %}
        <p>
        {{ accept_form.age_restriction }}
        <label for="{{ accept_form.age_restriction.auto_id }}">
          {{ accept_form.age_restriction.help_text }}</label>
        </p>
        <p>
        {{ accept_form.i_accept }}
        <label for="{{ accept_form.i_accept.auto_id }}">
          I accept the Compass Terms &amp; Conditions.</label>
        </p>
        <p class="helptext">{{ accept_form.i_accept.help_text }}</p>
      </fieldset>

      <hr>
      <input type="submit" class="button" value="Continue"/>
    </form>
  {% else %}

    <h1>Sorry.</h1>
    <p>That link is no longer valid. Please download the Compass app.</p>
  {% endif %}
  </div>
</div> {# end .row #}
{% endblock %}
