{% extends "base.html" %}

{% block title %}Accept Enrollment{% endblock %}

{% block body %}
<div class="row">
  <div class="large-8 large-offset-2 medium-8 medium-offset-2 small-12 columns end">

  {% if user %}
    <h1>Welcome</h1>

    <p>You've been enrolled in the following custom packages for Compass. Please
    set up your account below, and accept the terms to create an account and
    recieve a link to the app.</p>

    {% if packages %}
      {% for package in packages %}
        <div class="panel">
          <h2>{{ package.category.title }}</h2>
          <ul>
          {% for goal in package.goals.all %}
            <li>{{ goal }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}

    {% if has_form_errors %}
      <div data-alert class="alert-box alert">
        <i class="fa fa-warning"></i> Your information has not been saved. Please
        see the additional information, below.
      </div>
    {% endif %}

    <form action="{% url 'goals:accept-enrollment' user.username %}" method="post">
      {% csrf_token %}

      <fieldset>
        <legend>Your Details</legend>
        {{ user_form.as_p }}
      </fieldset>
      <fieldset>
        <legend>Your Password</legend>
        {{ password_form.as_p }}
      </fieldset>
      <fieldset>
        <legend>Your Consent</legend>

        <p>You are being invited to take part in a pilot study for a new mobile
        application. If you volunteer to take part in this study, you will be
        one of about 5-10 people to do so. The person in charge of this study
        is Kevin Newton of Tennessee Data Commons. There may be other people
        on the research team assisting at different times during the study.
        However, no one outside of the Tennessee Data Commons organization
        will have access to any information or data collected without your
        explicit approval.</p>

        <p>By doing this study, we hope to learn more about how individuals
        interact with and utilize this new application. If you are under the
        age of 14, you should not participate in this study. You will be asked
        to download the application to your mobile device and use it in your
        daily life as naturally as possible. This will be accompanied by brief
        interviews and surveys over the next 5 months.</p>

        <p>To the best of our knowledge, the things you will be doing have no
        more risk of harm than you would experience in everyday life. You will
        not get any direct personal benefit from taking part in this study.
        However, the application is meant to increase your productivity, which
        you may find beneficial. If you decide to take part in the study, it
        should be because you really want to volunteer.  You will not lose any
        benefits or rights you would normally have if you choose not to volunteer.
        You can stop at any time during the study and still keep the benefits
        and rights you had before volunteering. As a student, if you decide not
        to take part in this study, your choice will have no effect on your
        academic status, treatment or outcome in the program. There are no costs
        associated with taking part in the study. You will not receive any
        compensation for participating in this study. If you decide to take
        part in the study, you still have the right to decide at any time that
        you no longer want to continue. You will not be treated differently if
        you decide to stop taking part in the study.</p>

        <p>By indicating below, you are agreeing to everything stated above,
        including the agreement to participate.</p>

        {# manually render this form #}
        {% if accept_form.errors %}
          <div data-alert class="alert-box alert">
            <i class="fa fa-warning"></i>
            {% if accept_form.i_accept.errors %}
            You must accept the Terms &amp; Conditions to continue.
            {% endif %}
            {% if accept_form.age_restriction.errors %}
            You must be at least 14 years old to use this app.
            {% endif %}
            {% if accept_form.accept_terms.errors %}
            You must accept the Terms of Service and Privacy Notice.
            {% endif %}
          </div>
        {% endif %}
        <p>
        {{ accept_form.i_accept }}
        <label for="{{ accept_form.i_accept.auto_id }}">
          {{ accept_form.i_accept.help_text }}</label>
        </p>
        <p>
        {{ accept_form.age_restriction }}
        <label for="{{ accept_form.age_restriction.auto_id }}">
          {{ accept_form.age_restriction.help_text }}</label>
        </p>
        <p>
        {{ accept_form.accept_terms }}
        <label for="{{ accept_form.accept_terms.auto_id }}">
          {{ accept_form.accept_terms.help_text|safe }}</label>
        </p>
      </fieldset>

      <hr>
      <input type="submit" class="button" value="Continue"/>
    </form>
  {% else %}

    <h1>Sorry.</h1>
    <p>That link is no longer valid. Please download the Compass app.</p>
  {% endif %}
  </div>
</div> {# end .row #}
{% endblock %}
