{% extends "goals/base.html" %}
{% load goal_tags %}

{% block head %}
  {{ block.super }}
  {# Custom CSS for behavior lists in the side panel #}
  <style type="text/css">#behavior-info{display: none;}</style>
  {{ form.media }}
{% endblock %}


{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:action-list' %}">Actions</a></li>
  <li class="current">
    {% if object %}{{ action }}{% else %}New Action {% endif %}
  </li>
</ul>

<h1>
{% if object %}
  Update {{acton_type|title}} Action: {{object }}
{% else %}
  Create {{action_type|title}} Action
{% endif %}
</h1>

<form
  {# Disable Garlic for custom types, otherwise we have stuff in the wrong place #}
  {% if action_type == "custom" %}data-persist="garlic"{% endif %}
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:action-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="large-6 small-12 columns">
    <p>An <strong>Action</strong> is the unit of activity in which
    users will engage.</p>
    {% include "goals/_form_fields_sans_notes.html" %}
    {% form_buttons object "Action" %}
  </div>
  <div class="large-6 small-12 columns">
    <div id="behavior-info" class="panel">
      <h2>Behavior</h2>
      {% for behavior in behaviors %}
        <div class="behaviors" id="behavior-{{behavior.id}}">
          {% if behavior.description or behavior.informal_list %}
            {% if behavior.description %}
              <em>{{behavior.description}}</em>
            {% endif %}
            {% if behavior.informal_list %}
              <hr/><strong>Informal List</strong><br/>
              {{behavior.informal_list|linebreaks}}
            {% endif %}
          {% else %}
            <em>No description available.</em>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Goal
  -- Behavior
  --- Action 1
  --- Action 2
    </pre>
    <p class="panel">
      {{ form.notes.label_tag }}
      {{ form.notes }} <span class="helptext">{{ form.notes.help_text }}</span>
    </p>

    {% with icon=object.get_absolute_icon %}
      {% if icon %}
        <p class="panel" style="text-align: center;">
          Current Icon:<br/>
          <a href="{{ icon }}" target="_blank">
          <img src="{{ icon }}" alt="{{ object}} icon" /></a>
        </p>
      {% endif %}
    {% endwith %}

    <table>
      <caption>Existing Actions</caption>
      <thead>
        <tr><th>Order</th><th>Behavior</th><th>Title</th></tr>
      </thead>
      <tbody>
      {% for action in actions %}
        <tr>
          <td>{{ action.sequence_order }}</td>
          <td>{{ action.behavior }}</td>
          <td><a href="{{ action.get_absolute_url }}">{{ action }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</form>
{% endblock %}
