{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}

{% block title %}Notifications{% endblock %}

{% block breadcrumbs %}
    <li class="current">Notification</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Notifications
      {% if behavior %}
        <small>for {{ behavior }}</small>
      {% endif %}
      </h2>

      <div data-alert class="alert-box info">
        <a href="#" class="close">&times;</a>
        <i class="fa fa-warning"></i>
        <strong>This content is now paginated</strong><br/>
        With the introduction of many new notifications, this content is now
        split across multiple pages. If you can't find a notification, try
        the search in the menu at the top of this page.
      </div>

      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>
          {% if user|is_editor  or user|is_contributor %}
            <i class="fa fa-cog"></i>
          {% endif %}
          State
        </th>
        <th>Order</th>
        <th>Title</th>
        <th>Notification</th>
        <th>Behavior</th>
        <th>Icon</th>
      </tr>
      </thead>
      <tbody>
      {% for action in actions %}
        <tr>
          <td>
            {% if user|is_editor or user|is_contributor:action %}
              {% publish_deny_form user action "dropdown" %}
            {% else %}
              {{ action|label }}
            {% endif %}
          </td>
          <td>{{ action.sequence_order }}</td>
          <td>
            <a href="{{ action.get_update_url }}" title="Edit">
              <i class="fa fa-edit"></i></a>
            <a href="{{ action.get_absolute_url }}"
               data-tooltip aria-haspopup="true"
               title="{{ action.description }}">{{ action }}</a>
          </td>
          <td>{{ action.notification_text }}</td>
          <td>{{ action.behavior }}</td>
          <td class="gray">
            {% with icon=action.get_absolute_icon %}
              {% if icon %}
                <img src="{{ icon }}" alt="{{ action }} icon" class="list-icon" />
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>

      {# Pagination ... #}
      {% include "goals/_pagination.html" %}

    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

