{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}

{% block title %}Notification: {{ action.title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'goals:action-list' %}">Notifications</a></li>
    <li class="current">{{ action }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ action }} {% goal_object_controls action %}</h1>
      <div style="border-bottom: 1px solid #eee; padding:.25em 0">
        {{ action|label }}
        {{ action|priority_label }}
        <span class="label">Order: {{ action.sequence_order }}</span>
        <span class="label info">{{ action.get_action_type_display }}</span>
      </div>
      <dl>
        <dt>Notification Text</dt>
        <dd>{{ action.notification_text|default:"none" }}</dd>
        <dt>Description</dt>
        <dd>{{ action.description|markdown|default:"none" }}</dd>
        <dt>More Info</dt>
        <dd>{{ action.more_info|markdown|default:"none" }}</dd>
        <dt>Resource Name</dt>
        <dd>{{ action.external_resource_name|default:"none"  }}</dd>
        <dt>External Resource</dt>
        <dd>{{ action.external_resource|urlize|default:"none" }}</dd>
        <dt>Source Link</dt>
        <dd>{{ action.source_link|urlize|default:"none" }}</dd>
        <dt>Source Notes</dt>
        <dd>{{ action.source_notes|markdown|default:"none"  }}</dd>

        {% with trigger=action.default_trigger %}
          {% if trigger %}
            <dt>Default Trigger</dt><dd>
            {% if user|is_editor %}
              {# A simple form to disable the trigger #}
              <form action="{{ action.get_disable_trigger_url }}"
                    method="post"
                    class="pull-right">
                {% csrf_token %}
                {{ disable_trigger_form }}
                <button type="submit" class="button info tiny">
                <i class="fa fa-bell-slash"></i> Disable</button>
              </form>
            {% endif %}
            {{trigger|linebreaks}}</dd>
          {% endif %}
        {% endwith %}

        <dt>Icon</dt>
          <dd class="gray">

          {# ------------- Async file upload form ------------------- #}
          {% if user == action.created_by or user|is_editor %}
          <form action="{{ action.get_async_icon_upload_url }}"
                enctype="multipart/form-data"
                method="post"
                class="dropzone">&nbsp;{% csrf_token %}
          </form>
          {% endif %}
          {# ------------- /Async file upload form ------------------- #}

          {% with icon=action.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ action }} icon" />
            </a>
            <p class="panel callout">
              {% if action.icon %}
              Image details: {{ action.icon|details }}<br/>
              {% endif %}
              Location: <small><a href="{{ icon }}">{{ icon }}</a></small>
            </p>
          {% endif %}
          {% endwith %}

          </dd>
      </dl>
      {% modified action %}
      {% publish_deny_form user action %}
    </div>
    <div class="large-6 small-12 columns">
      {% if action.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ action.notes|markdown }}</div>
      {% endif %}

      <h2>Parent Goal(s)</h2>

      {% for goal in action.goals.all %}
        <h3>{{ goal }}
          <small><a href="{{ goal.get_absolute_url }}"
            class="button secondary tiny pull-right">View</a></small></h3>
        <p>
          {{ goal|label }}
          <span class="label secondary">Order: {{ goal.sequence_order }}</span>
        </p>
        {{ goal.description|markdown }}
        <hr/>
      {% endfor %}

      {# --- TODO: Remove behaviors ---------------------------------------- #}
      {% with behavior=action.behavior %}
      {% if behavior %}
      <h2 class="subheader">Behavior <small>{{ behavior }}</small></h2>
      <div class="alert-box warning">Behaviors will soon be removed.</div>
      <div>
        <a href="{{ behavior.get_absolute_url }}"
           class="button tiny secondary pull-right">View</a>
        {{ behavior.description|markdown }}
      </div>
      <table>
        <tbody>
        <tr><th>State</th><td>{{ behavior|label }}</td></tr>
        <tr><th>Sequence Order</th><td>{{ action.sequence_order }}</td></tr>
        <tr><th>Informal List</th><td>{{ behavior.informal_list|markdown }}</td></tr>
        <tr><th>Categories</th><td>{{ behavior.categories.all|join:", " }}</td></tr>
        <tr><th>Goals</th><td>{{ behavior.goals.all|join:", " }}</td></tr>
        <tr><th>Updated</th><td>{{ behavior.updated_on|timesince }} ago
          by {{ behavior.updated_by.get_full_name }}.</td></tr>
      </table>
      {% endif %}
      {% endwith %}
      {# ------------------------------------------------------------------- #}
    </div>
  </div>
{% endblock %}
