{% extends "goals/base.html" %}
{% load goal_tags %}
{% load crispy_forms_tags %}
{% block title %}Notification Form{% endblock %}

{% block head %}
  {{ block.super }}
  {# Custom CSS for behavior lists in the side panel #}
  <style type="text/css">
    #behavior-info{display: none;}
    #behaviors-table{display:none;width:100%;}
    .existing-action{ display:none;}
  </style>
  {{ form.media }}
  {{ trigger_form.media }}  {# load the recurrences widget #}
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  {# Custom CSS for the recurrences widget #}
  <style type="text/css">
  div.recurrence-widget {
    margin-bottom: 1em;
    float:none;
    max-width:400px;
    overflow:auto;
  }
  div.panels > div.panel {
    border-width: 0px; margin:0px; padding:.5em;
    border-bottom: 1px solid #ddd;
  }
  div.recurrence-widget a.add-date {display:none;}
  ul.until-count {display:block;}
  ul.until-count li.until,
  ul.until-count li.count {display:block; padding:0 !important;}
  </style>
{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'goals:action-list' %}">Notifications</a></li>
  <li class="current">
    {% if object %}{{ action }}{% else %}New Notification{% endif %}
  </li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="large-6 small-12 columns">
    <h1>
    {% if object %}
      Update {{acton_type_name}} {{object }}
    {% else %}
      Create {{action_type_name}}
    {% endif %}
    </h1>
    <p>A <strong>Notification</strong> is a container for information that
    is delivered to a user. It also contains information regarding the frequency
    with which notifications are delivered.</p>
    {% include "goals/_action_type_info.html" %}
  </div>
  <div class="large-6 small-12 columns">
    <div class="panel">
    <p><i class="fa fa-info-circle"></i> Notifications are related to other
    pieces of data in the following manner. Categories contain goals, goals
    contain behaviors, and behavior may have numerous notifications.</p>
    <hr/>
    <pre>
Category
  - Goal
  -- Behavior
  --- Notification
    </pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
  {% if num_user_selections %}
    <div data-alert class="alert-box">
      <i class="fa fa-hand-o-right"></i>
      {{ num_user_selections }} users have selected this item. Please keep
      this in mind when making changes. <a href="#" class="close">&times;</a>
    </div>
  {% endif %}

  {% if form.errors or trigger_form.errors %}
    <div class="alert-box alert">
      <i class="fa fa-warning"></i> <strong>Notification not saved</strong><br/>
      There was a problem saving your action. See the messages below.
    </div>
  {% endif %}
  </div>
</div> {# end .row #}

<form
  {# Disable Garlic for custom types, otherwise we have stuff in the wrong place #}
  {% if action_type == "custom" %}data-persist="garlic"{% endif %}
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:action-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}

  {# --- Panel with details on behaviors; activated on <select> chagned ---- #}
  <div id="behavior-info" class="panel">
    <h2>Behavior</h2>
    {% for behavior in behaviors %}
      <div class="behaviors" id="behavior-{{behavior.id}}">
        {% if behavior.description or behavior.informal_list %}
          {% if behavior.description %}
            <em>{{behavior.description}}</em>
          {% endif %}
          {% if behavior.informal_list %}
            <hr/><strong>Informal List</strong><br/>
            {{behavior.informal_list|linebreaks}}
          {% endif %}
        {% else %}
          <em>No description available.</em>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {# ----------------------------------------------------------------------- #}

  {% crispy form %}

  <div class="row">
    <div class="large-6 small-12 columns">
      {% crispy trigger_form %}
      {#{% form_buttons object "Action" %}#}
    </div>
    <div class="large-6 small-12 columns">
      {% with icon=object.get_absolute_icon %}
        {% if icon %}
          <p class="panel" style="text-align: center;">
            Current Icon:<br/>
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ object}} icon" /></a>
          </p>
        {% endif %}
      {% endwith %}
    </div> {# end .columns #}
  </div> {# end .row #}
  <div class="row">
    <div class="large-12 small-12 columns">
      {% form_buttons object "Action" %}
    </div>
  </div>
</form>

{# NOTE: We can't have forms within forms, so this has to be down here. #}
{% if action.default_trigger %}
<form action="{{ action.get_disable_trigger_url }}"
      method="post"
      class="pull-right"
      id="disable-trigger-form">
  {% csrf_token %}
  {{ disable_trigger_form }}
</form>
{% endif %}
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $('.datepicker').datepicker({'format': 'mm/dd/yyyy'});
    $("div.recurrence-widget").find(".add-date").attr("href", "#").hide();
  });

  {# NOTE: only add the ability to submit this if we have a default trigger #}
  {% if action.default_trigger %}
  $("#disable-trigger-button").click(function() {
    $("#disable-trigger-form").submit();
  });
  {% endif %}

  {# ActionTriggerForm: if `start_when_selected` is chosen, empty/disable the reminder date #}
  var trigger_date = $("#id_trigger-trigger_date");
  var start_when_selected = $("#id_trigger-start_when_selected");
  if(start_when_selected.is(":checked")) {
    trigger_date.val('').prop('disabled', 'disabled');
  }

  $(start_when_selected).change(function() {
    if(this.checked) {
      trigger_date.val('').prop("disabled", "disabled");
    } else {
      trigger_date.prop("disabled", "");
    }
  });

  {# If we select relative value/units, auto-check the start when selected #}
  $("#id_trigger-relative_units").change(function() {
    if($(this).val()) {
      trigger_date.val('').prop("disabled", "disabled");
      start_when_selected.prop("checked", true);
    }
  });
  $("#id_trigger-relative_value").change(function() {
    if($(this).val() && parseInt($(this).val()) > 0) {
      trigger_date.val('').prop("disabled", "disabled");
      start_when_selected.prop("checked", true);
    }
  });
  </script>
{% endblock %}
