{% extends "goals/base.html" %}

{% block content %}
<div class="row">
  <div class="large-12 small-12 columns">
    <h1>Actions</h1>
    <table>
    <thead>
      <tr>
        <th>Action</th>
        <th>Interests</th>
        <th>Categories/Groups</th>
      </tr>
    </thead>
    <tbody>
    {% for action in actions %}
      <tr>
        <td>
          <strong>
            <a href="{{ action.get_absolute_url }}">{{ action }}</a>
          </strong><br/>
          {{ action.summary|truncatewords:10}}
        </td>
        <td>
          {% for int in action.interests.all %}
            <a href="{{ int.get_absolute_url }}">{{ int }}</a>
          {% empty %}
            <em>None</em>
          {% endfor %}
        </td>
        <td>
          {% for group in action.groups %}
            <a href="{{ group.category.get_absolute_url }}">{{ group }}</a>
          {% empty %}
            <em>None</em>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div> {# end .row #}
</div> {# end .row #}
{% endblock %}

