{% extends "goals/base.html" %}
{% load goal_tags %}
{% block title %}Action Form{% endblock %}

{% block head %}
  {{ block.super }}
  {# Custom CSS for behavior lists in the side panel #}
  <style type="text/css">#behavior-info{display: none;}</style>
  {{ form.media }}
  {{ trigger_form.media }}  {# load the recurrences widget #}
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  {# Custom CSS for the recurrences widget #}
  <style type="text/css">
  div.recurrence-widget {
    margin-bottom: 1em;
    float:none;
    max-width:400px;
    overflow:auto;
  }
  div.panels > div.panel {
    border-width: 0px; margin:0px; padding:.5em;
    border-bottom: 1px solid #ddd;
  }
  div.recurrence-widget a.add-date {display:none;}
  </style>
{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'goals:action-list' %}">Actions</a></li>
  <li class="current">
    {% if object %}{{ action }}{% else %}New Action {% endif %}
  </li>
{% endblock %}

{% block content %}
<h1>
{% if object %}
  Update {{acton_type|title}} Action: {{object }}
{% else %}
  Create {{action_type|title}} Action
{% endif %}
</h1>

{% if num_user_selections %}
  <div data-alert class="alert-box">
    <i class="fa fa-hand-o-right"></i>
    {{ num_user_selections }} users have selected this item. Please keep
    this in mind when making changes. <a href="#" class="close">&times;</a>
  </div>
{% endif %}

<form
  {# Disable Garlic for custom types, otherwise we have stuff in the wrong place #}
  {% if action_type == "custom" %}data-persist="garlic"{% endif %}
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:action-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="large-6 small-12 columns">
    <p>An <strong>Action</strong> is the unit of activity in which
    users will engage.</p>
    {% include "goals/_form_fields_sans_notes.html" %}
    <fieldset>
      <legend>Reminder Details</legend>
      {{ trigger_form.as_p }}
    </fieldset>
    {% form_buttons object "Action" %}
  </div>
  <div class="large-6 small-12 columns">
    <div id="behavior-info" class="panel">
      <h2>Behavior</h2>
      {% for behavior in behaviors %}
        <div class="behaviors" id="behavior-{{behavior.id}}">
          {% if behavior.description or behavior.informal_list %}
            {% if behavior.description %}
              <em>{{behavior.description}}</em>
            {% endif %}
            {% if behavior.informal_list %}
              <hr/><strong>Informal List</strong><br/>
              {{behavior.informal_list|linebreaks}}
            {% endif %}
          {% else %}
            <em>No description available.</em>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Goal
  -- Behavior
  --- Action 1
  --- Action 2
    </pre>
    <p class="panel">
      {{ form.notes.label_tag }}
      {{ form.notes }} <span class="helptext">{{ form.notes.help_text }}</span>
    </p>

    {% with icon=object.get_absolute_icon %}
      {% if icon %}
        <p class="panel" style="text-align: center;">
          Current Icon:<br/>
          <a href="{{ icon }}" target="_blank">
          <img src="{{ icon }}" alt="{{ object}} icon" /></a>
        </p>
      {% endif %}
    {% endwith %}

    <table>
      <caption>Existing Actions</caption>
      <thead>
        <tr><th>Order</th><th>Behavior</th><th>Title</th></tr>
      </thead>
      <tbody>
      {% for action in actions %}
        <tr>
          <td>{{ action.sequence_order }}</td>
          <td>{{ action.behavior }}</td>
          <td><a href="{{ action.get_absolute_url }}">{{ action }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</form>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $('.datepicker').datepicker({'format': 'mm/dd/yyyy'});
    $("div.recurrence-widget").find(".add-date").attr("href", "#").hide();
  });
  </script>
{% endblock %}
