{% extends "goals/base.html" %}
{% load goal_filters %}


{% block content %}

  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Action</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Action</h2>
      <table class="object-list">
      <thead>
      <tr>
        <th>Order</th>
        <th>Title</th>
        <th>State</th>
        <th>Notification</th>
        <th>Behavior</th>
        <th>Icon</th>
      </tr>
      </thead>
      <tbody>
      {% for action in actions %}
        <tr>
          <td>{{ action.sequence_order }}</td>
          <td>
            <a href="{{ action.get_absolute_url }}">
              {{ action }}</a>
          </td>
          <td>{{ action.state|label }}</td>
          <td>{{ action.behavior }}</td>
          <td>{{ action.notification_text }}</td>
          <td class="gray">
            {% with icon=action.get_absolute_icon %}
              {% if icon %}
                <img src="{{ icon }}" alt="{{ action }} icon" class="list-icon" />
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

