{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}

{% block title %}A: {{ action.title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'goals:action-list' %}">Actions</a></li>
    <li class="current">{{ action }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ action }} {% goal_object_controls action %}</h1>
      <dl>
        <dt>State</dt><dd>{{ action|label }}</dd>
        <dt>Sequence Order</dt><dd>{{ action.sequence_order }}</dd>
        <dt>Action Type</dt><dd>{{ action.get_action_type_display }}</dd>

        <dt>Description</dt><dd>{{ action.description|markdown }}</dd>
        <dt>More Info</dt><dd>{{ action.more_info|markdown }}</dd>
        <dt>Resource Name</dt><dd>{{ action.external_resource_name }}</dd>
        <dt>External Resource</dt><dd>{{ action.external_resource|urlize}}</dd>
        <dt>Default Trigger</dt>
          {% with trigger=action.default_trigger %}
          <dd>
            {% if trigger.time %}{{ trigger.time }}{% endif %}
            {% if trigger.trigger_date %}{{ trigger.trigger_date }}{% endif %}
            {% if trigger.recurrences %}
              <br/><em>{{ trigger.recurrences_as_text }}</em>
            {% endif %}
          </dd>
          {% endwith %}
        <dt>Notification Text</dt><dd>{{ action.notification_text }}</dd>
        <dt>Icon</dt><dd class="gray">
          {% with icon=action.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ action }} icon" />
            </a>
            <p class="panel callout">
              {% if action.icon %}
              Image details: {{ action.icon|details }}<br/>
              {% endif %}
              Location: <small><a href="{{ icon }}">{{ icon }}</a></small>
            </p>
          {% else %}
            <em>No icon available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Source Link</dt><dd>{{ action.source_link|urlize}}</dd>
        <dt>Source Notes</dt><dd>{{ action.source_notes|markdown }}</dd>
      </dl>
      {% modified action %}
      {% if perms.goals.publish_action %}{% publish_deny_form action %}{% endif %}
    </div>
    <div class="large-6 small-12 columns">
      {% if action.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ action.notes|markdown }}</div>
      {% endif %}

      <h2 class="subheader">Behavior</h2>
      {% with behavior=action.behavior%}
      <p>
        {{ behavior|label }}
        <a href="{{ behavior.get_absolute_url }}">{{ behavior}}</a>
      </p>
      <table>
        <tbody>
        <tr><th>Sequence Order</th><td>{{ action.sequence_order }}</td></tr>
        <tr><th>Informal List</th><td>{{ behavior.informal_list|markdown }}</td></tr>
        <tr><th>Categories</th><td>{{ behavior.categories.all|join:", " }}</td></tr>
        <tr><th>Goals</th><td>{{ behavior.goals.all|join:", " }}</td></tr>
      </table>
      {% endwith %}
    </div>
  </div>
{% endblock %}
