{% extends "base.html" %}
{% load static from staticfiles %}


{% block title %}Goals{% endblock %}

{% block head %}
{# Datatables' Foundation CSS (see bodyjs block for the JS) #}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/foundation/dataTables.foundation.css" />
<link rel="stylesheet" href="{% static 'js/chosen/chosen.css' %}" />
<style type="text/css">
.breadcrumbs {margin-top:1em;}
select[multiple] {min-height: 100px;}
/* Nested lists; i.e. the tree of Goals/Behaviors/Actions */
ul.nested {list-style-type:none; margin-left: 0px;}
ul.nested ul {list-style-type:none;}
ul.nested ul li ul {list-style-type:none;}
/* Styles for helptext */
span.helptext {color:#777; font-style:italic;}
form select,
form input[type="text"], form p input[type="date"], form p input[type="password"]
form input[type="datetime"], form p input[type="datetime-local"],
form input[type="month"], form p input[type="week"], form p input[type="email"],
form input[type="number"], form p input[type="search"], form p input[type="tel"],
form input[type="time"], form p input[type="url"], form p input[type="color"],
form textarea {
  margin-bottom: 0px;
}
div.row.field-row {margin-bottom: 1em;}

textarea[rows] {height: 100px;}
/* customize the color-picker input */
input.color-picker {float: left; width: 100px; padding:0px; margin-right: 20px;}
/* icons in the list view */
img.list-icon {width:50px;height:50px;}
.gray {background-color:#ddd;}

/* jquery-ui datepicker style */
#ui-datepicker-div {
  background-color: white;
  border: 1px solid #aaa;
  padding: .5em .5em 0 .5em;
  box-shadow: 0 0 .5em #ccc;
}
a.ui-datepicker-next { float:right; }
.ui-datepicker-today {background-color: #ddd;}
</style>
{% endblock %}


{% block body %}
  <div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" title="Project Home"><i class="fa fa-home"></i></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    {# Right Nav Section #}
    <ul class="right">
      <li class="divider"></li>
      <li><a href="{% url 'userprofile:index' %}">
        <i class="fa fa-user"></i> Account</a></li>
      <li class="divider"></li>
      <li><a href="/admin/">
        <i class="fa fa-unlock"></i> Admin</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}">
        <i class="fa fa-sign-out"></i> Sign Out</a></li>
    </ul>

    {# Left Nav Section #}
    <ul class="left">
      <li class="divider"></li>
      <li><a href="{% url 'goals:index' %}">
        <i class="fa fa-info-circle"></i></a></li>
      {% if perms.goals.view_category %}
        <li class="divider"></li>
        <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
      {% endif %}
      {% if perms.goals.view_goal %}
        <li class="divider"></li>
        <li><a href="{% url 'goals:goal-list' %}">Goals</a></li>
      {% endif %}
      {% if perms.goals.view_trigger %}
        <li class="divider"></li>
        <li><a href="{% url 'goals:trigger-list' %}">Triggers</a></li>
      {% endif %}
      {% if perms.goals.view_behavior %}
        <li class="divider"></li>
        <li><a href="{% url 'goals:behavior-list' %}">Behaviors</a></li>
      {% endif %}
      {% if perms.goals.view_action %}
        <li class="divider"></li>
        <li><a href="{% url 'goals:action-list' %}">Actions</a></li>
      {% endif %}
      <li class="divider"></li>

      {# Check all of the 'add' permissions before including the drop-down #}
      {% if perms.goals.add_category or goals.add_goal or perms.goals.add_trigger or perms.goals.add_behavior or perms.goals.add_action %}

      <li class="has-dropdown">
        <a href="#"><i class="fa fa-plus-circle"></i> New</a>
        <ul class="dropdown">
        {% if perms.goals.add_category %}
          <li><a href="{% url 'goals:category-create' %}">Category</a></li>
        {% endif %}
        {% if perms.goals.add_goal %}
          <li><a href="{% url 'goals:goal-create' %}">Goal</a></li>
        {% endif %}
        {% if perms.goals.add_trigger %}
          <li><a href="{% url 'goals:trigger-create' %}">Trigger</a></li>
        {% endif %}
        {% if perms.goals.add_behavior %}
          <li><a href="{% url 'goals:behavior-create' %}">Behavior</a></li>
        {% endif %}
        {% if perms.goals.add_action %}
          <li><a href="{% url 'goals:action-create' %}">Action</a></li>
        {% endif %}
        </ul>
      </li>
      <li class="divider"></li>
      {% endif %} {# end check for all perms #}
    </ul>
  </section>
  </nav>
  </div>

  <div class="row">
    <div class="large-12 small-12 columns">

    {# django.contrib.messages #}
    {% if messages %}
      {% for message in messages %}
        <div data-alert class="alert-box {{message.tags}}">
          {{ message }} <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
    </div>
  </div>

{% endblock %}

{% block bodyjs %}
  {{ block.super }}
  {# Include DataTables Core and Foundation-specific JS #}
  <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/foundation/dataTables.foundation.js"></script>
  <script src="{% static 'js/garlic.min.js' %}"></script> {# Garlic.js: Save form state in localstorage #}
  <script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
  <script>
  $(document).ready(function() {
    // Apply datatables to all .object-list tables.
    $('table.object-list').DataTable({paging:false});

    // Use chosen for all <select> elements
    $('select').chosen();
  });
  </script>
{% endblock %}
