{% extends "base.html" %}


{% block title %}Goals{% endblock %}

{% block head %}
<style type="text/css">
select[multiple] {min-height: 100px;}
/* Styles for helptext within a <p> tag, e.g. when using form.as_p */
p span.helptext {color:#777; font-style:italic;}
/* remove whitespace for helptext */
form p select,
form p input[type="text"], form p input[type="date"], form p input[type="password"]
form p input[type="datetime"], form p input[type="datetime-local"],
form p input[type="month"], form p input[type="week"], form p input[type="email"],
form p input[type="number"], form p input[type="search"], form p input[type="tel"],
form p input[type="time"], form p input[type="url"], form p input[type="color"],
form p textarea {
  margin-bottom: 0px;
}
</style>
{% endblock %}


{% block body %}
  <div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{% url 'goals:index' %}">Goals</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    {# Right Nav Section #}
    <ul class="right">
      <li class="divider"></li>
      <li class="active"><a href="{% url 'goals:upload-csv' %}">Upload CSV</a></li>
      <li class="divider"></li>
      <li><a href="/admin/">Admin</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}">Sign Out</a></li>
    </ul>

    {# Left Nav Section #}
    <ul class="left">
      <li class="divider"></li>
      <li><a href="{% url 'goals:group-list' %}">Interest Groups</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'goals:interest-list' %}">Interests</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'goals:action-list' %}">Actions</a></li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">New</a>
        <ul class="dropdown">
          <li><a href="{% url 'goals:category-create' %}">Category</a></li>
          <li><a href="{% url 'goals:group-create' %}">Interest Group</a></li>
          <li><a href="{% url 'goals:interest-create' %}">Interest</a></li>
          <li><a href="{% url 'goals:action-create' %}">Action</a></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>
  </section>
  </nav>
  </div>

  <div class="row">
    <div class="large-12 small-12 columns">

    {# django.contrib.messages #}
    {% if messages %}
      {% for message in messages %}
        <div data-alert class="alert-box {{message.tags}}">
          {{ message }} <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
    </div>
  </div>

  {% endblock %}
