{% extends "base.html" %}
{% load static from staticfiles %}
{% load goal_tags %}

{% block title %}Goals{% endblock %}

{% block head %}
{# Datatables' Foundation CSS (see bodyjs block for the JS) #}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/foundation/dataTables.foundation.css" />
<link rel="stylesheet" href="{% static 'js/chosen/chosen.css' %}" />
<link rel="stylesheet" href="{% static 'js/dropzone/basic.css' %}" />
<style type="text/css">
.breadcrumbs {margin-top:1em;}
select[multiple] {min-height: 100px;}
/* Nested lists; i.e. the tree of Goals/Behaviors/Actions */
ul.nested {list-style-type:none; margin-left: 0px;}
ul.nested ul {list-style-type:none;}
ul.nested ul li ul {list-style-type:none;}
dl dd {border-bottom:1px solid #eee;}
/* Styles for helptext */
span.helptext, .hint {color:#777; font-style:italic;}
div.hint { margin-bottom: 1em;}
form select,
form input[type="text"], form p input[type="date"], form p input[type="password"]
form input[type="datetime"], form p input[type="datetime-local"],
form input[type="month"], form p input[type="week"], form p input[type="email"],
form input[type="number"], form p input[type="search"], form p input[type="tel"],
form input[type="time"], form p input[type="url"], form p input[type="color"],
form textarea {
  margin-bottom: 0px;
}
form fieldset {border:0px; border-top:1px solid #ddd;margin:0;}
form fieldset legend {padding:0 1rem;font-size:1.5rem;}
form div.holder {clear: both;margin-bottom: 1em;}
div.row.field-row {margin-bottom: 1em;}

textarea[rows] {height: 100px;}
/* customize the color-picker input */
input.color-picker {float: left; width: 100px; padding:0px; margin-right: 20px;}
/* icons in the list view */
img.list-icon {width:50px;height:50px;}
.gray {background-color:#ddd;}
.centered {text-align:center;}

/* jquery-ui datepicker style */
#ui-datepicker-div {
  background-color: white;
  border: 1px solid #aaa;
  padding: .5em .5em 0 .5em;
  box-shadow: 0 0 .5em #ccc;
}
a.ui-datepicker-next { float:right; }
.ui-datepicker-today {background-color: #ddd;}
.image-details {font-size: .8em;}
div.modified {
  border-top:1px solid #ddd;
  background-color: #eee;
  color:#aaa;
  margin:1em 0;
  padding: 1em;
  font-size: .8em;
}
div.modified em {color:#888;}
form.dropzone {
  width:100%;
  min-height:100px;
  text-align: center;
  border:3px dotted #aaa;
}
</style>
{% endblock %}


{% block topnav %}
  <div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" title="Project Home"><i class="fa fa-chevron-left"></i></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    {# Right Nav Section #}
    <ul class="right">
      <li class="divider"></li>
      <li><a href="{% url 'haystack_search' %}">
        <i class="fa fa-search"></i></a></li>
      <li class="divider"></li>
      <li><a href="{% url 'userprofile:index' %}">
        <i class="fa fa-user"></i> Account</a></li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="/admin/"><i class="fa fa-unlock"></i> Admin</a>
        <ul class="dropdown">
          <li><a href="{% url 'goals:debug_progress' %}">
            User Progress</a></li>
          <li><a href="{% url 'goals:debug_notifications' %}">
            User Notifications</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}">
        <i class="fa fa-sign-out"></i> Sign Out</a></li>
    </ul>

    {# Left Nav Section #}
    <ul class="left">
      <li class="divider"></li>
      <li><a href="{% url 'goals:index' %}">
        <i class="fa fa-info-circle"></i></a></li>
      {% if perms.goals.view_category %}
        <li class="divider"></li>
        {% with addobj=perms.goals.add_category %}
        <li class="has-dropdown">
          <a href="{% url 'goals:category-list' %}">Categories</a>
          <ul class="dropdown">
          <li><a href="{% url 'goals:package-list' %}">Packages</a></li>
          {% if addobj %}
          <li><a href="{% url 'goals:category-create' %}">
            <i class="fa fa-plus-circle"></i> Category</a></li>
          {% endif %}
          </ul>
        </li>
        {% endwith %}
      {% endif %}
      {% if perms.goals.view_goal %}
        <li class="divider"></li>
        {% with addobj=perms.goals.add_goal %}
        <li{% if addobj %} class="has-dropdown"{% endif %}>
          <a href="{% url 'goals:goal-list' %}">Goals</a>
          {% if addobj %}
          <ul class="dropdown">
            <li><a href="{% url 'goals:goal-create' %}">
            <i class="fa fa-plus-circle"></i> Goal</a></li>
          </ul>
          {% endif %}
        </li>
        {% endwith %}
      {% endif %}
      {% if perms.goals.view_behavior %}
        <li class="divider"></li>
        {% with addobj=perms.goals.add_goal %}
        <li{% if addobj %} class="has-dropdown"{% endif %}>
          <a href="{% url 'goals:behavior-list' %}">Behaviors</a>
          {% if addobj %}
          <ul class="dropdown">
            <li><a href="{% url 'goals:behavior-create' %}">
            <i class="fa fa-plus-circle"></i> Behavior</a></li>
          </ul>
          {% endif %}
        </li>
        {% endwith %}
      {% endif %}
      {% if perms.goals.view_action %}
        <li class="divider"></li>
        {% with addobj=perms.goals.add_action %}
        <li{% if addobj %} class="has-dropdown"{% endif %}>
          <a href="{% url 'goals:action-list' %}">Actions</a>
          {% if addobj %}
            <ul class="dropdown">
            {% action_creation_menu %}
            </ul>
          {% endif %}
        </li>
        {% endwith %}
      {% endif %}
      {% if perms.goals.view_trigger and user.is_staff %}
        <li class="divider"></li>
        <li><a href="{% url 'goals:trigger-list' %}">Triggers</a></li>
      {% endif %}
      <li class="divider"></li>
    </ul>
  </section>
  </nav>
  </div>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="large-12 small-12 columns">

    {# wrapper for breadcrumbs #}
    <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    {% block breadcrumbs %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block bodyjs %}
  {{ block.super }}
  {# Include DataTables Core and Foundation-specific JS #}
  <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/foundation/dataTables.foundation.js"></script>
  <script src="{% static 'js/garlic.min.js' %}"></script> {# Garlic.js: Save form state in localstorage #}
  <script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
  <script src="{% static 'js/dropzone/dropzone.js' %}"></script>
  <script>
  $(document).ready(function() {
    // Apply datatables to all .object-list tables.
    $('table.object-list').DataTable({paging:false});

    // Use chosen for all <select> elements
    $('select').chosen();
  });
  </script>
{% endblock %}
