{% extends "goals/base.html" %}

{% block content %}

  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Action</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Action</h2>
      <table class="object-list">
      <thead>
      <tr>
        <th>Order</th>
        <th>Title</th>
        <th>Sequence</th>
      </tr>
      </thead>
      <tbody>
      {% for action in actions %}
        <tr>
          <td>{{ action.sequence_order }}</td>
          <td>
            <a href="{{ action.get_absolute_url }}">
              {{ action }}</a>
          </td>
          <td>{{ action.sequence }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

