{% extends "goals/base.html" %}
{% load goal_tags %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Goals</a></li>
    <li><a href="{% url 'goals:behaviorsequence-list' %}">Behavior Sequences</a></li>
    <li class="current">{{ behaviorsequence.name }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ behaviorsequence.name }} {% object_controls behaviorsequence %}</h1>
      <dl>
        <dt>Name</dt><dd>{{ behaviorsequence.name }}</dd>
        <dt>Title</dt><dd>{{ behaviorsequence.title }}</dd>
        <dt>Informal List</dt><dd>{{ behaviorsequence.informal_list|linebreaks }}</dd>
        <dt>Notes</dt><dd>{{ behaviorsequence.description|linebreaks }}</dd>
        <dt>Description</dt><dd>{{ behaviorsequence.description|linebreaks }}</dd>
        <dt>Case</dt><dd>{{ behaviorsequence.case|linebreaks }}</dd>
        <dt>Outcome</dt><dd>{{ behaviorsequence.outcome|linebreaks }}</dd>
        <dt>Narrative Block</dt><dd>{{ behaviorsequence.narrative_block|linebreaks }}</dd>
        <dt>External Resource</dt><dd>{{ behaviorsequence.external_resource }}</dd>
        <dt>Default Trigger</dt><dd>{{ behaviorsequence.default_trigger }}</dd>
        <dt>Notification Text</dt><dd>{{ behaviorsequence.notificiation_text }}</dd>
        <dt>Icon</dt><dd>
          {% if behaviorsequence.icon %}
            <img src="{{ behaviorsequence.icon.url }}" alt="{{ behaviorsequence.name }} icon" />
          {% else %}
            <em>No icon available</em>
          {% endif %}
        </dd>
        <dt>Image</dt><dd>
          {% if behaviorsequence.image %}
            <img src="{{ behaviorsequence.image.url }}" alt="{{ behaviorsequence.name }} image" />
          {% else %}
            <em>No image available</em>
          {% endif %}
        </dd>
        <dt>Source Notes</dt><dd>{{ behaviorsequence.source_notes}}</dd>
        <dt>Source Link</dt><dd>{{ behaviorsequence.source_link}}</dd>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Categories</h2>
      <ul>
      {% for cat in behaviorsequence.categories.all %}<li>{{ cat }}</li>{% endfor %}
      </ul>
      <h2 class="subheader">Interests</h2>
      <ul>
      {% for interest in behaviorsequence.interests.all %}<li>{{ interest }}</li>{% endfor %}
      </ul>

      <h2 class="subheader">Goals</h2>
      <ul>
      {% for goal in behaviorsequence.goals.all %}<li>{{ goal }}</li>{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
