{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li><a href="{% url 'goals:behavior-list' %}">Behaviors</a></li>
    <li class="current">{{ behavior }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ behavior }} {% object_controls behavior "goals" %}</h1>
      <dl>
        <dt>State</dt><dd>{{ behavior.state|label }}</dd>
        <dt>Title</dt><dd>{{ behavior.title }}</dd>
        <dt>Source Link</dt><dd>{{ behavior.source_link}}</dd>
        <dt>Source Notes</dt><dd>{{ behavior.source_notes|markdown}}</dd>
        <dt>Notes</dt><dd>{{ behavior.notes|markdown }}</dd>
        <dt>Narrative Block</dt><dd>{{ behavior.narrative_block|markdown }}</dd>
        <dt>Description</dt><dd>{{ behavior.description|markdown }}</dd>
        <dt>Outcome</dt><dd>{{ behavior.outcome|markdown }}</dd>
        <dt>External Resource</dt><dd>{{ behavior.external_resource }}</dd>
        <dt>Informal List</dt><dd>{{ behavior.informal_list|markdown }}</dd>

        <dt>Default Trigger</dt><dd>{{ behavior.default_trigger }}</dd>
        {#<dt>Notification Text</dt><dd>{{ behavior.notification_text }}</dd>#}
        <dt>Icon</dt><dd class="gray">
          {% with icon=behavior.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ behavior }} icon" />
            </a>
          {% else %}
            <em>No icon available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Image</dt><dd class="gray">
          {% with image=behavior.get_absolute_image %}
          {% if image %}
            <a href="{{ image }}" target="_blank">
            <img src="{{ image }}" alt="{{ behavior }} image" />
            </a>
          {% else %}
            <em>No image available</em>
          {% endif %}
          {% endwith %}
        </dd>
      </dl>
      {% modified behavior %}
      {% if perms.goals.publish_behavior %}{% publish_deny_form behavior %}{% endif %}

    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Categories</h2>
      <ul>
      {% for cat in behavior.categories.all %}<li>{{ cat }}</li>{% endfor %}
      </ul>
      <h2 class="subheader">Goals</h2>
      <ul>
      {% for goal in behavior.goals.all %}<li>{{ goal }}</li>{% endfor %}
      </ul>
      <h2 class="subheader">Actions</h2>
      <ul>
      {% for ba in behavior.action_set.all %}<li>{{ ba }}</li>{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
