{% extends "goals/base.html" %}

{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:behaviorsequence-list' %}">Behavior Sequences</a></li>
  <li class="current">
    {% if object %}{{ behaviorsequence }}{% else %}New Behavior Sequence {% endif %}
  </li>
</ul>

<h1>{% if object %}Update Behavior Sequence: {{object}}{% else %}Create Behavior Sequence{% endif %}</h1>
<div class="row">
  <div class="large-6 small-12 columns">
    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:behaviorsequence-create' %}{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>A <strong>Behavior Sequence</strong> is the top-level organizational unit for
    behavior-change Actions, and is the first thing a user will see in the app.</p>
    {{ form.as_p }}
    <hr/>
    {% if object %}
      <button type="submit">Update Behavior Sequence</button>
    {% else %}
      <button type="submit">Create Behavior Sequence</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Interest
  -- Goal
  --- Behavior Sequence
  ---- Behavior Action 1
  ---- Behavior Action 2
    </pre>
    <table>
      <caption>Existing Behavior Sequences</caption>
      <thead>
        <tr><th>Title</th><th>Informal List</th></tr>
      </thead>
      <tbody>
      {% for bs in behaviorsequences %}
        <tr>
          <td><a href="{{ cat.get_absolute_url }}">{{ bs }}</a></td>
          <td>{{ bs.informal_list|linebreaksbr }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
