{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}

{% block title %}Behaviors{% endblock %}

{% block breadcrumbs %}
    <li class="current">Behaviors</li>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Behavior
      {% if goal %}
        <small>for {{ goal }}</small>
      {% endif %}
      </h2>
      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>
          {% if user|is_editor or user|is_contributor %}
            <i class="fa fa-cog"></i>
          {% endif %}
          State
        </th>
        <th>Icon</th>
        <th>Order</th>
        <th>Title</th>
        <th style="width:200px;max-width: 200px;">Informal List</th>
        <th style="width:200px;max-width: 200px;">Related Content</th>
        <th>Selected By</th>
      </tr>
      </thead>
      <tbody>
      {% for behavior in behaviors %}
        {% with behavior_url=behavior.get_absolute_url %}
        <tr>
          <td>
            {# if we're using dynamic notifications but no PREP actions #}
            {% comment %} XXX Disabling bucket-related stuff
            {% if behavior.action_buckets_prep == 0 and behavior.contains_dynamic %}
            <span class="label warning" data-tooltip aria-haspopup="true"
                  title="This Behavior contains Dynamic Notifications, and requires at least one Reinforcing Notification"><i class="fa fa-warning"></i> Action Required</span>
            {% endif %}
            {% endcomment %}

            {% if user|is_editor or user|is_contributor:behavior %}
              {% publish_deny_form user behavior "dropdown" %}
            {% else %}
              {{ behavior|label }}
            {% endif %}
          </td>
          <td class="gray">
          {% with icon=behavior.get_absolute_icon %}
            {% if icon %}
              <a href="{{ behavior_url }}">
              <img src="{{ icon }}" alt="{{ behavior }} icon" class="list-icon"/>
              </a>
            {% endif %}
          {% endwith %}
          </td>
          <td>{{ behavior.sequence_order }}</td>
          <td>
            <a href="{{ behavior.get_update_url }}" title="Edit">
              <i class="fa fa-edit"></i></a>
            <a href="{{ behavior_url }}"
               data-tooltip aria-haspopup="true"
               title="{{ behavior.description }}">{{ behavior }}</a>
          </td>
          <td style="width:200px;max-width: 200px;">
            {{ behavior.informal_list|linebreaksbr|default:"-" }}
          </td>
          <td style="width:200px;max-width: 200px;">
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
                <a href="#behavior-{{behavior.id}}-cats">Categories
                  <span class="label tiny round">
                  {{behavior.categories.count }}</span></a>
                <div id="behavior-{{behavior.id}}-cats" class="content">
                {% for c in behavior.categories.all %}
                  <a href="{{ c.get_absolute_url }}">
                    <span class="label secondary radius">{{ c }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#behavior-{{behavior.id}}-goals">Goals
                  <span class="label tiny round">
                  {{ behavior.goals.count }}</span></a>
                <div id="behavior-{{behavior.id}}-goals" class="content">
                {% for g in behavior.goals.all %}
                  <a href="{{ g.get_absolute_url }}"
                     data-tooltip aria-haspopup="true"
                     title="{{ g.description }}">
                    <span class="label secondary radius">{{ g }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#behavior-{{behavior.id}}-actions">Actions
                  <span class="label tiny round">
                  {{ behavior.action_set.count }}</span></a>
                <div id="behavior-{{behavior.id}}-actions" class="content">
                {% for a in behavior.action_set.all %}
                  <a href="{{ a.get_absolute_url }}"
                     data-tooltip aria-haspopup="true"
                     title="{{ a.description }}">
                    <span class="label secondary radius">{{ a }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
            </ul>
          </td>
          <td>{{ behavior.userbehavior__count }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}
