{% extends "goals/base.html" %}
{% load goal_tags %}

{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:behavior-list' %}">Behaviors</a></li>
  <li class="current">
    {% if object %}{{ behavior }}{% else %}New Behavior
 {% endif %}
  </li>
</ul>

<h1>{% if object %}Update Behavior
: {{object}}{% else %}Create Behavior
{% endif %}</h1>

 <form
  data-persist="garlic"
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:behavior-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="large-6 small-12 columns">

    {# Render all but the 'notes' field #}
    {% include "goals/_form_fields_sans_notes.html" %}
    {% form_buttons object "Behavior" %}
  </div>
  <div class="large-6 small-12 columns">
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Goal
  -- Behavior
  --- Action 1
  --- Action 2
    </pre>
    <p class="panel">
      {{ form.notes.label_tag }}
      {{ form.notes }} <span class="helptext">{{ form.notes.help_text }}</span>
    </p>

    {% with icon=object.get_absolute_icon %}
      {% if icon %}
        <p class="panel" style="text-align: center;">
          Current Icon:<br/>
          <a href="{{ icon }}" target="_blank">
          <img src="{{ icon }}" alt="{{ object }} icon" /></a>
        </p>
      {% endif %}
    {% endwith %}

    <table>
      <caption>Existing Behaviors</caption>
      <thead>
        <tr><th>Title</th><th>Informal List</th></tr>
      </thead>
      <tbody>
      {% for bs in behaviors %}
        <tr>
          <td><a href="{{ cat.get_absolute_url }}">{{ bs }}</a></td>
          <td>{{ bs.informal_list|linebreaksbr }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</form>
{% endblock %}
