{% extends "goals/base.html" %}

{% block content %}

  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Behaviors</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Behavior</h2>
      <table class="object-list">
      <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
        <th>Goals</th>
        <th>Categories</th>
        <th>Informal List</th>
      </tr>
      </thead>
      <tbody>
      {% for behavior in behaviors %}
        <tr>
          <td>
            <a href="{{ behavior.get_absolute_url }}">
              {{ behavior }}</a>
          </td>
          <td>{{ behavior.action_set.all|join:", " }}</td>
          <td>{{ behavior.goals.all|join:", " }}</td>
          <td>{{ behavior.categories.all|join:", " }}</td>
          <td>{{ behavior.informal_list|linebreaksbr }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

