{% extends "goals/base.html" %}
{% load util_tags %}
{% load util_filters %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li><a href="{% url 'goals:behaviorsequence-list' %}">Behavior Sequences</a></li>
    <li class="current">{{ behaviorsequence }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ behaviorsequence }} {% object_controls behaviorsequence %}</h1>
      <dl>
        <dt>Title</dt><dd>{{ behaviorsequence.title }}</dd>
        <dt>Informal List</dt><dd>{{ behaviorsequence.informal_list|markdown }}</dd>
        <dt>Notes</dt><dd>{{ behaviorsequence.notes|markdown }}</dd>
        <dt>Description</dt><dd>{{ behaviorsequence.description|markdown }}</dd>
        <dt>Narrative Block</dt><dd>{{ behaviorsequence.narrative_block|markdown }}</dd>
        <dt>External Resource</dt><dd>{{ behaviorsequence.external_resource }}</dd>
        <dt>Default Trigger</dt><dd>{{ behaviorsequence.default_trigger }}</dd>
        <dt>Notification Text</dt><dd>{{ behaviorsequence.notification_text }}</dd>
        <dt>Icon</dt><dd>
          {% if behaviorsequence.icon %}
            <img src="{{ behaviorsequence.icon.url }}" alt="{{ behaviorsequence }} icon" />
          {% else %}
            <em>No icon available</em>
          {% endif %}
        </dd>
        <dt>Image</dt><dd>
          {% if behaviorsequence.image %}
            <img src="{{ behaviorsequence.image.url }}" alt="{{ behaviorsequence }} image" />
          {% else %}
            <em>No image available</em>
          {% endif %}
        </dd>
        <dt>Source Notes</dt><dd>{{ behaviorsequence.source_notes|markdown}}</dd>
        <dt>Source Link</dt><dd>{{ behaviorsequence.source_link}}</dd>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Categories</h2>
      <ul>
      {% for cat in behaviorsequence.categories.all %}<li>{{ cat }}</li>{% endfor %}
      </ul>
      <h2 class="subheader">Goals</h2>
      <ul>
      {% for goal in behaviorsequence.goals.all %}<li>{{ goal }}</li>{% endfor %}
      </ul>
      <h2 class="subheader">Actions</h2>
      <ul>
      {% for ba in behaviorsequence.behavioraction_set.all %}<li>{{ ba }}</li>{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
