{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}
{% load static from staticfiles %}

{% block title %}B: {{ behavior.title }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:behavior-list' %}">Behaviors</a></li>
  <li class="current">{{ behavior }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ behavior }} {% goal_object_controls behavior %}</h1>

      {% comment %} XXX Disabling bucket stuff
      {% if contains_dynamic and behavior.action_buckets_prep == 0 %}
        <div data-alert class="alert-box warning">
          <i class="fa fa-warning"></i> This Behavior contains Dynamic
          Notifications, but does not contain any Reinforcing Notifications. This
          will prevent users from receiving notifications in their proper order.
          Please add a <a href="{{ action_url }}">
          Reinforcing Notification</a>. <a href="#" class="close">&times;</a>
        </div>
      {% endif %}
      {% endcomment %}

      <dl>
        <dt>State</dt><dd>{{ behavior|label }}</dd>
        <dt>Sequence Order</dt><dd>{{ behavior.sequence_order }}</dd>
        <dt>Description</dt><dd>{{ behavior.description|markdown }}</dd>
        <dt>More Info</dt><dd>{{ behavior.more_info|markdown }}</dd>
        <dt>Action List</dt><dd>{{ behavior.informal_list|markdown }}</dd>
        <dt>External Resource</dt><dd>{{ behavior.external_resource }}</dd>
        <dt>Icon</dt><dd class="gray">
          {# ------------- Async file upload form ------------------- #}
          {% if user == behavior.created_by or user|is_editor %}
          <form action="{{ behavior.get_async_icon_upload_url }}"
                enctype="multipart/form-data"
                method="post"
                class="dropzone">&nbsp;{% csrf_token %}
          </form>
          {% endif %}
          {# ------------- /Async file upload form ------------------- #}
          {% with icon=behavior.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ behavior }} icon" />
            </a>
            <p class="panel callout">
              {% if behavior.icon %}
              Image details: {{ behavior.icon|details }}<br/>
              {% endif %}
              Location: <small><a href="{{ icon }}">{{ icon }}</a></small>
            </p>
          {% else %}
            <em>No icon available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Default Trigger</dt>
          {% with trigger=behavior.default_trigger %}
          <dd>{{ trigger }}
            {% if trigger.recurrences %}
              <br/><em>{{ trigger.recurrences_as_text }}</em>
            {% endif %}
          </dd>
          {% endwith %}
        <dt>Source Link</dt><dd>{{ behavior.source_link|urlize}}</dd>
        <dt>Source Notes</dt><dd>{{ behavior.source_notes|markdown}}</dd>
      </dl>
      {% modified behavior %}
      {% if perms.goals.publish_behavior %}{% publish_deny_form behavior %}{% endif %}

    </div>
    <div class="large-6 small-12 columns">
      {% if behavior.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ behavior.notes|markdown }}</div>
      {% endif %}
      <h2 class="subheader">Categories</h2>
      <ul>
      {% for cat in behavior.categories %}
        <li>
          {{ cat|label }}
          <a href="{{ cat.get_absolute_url }}">{{ cat }}</a>
        </li>
      {% empty %}
        <li><em>This behavior is not associated with any Categories.</em></li>
      {% endfor %}
      </ul>
      <h2 class="subheader">Goals</h2>
      <ul>
      {% for goal in behavior.goals.all %}
        <li>
          {{ goal|label }}
          <strong>{{ goal.sequence_order }}:</strong>
          <a href="{{ goal.get_absolute_url }}">{{ goal }}</a>
        </li>
      {% empty %}
        <li><em>This behavior is not associated with any Goals.</em></li>
      {% endfor %}
      </ul>
      <h2 class="subheader">Notifications</h2>
      {% csrf_token %} {# needed by our ordering forms #}

      <ul class="action-list">
      {% for action in behavior.action_set.all %}
        <li>
          {# -- Allow re-ordering actions --------------- #}
          <select
            id="action-update-{{action.id}}"
            class="pull-left no-chosen action-update"
            style="margin: 0 20px 0 0;width:50px;"
            data-actionid="{{action.id}}">
          {% for v in order_values %}
            <option
              value="{{v}}"
              {% if action.sequence_order == v %} selected="selected"{% endif %}>
              {{v}}</option>
          {% endfor %}
          </select>
          {# -------------------------------------------- #}
          {{ action|label }} <span class="label secondary">
            {{ action.get_action_type_display }}</span>
          <a href="{{ action.get_absolute_url }}">{{ action }}</a>
          <small>{{ action.default_trigger.time_details }}</small>
        </li>
      {% empty %}
        <li><em>This behavior does not contain any actions.</em></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/ordering.js' %}"></script>
{% endblock %}
