{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li><a href="{% url 'goals:behavior-list' %}">Behaviors</a></li>
    <li class="current">{{ behavior }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ behavior }} {% goal_object_controls behavior %}</h1>
      <dl>
        <dt>State</dt><dd>{{ behavior.state|label }}</dd>
        <dt>Description</dt><dd>{{ behavior.description|markdown }}</dd>
        <dt>More Info</dt><dd>{{ behavior.more_info|markdown }}</dd>
        <dt>Action List</dt><dd>{{ behavior.informal_list|markdown }}</dd>
        <dt>External Resource</dt><dd>{{ behavior.external_resource }}</dd>
        <dt>Icon</dt><dd class="gray">
          {% with icon=behavior.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ behavior }} icon" />
            </a>
          {% else %}
            <em>No icon available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Default Trigger</dt>
          {% with trigger=behavior.default_trigger %}
          <dd>{{ trigger }}
            {% if trigger.recurrences %}
              <br/><em>{{ trigger.recurrences_as_text }}</em>
            {% endif %}
          </dd>
          {% endwith %}
        <dt>Source Link</dt><dd>{{ behavior.source_link|urlize}}</dd>
        <dt>Source Notes</dt><dd>{{ behavior.source_notes|markdown}}</dd>
      </dl>
      {% modified behavior %}
      {% if perms.goals.publish_behavior %}{% publish_deny_form behavior %}{% endif %}

    </div>
    <div class="large-6 small-12 columns">
      {% if behavior.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ behavior.notes|markdown }}</div>
      {% endif %}
      <h2 class="subheader">Categories</h2>
      <ul>
      {% for cat in behavior.categories %}
        <li>
          {{ cat.state|label }}
          <a href="{{ cat.get_absolute_url }}">{{ cat }}</a>
        </li>
      {% endfor %}
      </ul>
      <h2 class="subheader">Goals</h2>
      <ul>
      {% for goal in behavior.goals.all %}
        <li>
          {{ goal.state|label }}
          <a href="{{ goal.get_absolute_url }}">{{ goal }}</a>
        </li>
      {% endfor %}
      </ul>
      <h2 class="subheader">Actions</h2>
      <ul>
      {% for action in behavior.action_set.all %}
        <li>
          {{ action.state|label }}
          <a href="{{ action.get_absolute_url }}">{{ action }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
