{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}

{% block title %}Behaviors{% endblock %}

{% block breadcrumbs %}
    <li class="current">Behaviors</li>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Behavior
      {% if goal %}
        <small>for {{ goal }}</small>
      {% endif %}
      </h2>
      <div data-alert class="alert-box info">
        <a href="#" class="close">&times;</a>
        <i class="fa fa-warning"></i>
        <strong>This content is now paginated</strong><br/>
        This content is now split across multiple pages so that it will load
        more quickly. If you can't find a behavior, try the search in
        the menu at the top of this page.
      </div>

      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>State</th>
        <th>Icon</th>
        <th>Order</th>
        <th>Title</th>
        <th style="width:200px;max-width: 200px;">Informal List</th>
        {#<th style="width:200px;max-width: 200px;">Related Content</th>#}
        <th data-tooltip aria-haspopup="true"
            title="The number of users who will see this content in the app.">
          Selected By</th>
      </tr>
      </thead>
      <tbody>
      {% for behavior in behaviors %}
        {% with behavior_url=behavior.get_absolute_url %}
        <tr>
          <td>
            {% if user|is_editor or user|is_contributor:behavior %}
              {% publish_deny_form user behavior "dropdown" %}
            {% else %}
              {{ behavior|label }}
            {% endif %}
          </td>
          <td class="gray">
          {% with icon=behavior.get_absolute_icon %}
            {% if icon %}
              <a href="{{ behavior_url }}">
              <img src="{{ icon }}" alt="{{ behavior }} icon" class="list-icon"/>
              </a>
            {% endif %}
          {% endwith %}
          </td>
          <td>{{ behavior.sequence_order }}</td>
          <td>
            <a href="{{ behavior.get_update_url }}" title="Edit">
              <i class="fa fa-edit"></i></a>
            <a href="{{ behavior_url }}"
               data-tooltip aria-haspopup="true"
               title="{{ behavior.description }}">{{ behavior }}</a>
          </td>
          <td style="width:200px;max-width: 200px;">
            {{ behavior.informal_list|linebreaksbr|default:"-" }}
          </td>
          <td>{{ behavior.userbehavior__count }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
      </table>

      {# Pagination ... #}
      {% include "goals/_pagination.html" %}

    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}
