{% extends "goals/base.html" %}

{% block head %}
  {{ block.super }}
  {# Custom CSS for behavior sequece lists in the side panel #}
  <style type="text/css">
  #sequence-info{display: none;}
  </style>
{% endblock %}


{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:behavioraction-list' %}">Behavior Actions</a></li>
  <li class="current">
    {% if object %}{{ behavioraction }}{% else %}New Behavior Action {% endif %}
  </li>
</ul>

<h1>{% if object %}Update Behavior Action: {{object }}{% else %}Create Behavior Action{% endif %}</h1>
<div class="row">
  <div class="large-6 small-12 columns">
    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:behavioraction-create' %}{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>A <strong>Behavior Action</strong> is the unit of activity in which
    users will engage.</p>
    {{ form.as_p }}
    <hr/>
    {% if object %}
      <button type="submit">Update Behavior Action</button>
    {% else %}
      <button type="submit">Create Behavior Action</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <div id="sequence-info" class="panel">
      <h2>Behavior Sequence</h2>
      {% for seq in behaviorsequences %}
        <div class="sequence" id="bs-{{seq.id}}">
          {{seq.informal_list|linebreaks}}
        </div>
      {% endfor %}
    </div>
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Interest
  -- Goal
  --- Behavior Sequence
  ---- Behavior Action 1
  ---- Behavior Action 2
    </pre>
    <table>
      <caption>Existing Behavior Actions</caption>
      <thead>
        <tr><th>Behavior Sequence</th><th>Order</th><th>Name</th><th>Title</th></tr>
      </thead>
      <tbody>
      {% for bs in behavioractions %}
        <tr>
          <td>{{ bs.sequence }}</td>
          <td>{{ bs.sequence_order }}</td>
          <td><a href="{{ cat.get_absolute_url }}">{{ bs }}</a></td>
          <td>{{ bs.title }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
  {{ block.super }}
  <script>
  var toggle_sequence_details = function(selector) {
      $("#sequence-info").show();
      $(".sequence").hide(); // hide all other sequences.
      $(selector).show(); // show the selected one.
      $("#sequence-info h2").text($("#id_sequence option:selected").text());

  }

  $(document).ready(function() {
    $("#id_sequence").change(function() {
      var selected_id = "#bs-" + $(this).val();
      toggle_sequence_details(selected_id);
    });

    // Show any pre-selected sequence.
    var selected_id = $("#id_sequence").val();
    if(selected_id) {
      selected_id = "#bs-" + selected_id;
      toggle_sequence_details(selected_id);
    };
  });
  </script>
{% endblock %}
