{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}
{% load static from staticfiles %}

{% block title %}C: {{ category.title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
    <li class="current">{{ category }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>
        {% if category.is_packaged %}Package: {% endif %}
        {{ category }} {% goal_object_controls category %}</h1>
      <dl>
        <dt>State</dt><dd>
          {{ category|label }}
          {% if category.is_packaged %}
            <span data-tooltip aria-haspopup="true"
              title="This category is part of a package"
              class="label info">Package</span>
          {% endif %}
          {% if category.selected_by_default %}
            <span data-tooltip aria-haspopup="true"
              title="This category is pre-selected for new users"
              class="label">Default</span>
          {% endif %}
          {% if category.featured %}
            <span data-tooltip aria-haspopup="true"
              title="This is a featured category." class="label">Featured</span>
          {% endif %}
          {% if category.grouping >= 0 %}
            <span data-tooltip aria-haspopup="true"
              title="Group order / name for this catgory." class="label secondary">
              {{ category.grouping }} / {{ category.grouping_name }}</span>
          {% endif %}
        </dd>
        <dt>Description</dt><dd>{{ category.description|markdown }}</dd>
        {% if category.organizations.count %}
        <dt>Organizations</dt><dd>
          <ul>
          {% for org in category.organizations.all %}
            <li><a href="{{ org.get_absolute_url }}">{{ org }}</a></li>
          {% endfor %}
        </dd>
        {% endif %}
        {% if category.hidden_from_organizations.exists %}
        <dt>Hidden from members of:</dt>
        <dd>
          <ul>
          {% for org in category.hidden_from_organizations.all %}
            <li>{{ org }}</li>
          {% endfor %}
          </ul>
        </dd>
        {% endif %}
        <dt>Icon</dt><dd class="gray centered">
          {% with icon=category.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ category }} icon" />
            </a>
            <p class="panel">
              {% if category.icon %}
              Image details: {{ category.icon|details }}<br/>
              {% endif %}
              Location: <small>
                <a href="{{ icon }}">{{ icon|truncatechars:40 }}</a></small>
            </p>
          {% else %}
            <em>No icon available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Hero Image</dt><dd>
          {% with image=category.get_absolute_image %}
          {% if image %}
            <a href="{{ image }}" target="_blank">
            <img src="{{ image }}" alt="{{ category }} image" />
            </a>
            <p class="panel">
              Image details: {{ category.image|details }}<br/>
              Location: <small><a href="{{ image }}">{{ image }}</a></small>
            </p>
          {% else %}
            <em>No image available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Color(s)</dt><dd>
          <span style="display:inline-block;width:22px;height:22px;background-color:{{category.color}};">&nbsp;</span>
          <code>{{ category.color }}</code> - Primary<br/>

          {% if category.secondary_color %}
            <span style="display:inline-block;width:22px;height:22px;background-color:{{category.secondary_color|default:'#ccc'}};">&nbsp;</span>
            <code>{{ category.secondary_color }}</code> - Secondary
          {% endif %}
         </dd>
        <dt>Selected by default?</dt>
        <dd>{{ category.selected_by_default|iconbool }}: This category is
          {% if not category.selected_by_default %}not{% endif %}
          pre-selected for new users.
        </dd>
        <dt>Featured</dt>
        <dd>{{ category.featured|iconbool }}:
          {% if category.grouping >= 0 %}
          This category is featured as part of the
          <strong>{{ category.get_grouping_display }}</strong>
          group, and will be listed promintently within the app.
          {% endif %}
        </dd>
      </dl>
      {% if category.is_packaged %}

      <h2 class="subheader">Package Details</h2>
      <dl>
        <dt>Package Contributors</dt>
        <dd>
          {% for contributor in category.package_contributors.all %}
            {{ contributor.get_full_name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </dd>
        <dt>Prevent Custom Triggers default</dt>
        <dd>{{ category.prevent_custom_triggers_default|iconbool }}</dd>
        <dt>Display the Prevent Custom Triggers Option during enrollment</dt>
        <dd>{{ category.display_prevent_custom_triggers_option|iconbool }}</dt>
        <dt>Consent Summary</dt><dd>
          <div class="panel">{{ category.rendered_consent_summary|safe }}</div>
        </dd>
        <dt>Consent More Info</dt><dd>
          <div class="panel">{{ category.rendered_consent_more|safe }}</div>
        </dd>
      </dl>
      {% endif %}

      {% modified category %}
      {% publish_deny_form user category %}
    </div>
    <div class="large-6 small-12 columns">
      {% if category.package_contributors.exists %}
        <h2 class="subheader">Contributors</h2>
        <div class="panel">
          <p>The following people are listed as package contributors on this Category:</p>
          <ul>
          {% for contrib in category.package_contributors.all %}
            <li>
              {{ contrib.get_full_name }}
              <small>
                &lt;<a href="mailto:{{ contrib.email }}">{{ contrib.email }}</a>&gt;
              </small>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if category.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ category.notes|markdown }}</div>
      {% endif %}
      <h2 class="subheader">Available Content</h2>
      {% csrf_token %} {# needed by our ordering forms #}
      <p>
        <a class="pull-right button tiny secondary"
           href="{% url 'goals:goal-list' %}?category={{ category.id }}">
           <i class="fa fa-eye"></i> View Goals</a>
        <strong>{{ category }}</strong>
        contains the following Goals, Behaviors, and Notifications.
      </p>
      <ul class="accordion" data-accordion>
      {% for goal in category.goals %}
        <li class="accordion-navigation clearfix">
          <a href="#goal-{{goal.id}}">
            <div class="pull-right">{{ goal|label }}</div>
            {# -- Allow re-ordering goals --------------- #}
            {% if user|is_author %}
            <select
              id="goal-update-{{goal.id}}"
              class="pull-left no-chosen goal-update"
              style="margin: 0 20px 0 0;width:50px;"
              data-goalid="{{goal.id}}">
            {% for v in order_values %}
              <option
                value="{{v}}"
                {% if goal.sequence_order == v %} selected="selected"{% endif %}>
                {{v}}</option>
            {% endfor %}
            </select>
            {% endif %}
            {# -------------------------------------------- #}
            {{ goal }}
          </a>
          <div id="goal-{{ goal.id }}" class="content">

          {# Link to the goal's detail page #}
          <p class="text-right" style="margin:0;padding:0">
            <a href="{{ goal.get_absolute_url }}" class="button tiny" target="_blank">
              <i class="fa fa-external-link"></i> View Goal: {{ goal }}
            </a>
          </p>

          {% for behavior in goal.behavior_set.all %}
            <dl>
              <dt class="clearfix">
                <div class="pull-right">{{ behavior|label }}</div>
                {{ behavior.sequence_order }}:
                <a href="{{ behavior.get_absolute_url }}"
                   data-tooltip aria-haspopup="true"
                   title="{{ behavior.description }}">{{behavior}}</a>
              </dt>
              <dd class="clearfix">
                <ul class="action-list">
                {% for action in behavior.action_set.all %}
                  <li>
                    {{ action|label }}
                    {{ action.sequence_order }}:
                    <a href="{{ action.get_absolute_url }}"
                       data-tooltip aria-haspopup="true"
                       title="{{ action.description }}">{{ action }}</a>
                    {% with trigger=action.default_trigger %}
                      {% if trigger %}
                        <br/><small>{{ trigger.time_details }}</small>
                      {% endif %}
                    {% endwith %}
                    <small>| {{ action.get_priority_display }} priority.</small>
                  </li>
                {% empty %}
                  <li><em>There are no actions in this behavior</em></li>
                {% endfor %}
                </ul>
              </dd>
            </dl>
          {% empty %}
            <em>There are no Behaviors/Actions in this Goal.</em>
          {% endfor %}
          </div>
        </li>
      {% endfor %}
      </ul>

      <p style="margin-top:15px;" class="pull-right">
        <a class="button tiny info"
            href="{% url 'goals:goal-create' %}?category={{ category.id }}">
            <i class="fa fa-plus-circle"></i> New Goal</a></p>
    </div>
  </div>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  {% if user|is_author %}
  <script type="text/javascript" src="{% static 'js/ordering.js' %}"></script>
  {% endif %}
{% endblock %}
