{% extends "goals/base.html" %}
{% load goal_filters %}

{% block content %}

  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Categories</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Categories</h2>
      <table class="object-list">
      <thead>
      <tr>
        <th>Order</th>
        <th>Color</th>
        <th>Title</th>
        <th>State</th>
        <th>Goals</th>
        <th>Behaviors</th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ category.order }}</td>
          <td>
            <div class="color"
                 style="height:25px;width:25px;background-color:{{ category.color}};">
            </div>
          </td>
          <td>
              <a href="{{ category.get_absolute_url }}">{{ category }}</a>
          </td>
          <td>{{ category.state|label }}</td>
          <td>{{ category.goals|join:", " }}</td>
          <td>{{ category.behavior_set.all|join:", " }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

