{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
    <li class="current">{{ category }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ category }} {% goal_object_controls category %}</h1>
      <dl>
        <dt>State</dt><dd>{{ category.state|label }}</dd>
        <dt>Default Order</dt><dd>{{ category.order }}</dd>
        <dt>Description</dt><dd>{{ category.description|markdown }}</dd>

        <dt>Icon</dt><dd>
          {% with icon=category.get_absolute_icon %}
          {% if icon %}
            <a href="{{ icon }}" target="_blank">
            <img src="{{ icon }}" alt="{{ category }} icon" />
            </a>
            <p class="panel callout">
              {% if category.icon %}
              Image details: {{ category.icon|details }}<br/>
              {% endif %}
              Location: <small><a href="{{ icon }}">{{ icon }}</a></small>
            </p>
          {% else %}
            <em>No icon available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Hero Image</dt><dd>
          {% with image=category.get_absolute_image %}
          {% if image %}
            <a href="{{ image }}" target="_blank">
            <img src="{{ image }}" alt="{{ category }} image" />
            </a>
            <p class="panel callout">
              Image details: {{ category.image|details }}<br/>
              Location: <small><a href="{{ image }}">{{ image }}</a></small>
            </p>
          {% else %}
            <em>No image available</em>
          {% endif %}
          {% endwith %}
        </dd>
        <dt>Color</dt><dd>
          <span style="display:inline-block;width:22px;height:22px;background-color:{{category.color}};">
          </span>
          {{ category.color }}
         </dd>
        <dt>Secondary Color</dt><dd>
          <span style="display:inline-block;width:22px;height:22px;background-color:{{category.secondary_color|default:'#ccc'}};">
          </span>
          {{ category.secondary_color|default:"not set" }}
         </dd>
      </dl>
      {% modified category %}
      {% if perms.goals.publish_category %}{% publish_deny_form category %}{% endif %}

    </div>
    <div class="large-6 small-12 columns">
      {% if category.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ category.notes|markdown }}</div>
      {% endif %}
      <h2 class="subheader">Content</h2>
      <p><strong>{{ category }}</strong>
        contains the following Goals, Behaviors, and Actions:</p>
      <ul class="nested">
      {% for goal in category.goals %}
        <li><span class="label secondary" title="Goal">G</span>
          <a href="{{ goal.get_absolute_url }}">{{ goal }}</a>
          {{ goal.state|label }}
          <ul>
          {% for bs in goal.behavior_set.all %}
            <li><span class="label secondary" title="Behavior">B</span>
              <a href="{{ bs.get_absolute_url }}">{{bs}}</a>
              {{ bs.state|label }}
              <ul>
                {% for ba in bs.action_set.all %}
                  <li><span class="label secondary" title="Action">A</span>
                    <a href="{{ ba.get_absolute_url }}">{{ ba }}</a>
                    {{ba.state|label}}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
