{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load crispy_forms_tags %}


{% block title %}Category Form{% endblock %}


{% block head %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
  <li class="current">
    {% if object %}{{ category }}{% else %}New Category {% endif %}
  </li>
{% endblock %}


{% block content %}
<h1>{% if object %}Update Category: {{object}}{% else %}Create Category{% endif %}</h1>
<p>A <strong>Category</strong> is the top-level organizational unit for
Goals &amp; their Actions, and is the first thing a user will see in the app.</p>

<form
  data-persist="garlic"
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:category-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}

  {% crispy form %}
  <div class="row">
    <div class="large-12 small-12 columns">
    {% form_buttons object "Category" %}
    </div>
  </div>
</form>

{% endblock %}
