{% extends "goals/base.html" %}
{% load goal_tags %}
{% block title %}Category Form{% endblock %}


{% block head %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}


{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
  <li class="current">
    {% if object %}{{ category }}{% else %}New Category {% endif %}
  </li>
</ul>

<h1>{% if object %}Update Category: {{object}}{% else %}Create Category{% endif %}</h1>
<form
  data-persist="garlic"
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:category-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="large-6 small-12 columns">
    <p>A <strong>Category</strong> is the top-level organizational unit for
    behavior-change Actions, and is the first thing a user will see in the app.</p>
    {# Render all but the 'notes' field #}
    {% include "goals/_form_fields_sans_notes.html" %}
    {% form_buttons object "Category" %}
  </div>
  <div class="large-6 small-12 columns">
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Goal
  -- Behavior
  --- Action 1
  --- Action 2
    </pre>
    <p class="panel">
      {{ form.notes.label_tag }}
      {{ form.notes }} <span class="helptext">{{ form.notes.help_text }}</span>
    </p>
    <table>
      <caption>Existing Categories</caption>
      <thead>
        <tr><th>Order</th><th>Name</th></tr>
      </thead>
      <tbody>
      {% for cat in categories %}
        <tr>
          <td>{{ cat.order }}</td>
          <td><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</form>
{% endblock %}
