{% extends "goals/base.html" %}

{% block content %}
<h1>{% if object %}Update Category: {{object.name}}{% else %}Create Category{% endif %}</h1>
<div class="row">
  <div class="large-6 small-12 columns">
    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:category-create' %}{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>A <strong>Category</strong> is the top-level organizational unit for
    behavior-change Actions, and is the first thing a user will see in the app.</p>

    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
  Category
    - Interest Group
      - Interest 1
        - Action 1
        - Action 2
      - Interest 2
        - Action 3
        - Action 4
    </pre>
    <p>To create a category, add information to the following fields:</p>
    {{ form.as_p }}
    <hr/>
    <h2 class="subheader">Interest Groups</h2>
    <p>You may also create groups in which Interests can be later added. All
    of these are optional.</p>
    {{ formset }}
    {{ formset.management_form }}
    <hr/>
    {% if object %}
      <button type="submit">Update Category</button>
    {% else %}
      <button type="submit">Create Category</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <table>
      <caption>Existing Categories</caption>
      <thead>
        <tr><th>Order</th><th>Name</th></tr>
      </thead>
      <tbody>
      {% for cat in categories %}
        <tr>
          <td>{{ cat.order }}</td>
          <td><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
