{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}
{% load util_filters %}

{% block title %}Categories{% endblock %}


{% block breadcrumbs %}
    <li class="current">Categories</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Categories</h2>
      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>State</th>
        <th>Category</th>
        <th>
          <span data-tooltip aria-haspopup="true"
            title="Content contained within the category">Child Content</span>
        </th>
        <th>
          <span data-tooltip aria-haspopup="true"
            title="Number of users who have selected this category">Selected</span>
        </th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
        {% with category_url=category.get_absolute_url %}
        <tr>
          <td>
            {% if user|is_editor or user|is_contributor:category %}
              {% publish_deny_form user category "dropdown" %}
            {% else %}
              {{ category|label }}
            {% endif %}
          </td>
          <td>
              <a href="{{ category.get_update_url }}" title="Edit">
                <i class="fa fa-edit"></i></a>
              {# Category TITLE #}
              <strong><a href="{{ category_url }}">{{ category }}</a></strong><br/>

              {# Labels for Category package, default #}
              {% if category.hide_from_organizations %}
                <span class="label alert" data-tooltip aria-haspopup="true"
                  title="This category is hidden from organization members">
                  <i class="fa fa-ban"></i> Organizations</span>
              {% endif %}
              {% if category.is_packaged %}
                <span class="label info" data-tooltip aria-haspopup="true"
                  title="This category's content is organized as a package.">Package</span>
              {% endif %}
              {% if category.selected_by_default %}
                <span class="label" data-tooltip aria-haspopup="true"
                  title="This category is pre-selected for new users.">Default</span>
              {% endif %}
              {% if category.featured %}
                <span class="label" data-tooltip aria-haspopup="true"
                  title="Featured categories get listed prominently within the app.">Featured</span>
              {% endif %}
              {% if category.grouping >= 0 %}
                <span data-tooltip aria-haspopup="true"
                  title="Group order / name for this catgory." class="label secondary">
                  {{ category.grouping }} / {{ category.grouping_name }}</span>
              {% endif %}

              {% if category.organizations.exists %}
                <br/>
                {% for org in category.organizations.all %}
                  <span class="label warning" data-tooltip aria-haspopup="true"
                    title="An Organization">{{ org.name }}</span>
                {% endfor %}
              {% endif %}
              {% if category.program_set.exists %}
                <br/>
                {% for program in category.program_set.all %}
                  <span class="label secondary" data-tooltip aria-haspopup="true"
                    title="An Organizational Program">{{ program }}</span>
                {% endfor %}
              {% endif %}

              {# Image (if any) #}
              {% with image=category.get_absolute_image %}
                {% if image %}
                  <div class="gray centered pull-right">
                  <img src="{{ image }}" class="list-icon" alt="{{ category }} hero image"/>
                  </div>
                {% endif %}
              {% endwith %}

              {# Icon (if any) #}
              {% with icon=category.get_absolute_icon %}
                {% if icon %}
                  <div class="gray centered pull-right">
                  <img src="{{ icon }}" class="list-icon" alt="{{ category }} icon"/>
                  </div>
                {% endif %}
              {% endwith %}

              {# Colors (if any) #}
              {% with c1=category.color c2=category.secondary_color %}
              <div class="pull-right">
                <div class="color" data-tooltip aria-haspopup="true"
                     title="{{ c1 }}"
                     style="height:25px;width:25px;background-color:{{ c1 }};">
                </div>
                {% if category.secondary_color %}
                <div class="color" data-tooltip aria-haspopup="true"
                     title="{{ c2 }}"
                     style="height:25px;width:25px;background-color:{{ c2 }};">
                </div>
                {% endif %}
              </div>
              {% endwith %}
          </td>
          <td>
            {# Accordian containing Goals / Behaviors #}
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
                <a href="#category-{{category.id}}-goals">Goals</a>
                <div id="category-{{category.id}}-goals" class="content">
                {% for goal in category.goals %}
                  <a href="{{ goal.get_absolute_url }}"
                     title="[{{ goal.state }}] {{ goal.description }}">
                    <span class="label radius {{goal.state_label}}">
                      {{ goal }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#category-{{category.id}}-behaviors">Behaviors</a>
                <div id="category-{{category.id}}-behaviors" class="content">
                {% for b in category.behaviors %}
                  <a href="{{ b.get_absolute_url }}"
                     title="[{{b.state}}] {{ b.description }}">
                    <span class="label radius {{b.state_label}}">{{ b }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
            </ul>
          </td>
          <td>{{ category.usercategory__count }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

