{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}
{% load util_filters %}

{% block title %}Categories{% endblock %}


{% block breadcrumbs %}
    <li class="current">Categories</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Categories</h2>
      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>
          {% if user|is_editor %}
            <i class="fa fa-cog"></i>
          {% endif %}
          State
        </th>
        <th>Category</th>
        <th>
          <span data-tooltip aria-haspopup="true"
            title="Content contained within the category">Child Content</span>
        </th>
        <th>
          <span data-tooltip aria-haspopup="true"
            title="Number of users who have selected this category">Selected</span>
        </th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
        {% with category_url=category.get_absolute_url %}
        <tr>
          <td>
            {% if user|is_editor %}
              {% publish_deny_form category "dropdown" %}
            {% else %}
              {{ category|label }}
            {% endif %}
          </td>
          <td>
              {# Category TITLE #}
              <strong><a href="{{ category_url }}">{{ category }}</a></strong><br/>

              {# Labels for Category package, default #}
              {% if category.is_packaged %}
                <span class="label info" data-tooltip aria-haspopup="true"
                  title="This category's content is organized as a package.">Package</span>
              {% endif %}
              {% if category.selected_by_default %}
                <span class="label" data-tooltip aria-haspopup="true"
                  title="This category is pre-selected for new users.">Default</span>
              {% endif %}

              {# Icon (if any) #}
              {% with icon=category.get_absolute_icon %}
                {% if icon %}
                  <div class="gray centered pull-right">
                  <img src="{{ icon }}" class="list-icon" alt="{{ category }} icon"/>
                  </div>
                {% endif %}
              {% endwith %}

              {# Colors (if any) #}
              {% with c1=category.color c2=category.secondary_color %}
              <div class="pull-right">
                <div class="color" data-tooltip aria-haspopup="true"
                     title="{{ c1 }}"
                     style="height:25px;width:25px;background-color:{{ c1 }};">
                </div>
                {% if category.secondary_color %}
                <div class="color" data-tooltip aria-haspopup="true"
                     title="{{ c2 }}"
                     style="height:25px;width:25px;background-color:{{ c2 }};">
                </div>
                {% endif %}
              </div>
              {% endwith %}
          </td>
          <td>
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
                <a href="#category-{{category.id}}-goals">Goals</a>
                <div id="category-{{category.id}}-goals" class="content">
                {% for c in category.goals %}
                  <a href="{{ c.get_absolute_url }}">
                    <span class="label secondary radius">{{ c }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#category-{{category.id}}-behaviors">Behaviors</a>
                <div id="category-{{category.id}}-behaviors" class="content">
                {% for b in category.behaviors %}
                  <a href="{{ b.get_absolute_url }}">
                    <span class="label secondary radius">{{ b }}</span>
                  </a>
                {% endfor %}
                </div>
              </li>
            </ul>
          </td>
          <td>{{ category.usercategory__count }}</td>
        </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

