{% extends "goals/base.html" %}
{% load util_tags %}
{% load util_filters %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
    <li class="current">{{ category.name }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ category.name }} {% object_controls category %}</h1>
      <dl>
        <dt>Icon</dt><dd>
          {% if category.icon %}
            <img src="{{ category.icon.url }}" alt="{{ category.name }} icon" />
          {% else %}
            <em>No icon available</em>
          {% endif %}
        </dd>
        <dt>Order</dt><dd>{{ category.order }}</dd>
        <dt>Description</dt><dd>{{ category.description|markdown }}</dd>
        <dt>Notes</dt><dd>{{ category.description|markdown }}</dd>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Content</h2>
      <p><strong>{{ category.name }}</strong>
        contains the following goals, sequences, and behaviors:</p>
      <ul>
      {% for goal in category.goals %}
        <li>{{ goal }}
          <ul>
          {% for bs in goal.behaviorsequence_set.all %}
            <li>{{bs}}
              <ul>
                {% for ba in bs.behavioraction_set.all %}
                  <li>{{ ba }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
