{% extends "goals/base.html" %}

{% block title %}Un-publish{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="current">Un-publish</li>
{% endblock %}

{% block content %}

  {% comment %}
  ---------------------------------------------------------------------------

    NOTE: This form is currently only for reverting to draft when an
    object has user-selections; otherwise the state-change just happens
    immediately.

  ---------------------------------------------------------------------------
  {% endcomment %}

  <div data-alert class="alert-box warning">
    <strong><i class="fa fa-warning"></i> Are you sure?</strong><br/>
    This item has been selected by {{ selections }} user{{ selections|pluralize }}.
    If you revert it to draft, they will no longer see the item in their app
    nor will they receive notifications for it.
    <a href="#" class="close">&times;</a>
  </div>

  <div>
    <h2>{{ object.title }}</h2>
    {{ object.description|linebreaks }}

    {# for Categories #}
    {% if object.goal_set.exists %}
      <h3>Affected Goals &amp; Notifications </h3>
      <p>The folowing Goals and their Notifications may also
         be unpublished.</p>
      <ul>
      {% for goal in object.goal_set.published %}
        <li>{{ goal }}
          <ul>
          {% for action in goal.action_set.published %}
            <li>{{ action }}</li>
          {% empty %}
            <li><em>No published Notifications.</em></li>
          {% endfor %}
          </ul>
        </li>
      {% empty %}
        <li><em>No published Goals.</em></li>
      {% endfor %}
      </ul>
    {% endif %}
    <hr/>
  </div>
  <form action="{{ object.get_publish_url }}" method="post">{% csrf_token %}
  <input type="hidden" name="draft" value="Draft" />
  <input type="hidden" name="confirmed" value="1" />
  <a href="{{ object.get_absolute_url }}" class="button secondary">Cancel</a>
  <button type="submit" class="button">Revert to Draft</button>
  </form>
{% endblock %}
