{% extends "goals/base.html" %}
{% load crispy_forms_tags %}
{% load util_filters %}
{% load tz %}

{% block title %}Debug Notifications{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">
  table {width: 100%;}
  table tbody tr td {vertical-align: top;}
  td.past {
    color: #888;
    text-decoration: line-through;
  }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:debug_tools' %}">Debug Tools</a></li>
  <li class="current">Debug Feed</a>
{% endblock %}

{% block content %}
<h1>Feed Debugging
  {% if today %}<small>{{ today.0.date }} - {{ today.1.date }}</small>{% endif %}
</h1>

<form action="{% url 'goals:debug_feed' %}" method="get">
  <div class="row">
    <div class="large-12 column">
      <h2>User</h2>
      <div class="panel clearfix">
        {{ form|crispy }}
        <input type="submit" value="Search" class="button small pull-right"/>
      </div>
    </div>
  </div>
</form>

{% if email %}
<h2>Feed Data <small>Generated in {{ feed_data_time|floatformat }}s</small></h2>
<div class="row">
  <div class="large-6 medium-6 small-12 columns">
    <h3>Upcoming</h3>
    <table>
      <thead>
      <tr>
        <th>Type</th>
        <th>Goal</th>
        <th>Action</th>
        <th>Trigger</th>
      </tr>
      </thead>
      <tbody>
      {% for obj in feed_data.upcoming %}
        <tr>
          <td><code>{{ obj.type }}</code></td>
          <td>({{ obj.goal_id}}) {{ obj.goal }}</td>
          <td>({{ obj.action_id}}) {{ obj.action }}</td>
          <td>{{ obj.trigger }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <h3>Streaks</h3>
    <table>
      <thead><tr><th>Day</th><th>Date</th><th>Count</th></tr></thead>
      <tbody>
      {% for obj in feed_data.streaks %}
        <tr>
          <td>{{ obj.day }}</td>
          <td>{{ obj.date }}</td>
          <td>{{ obj.count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="large-6 medium-6 small-12 columns">
    <h3>Progress</h3>
    <pre class="panel">{{ feed_data.progress|pprint }}</pre>

    {% with content=feed_data.funcontent %}
      <h3>Reward Content
        <small>{{ content.message_type }} /  {{ content.id }}</small></h3>
      <blockquote>
        {{ content.message }}
        {% if content.author %}<small>- {{ content.author }}</small>{% endif %}
      </blockquote>
    {% endwith %}

    <h3>Suggestions</h3>
    <pre class="panel">{{ feed_data.suggestions|pprint }}</pre>
  </div>
</div>

<hr/>
<h2>Related Data</h2>
<div class="row">
  <div class="large-6 medium-6 small-12 columns">
    <h3>GCM Messages <small>may not be queued</small></h3>
    <table>
      <thead>
      <tr>
        <th>Sent</th>
        <th>Message</th>
        <th>Object (id)</th>
        <th>Deliver On</th>
      </tr>
      </thead>
      <tbody>
      {% for msg in notifs %}
        <tr>
          <td>{{msg.success|iconbool }}</td>
          <td><strong>{{ msg.title }}</strong><br/>{{ msg.message }}</td>
          <td>
            {% if msg.object_id %}
              {{ msg.content_object }} ({{ msg.object_id }})
            {% else %} n/a {% endif %}
          </td>
          <td>
            <span class="label secondary">{{ msg.deliver_on.date }}</span>
            <span class="label secondary">{{ msg.deliver_on.time }}</span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="large-6 medium-6 small-12 columns">
    <h3>UserCompletedActions <small>updated today</small></h3>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Action (id)</th>
          <th>Next trigger date</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
      {% for uca in ucas %}
        <tr>
          <td>{{ uca.get_state_display }}</td>
          <td>{{ uca.action }} ({{ uca.action_id }})</td>
          <td>{{ uca.useraction.next_trigger_date }}</td>
          <td>{{ uca.updated_on }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {# not email #}
{% endblock %}
