{% extends "goals/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load util_tags %}
{% load util_filters %}

{% block title %}Debug Progress{% endblock %}

{% block head %}
  {{ block.super }}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <style type="text/css">
  div.legend ul.bar-legend {list-style-type: none;padding:0;margin:0;}
  div.legend ul.bar-legend li span {
    display:inline-block;
    border:1px solid black;
    width:18px;
    height: 18px;
    padding:0;
    margin: 0 5px 0 0;
  }
  </style>
{% endblock %}


{% block content %}
<h1>Progress Stats <small>from {{ from_date|timesince }} ago</small></h1>
<p class="text-right">
  Display data for the past:
  {% if days_ago != 30 %}<a href="?days_ago=30">30</a>{% else %}<strong>30</strong>{% endif %}
  {% if days_ago != 60 %}<a href="?days_ago=60">60</a>{% else %}<strong>60</strong>{% endif %}
  {% if days_ago != 90 %}<a href="?days_ago=90">90</a>{% else %}<strong>90</strong>{% endif %}
  days.
</p>


{# --- UserCompletedActions --- #}
<div class="row">
  <div class="large-12 small-12 columns">
    <h2>User's Completed Actions</h2>
    <div id="uca-legend" class="pull-right panel legend"></div>

    <canvas id="uca-data" width="970" height="400"></canvas>
    <script>
    var ctx = document.getElementById("uca-data").getContext("2d");
    var data = {
      labels: {{ uca_labels|json|safe }},
      datasets: [{% for completed, snoozed, dismissed in uca_datasets %}
        {
            label: "{{completed.label}}",
            fillColor: "rgba(220,180,220,0.5)",
            strokeColor: "rgba(220,180,220,0.8)",
            highlightFill: "rgba(220,180,220,0.75)",
            highlightStroke: "rgba(220,180,220,1)",
            data: {{completed.data|json|safe}},
        },
        {
            label: "{{snoozed.label}}",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: {{snoozed.data|json|safe}},
        },
        {
            label: "{{dismissed.label}}",
            fillColor: "rgba(151,200,187,0.5)",
            strokeColor: "rgba(151,200,187,0.8)",
            highlightFill: "rgba(151,200,187,0.75)",
            highlightStroke: "rgba(151,200,187,1)",
            data: {{dismissed.data|json|safe}},
        }
      {% endfor %}]
    }
    var c = new Chart(ctx).Bar(data);
    document.getElementById("uca-legend").innerHTML = c.generateLegend();
    </script>

  </div>
</div> {# end .row #}

{# --- Goal Actions --- #}
<div class="row">
  <div class="large-12 small-12 columns">
    <h2>Goal Actions</h2>
    <div id="goal-actions-legend" class="pull-right panel legend"></div>
    <p>The following is an average completion percentage for user's goals. This
    is just a simple average of the <code>GoalProgress</code>'s daily, weekly,
    and monthly data fields across all users for each day.</p>

    <canvas id="goal-actions" width="970" height="400"></canvas>
    <script>
    var ctx = document.getElementById("goal-actions").getContext("2d");
    var data = {
      labels: {{ goal_actions_labels|json|safe }},
      datasets: [{% for daily, weekly, monthly in goal_actions_datasets %}
        {
            label: "{{daily.label}}",
            fillColor: "rgba(220,180,220,0.5)",
            strokeColor: "rgba(220,180,220,0.8)",
            highlightFill: "rgba(220,180,220,0.75)",
            highlightStroke: "rgba(220,180,220,1)",
            data: {{daily.data|json|safe}},
        },
        {
            label: "{{weekly.label}}",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: {{weekly.data|json|safe}},
        },
        {
            label: "{{monthly.label}}",
            fillColor: "rgba(151,200,187,0.5)",
            strokeColor: "rgba(151,200,187,0.8)",
            highlightFill: "rgba(151,200,187,0.75)",
            highlightStroke: "rgba(151,200,187,1)",
            data: {{monthly.data|json|safe}},
        }
      {% endfor %}]
    }
    var c = new Chart(ctx).Bar(data);
    document.getElementById("goal-actions-legend").innerHTML = c.generateLegend();
    </script>

  </div>
</div> {# end .row #}



{# --- Goal Progress / Actions Performed--- #}
<div class="row">
  <div class="large-12 small-12 columns">
    <h2>OLD: Goal Progress Data</h2>
    <div id="goal-progress-legend" class="pull-right panel legend"></div>
    <p>This is the daily Behavior (3-point) check-in aggregated up to their
    parent Goals. The following is a daily average for all users.</p>

    <canvas id="goal-progress" width="970" height="400"></canvas>
    <script>
    var ctx = document.getElementById("goal-progress").getContext("2d");
    var data = {
      labels: {{ goal_progress_labels|json|safe }},
      datasets: [{% for d in goal_progress_datasets %}
        {
            label: "{{d.label}}",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: {{d.data|json|safe}},
        }
      {% endfor %}]
    }
    var c = new Chart(ctx).Bar(data);
    document.getElementById("goal-progress-legend").innerHTML = c.generateLegend();
    </script>

  </div>
</div> {# end .row #}

{# --- Category Progress --- #}
<div class="row">
  <div class="large-12 small-12 columns">
    <h2>OLD: Category Progress</h2>
    <div id="category-progress-legend" class="pull-right panel legend"></div>
    <p>The average, aggregated self-reported Behavior progress (on course,
    seeking, off-course) for the past {{ days_ago }} days. Each item in the chart
    below is an average for all users (values 0 - 3).</p>

    <canvas id="category-progress" width="970" height="400"></canvas>
    <script>
    var ctx = document.getElementById("category-progress").getContext("2d");
    var data = {
      labels: {{ cat_labels|json|safe }},
      datasets: [{% for d in cat_datasets %}
        {
            label: "{{d.label}}",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: {{d.data|json|safe}},
        }{% if not forloop.last %},{% endif %}
      {% endfor %}]
    }
    var c = new Chart(ctx).Bar(data);
    document.getElementById("category-progress-legend").innerHTML = c.generateLegend();
    </script>

  </div>
</div> {# end .row #}

{# --- Behavior Progress / Actions Performed--- #}
<div class="row">
  <div class="large-12 small-12 columns">
    <h2>OLD: Behavior Data</h2>
    <div id="behavior-progress-legend" class="pull-right panel legend"></div>
    <p>Gray: The average daily 3-point Behavior check-in data for all users<br/>
       Blue: The average daily number of actions completed for all users.</p>

    <canvas id="behavior-progress" width="970" height="400"></canvas>
    <script>
    var ctx = document.getElementById("behavior-progress").getContext("2d");
    var data = {
      labels: {{ behavior_labels|json|safe }},
      datasets: [{% for status_data, ap_data in behavior_datasets %}
        {
            label: "{{status_data.label}}",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: {{status_data.data|json|safe}},
        },
        {
            label: "{{ap_data.label}}",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: {{ap_data.data|json|safe}},
        }
      {% endfor %}]
    }
    var c = new Chart(ctx).Bar(data);
    document.getElementById("behavior-progress-legend").innerHTML = c.generateLegend();
    </script>

  </div>
</div> {# end .row #}


{% endblock %}
