{% extends "goals/base.html" %}
{% load crispy_forms_tags %}
{% load tz %}

{% block title %}Debug Sequence{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:debug_tools' %}">Debug Tools</a></li>
  <li class="current">Debug Sequence</a>
{% endblock %}

{% block content %}
<h1>Sequences</h1>

<p>The following should be the current set of content from which the chosen
user's notifications get queued.</p>

<form action="{% url 'goals:debug_sequence' %}" method="get">
  <div class="row">
    <div class="large-6 column">
      {{ form|crispy }}
    </div>
    <div class="large-3 column">
      <input type="submit" value="Search" class="button"/>
    </div>
  </div>
</form>

{% if useractions %}
<div class="row">
  <div class="large-12 columns">
    <table>
    <thead>
      <tr>
        <th>UA.id</th>
        <th>Order</th>
        <th>Action</th>
        <th>Next Trigger Date</th>
        <th>Goal Order</th>
        <th>Goal</th>
      </tr>
    </thead>
    <tbody>
    {% for ua in useractions %}
      <tr>
      <td>{{ ua.id }}</td>
      <td>{{ ua.action.sequence_order }}</td>
      <td>{{ ua.action_id }} / {{ ua.action }}</td>
      <td>{{ ua.next_trigger_date }}</td>
      <td>{{ ua.primary_goal.sequence_order }}</td>
      <td>{{ ua.primary_goal_id }} / {{ ua.primary_goal }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div> {# end .row #}
{% endif %}
{% endblock %}
