{% extends "goals/base.html" %}
{% load crispy_forms_tags %}
{% load tz %}

{% block title %}Debug Notifications{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">
  table {width: 100%;}
  table tbody tr td {vertical-align: top;}
  td.past {
    color: #888;
    text-decoration: line-through;
  }
  </style>
{% endblock %}


{% block content %}
<h1>Today's Notifications</h1>

<form action="{% url 'goals:debug_notifications' %}" method="get">
  <div class="row">
    <div class="large-12 column">
      {{ form|crispy }}
      <p><input type="submit" value="Search" class="button"/></p>
    </div>
  </div>
</form>

{% if email %}
<div class="row">
  <div class="large-6 small-12 columns">
    <h2>User Feed Data</h2>
    <p>
      <span class="label info">{{ today.0|localtime }}</span> to
      <span class="label info">{{ today.1|localtime }}</span>
    </p>
    <div class="panel">
      <p><strong>Next User Action: {{ next_user_action }} at
        <span class="label info">{{ next_user_action.next_trigger_date|localtime|date:"M j Y P e" }}</span>.</strong></p>
      <hr/>
      <h3>User Actions</h3>
      <ol>
        {% for ua in upcoming_useractions %}
        <li>
          {{ ua.action }} at
          <span class="label info">
            {{ ua.next_trigger_date|localtime|date:"M j Y P e" }}</span>
        </li>
        {% endfor %}
      </ol>
      <hr/>
      <h3>Custom Actions</h3>
      <ol>
        {% for obj in upcoming_customactions %}
        <li>
          {{ obj }} / {{ obj.customgoal }} at
          <span class="label info">
            {{ obj.next_trigger_date|localtime|date:"M j Y P e" }}</span>
        </li>
        {% endfor %}
      </ol>
      <hr/>
      <p>Your daily progress stats as shown on the home feed.</p>
      <pre>{{ progress|pprint }}</pre>
    </div>
  </div>
  <div class="large-6 small-12 columns">
    <h2>Progress <small>Behaviors / Completed Actions</small></h2>
    <p>
      <span class="label info">{{ today.0|localtime }}</span> to
      <span class="label info">{{ today.1|localtime }}</span>
    </p>
    </h2>
    <div class="panel">
      <h3>Behavior Buckets <small>{{ daily_progress.updated_on }}</small></h3>
      <ul>
      {% for behavior, bucket in buckets.items %}
        <li>{{ behavior }}: <span class="label secondary">{{ bucket }}</li>
      {% empty %}
        <li>no data</li>
      {% endfor %}
      </ul>

      <h3>Public/Packaged Actions</h3>
      <ul>
      {% for uca in completed_useractions %}
        <li>
          ({{uca.id}}) {{ uca.action }}: <em>{{ uca.state|upper }}</em><br/>
          <small>
          Updated: <span class="label info">
            {{ uca.updated_on|localtime|date:"M j Y P e" }}</span><br/>
          Created: <span class="label info">
            {{ uca.created_on|localtime|date:"M j Y P e" }}</span>
          </small>
        </li>
      {% empty %}
        <li>no completed actions for this day</li>
      {% endfor %}
      </ul>

      <h3>Custom Actions</h3>
      <ul>
      {% for uca in completed_customactions %}
        <li>
          ({{uca.id}}) {{ uca.action }}: <em>{{ uca.state|upper }}</em><br/>
          <small>
          Updated: <span class="label info">
            {{ uca.updated_on|localtime|date:"M j Y P e" }}</span><br/>
          Created: <span class="label info">
            {{ uca.created_on|localtime|date:"M j Y P e" }}</span>
          </small>
        </li>
      {% empty %}
        <li>no completed actions for this day</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div> {# end .row #}


<h2>User Content <small>UserActions &amp; CustomActions</small></h2>
{% if useractions|length or customactions|length %}
<table>
  <caption>
    {{useractions.count}} <code>UserAction</code> /
    {{customactions.count}} <code>CustomAction</code>
  </caption>
  <thead>
    <tr>
      <th>Type</th>
      <th>Object</th>
      <th>Status</th>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
    {% for ca in customactions %}
      <tr>
        {# --- Object Type --- #}
        <td>Custom Action</td>

        {# --- Object Details & Trigger info --- #}
        <td class="{% if ca.upcoming %}upcoming{% else %}past{% endif %}">
          <strong>
            {% if ca.upcoming %}<i class="fa fa-star"></i>{% endif %}
            {{ ca }} / {{ ca.customgoal }}
          </strong><br/>
          <code>
            CustomAction.id: {{ ca.id }}, CustomGoal.id: {{ ca.customgoal.id }}
          </code><br/>
          <em>
          {% if ca.trigger %}
            {% with recur=ca.trigger.recurrences_as_text %}
              {% if recur %}{{ recur|upper }}{% else %}
                {{ ca.trigger.date|default:"No date" }} /
                {{ ca.trigger.time|default:"No time" }}
              {% endif %}
            {% endwith %}
            <br/>
            <span class="label info">
              {{ ca.next|localtime|date:"M j Y P e"|default:"None" }}</span><br/>
            <span class="label secondary">
              {{ ca.next|utc|date:"M j Y P e"|default:"None" }}</span>
          {% endif %}
          </em>
          {% comment %}
          <hr/>
          {% for uca in completed %}
            {% if uca.useraction == ua %}
              <strong><i class="fa fa-trophy"></i> {{ uca.state|upper }}</strong><br/>
              <span class="label info">
                {{ uca.updated_on|localtime|date:"M j Y P e" }}</span><br/>
              <span class="label secondary">
              {{ uca.updated_on|utc|date:"M j Y P e" }}</span>
            {% endif %}
          {% endfor %}
          {% endcomment %}
        </td>

        {# --- Status --- #}
        <td>
        <strong>Next Trigger</strong><br/>
        <span class="label info">
          {{ ca.next_trigger_date|localtime|date:"M j Y P e"|default:"n/a"}}
        </span><br/>
        <span class="label secondary">
          {{ ca.next_trigger_date|utc|date:"M j Y P e"|default:"n/a"}}</span>
        <hr/>
        <strong>Previous Trigger</strong><br/>
        <span class="label info">
          {{ ca.prev_trigger_date|localtime|date:"M j Y P e"|default:"n/a"}}
        </span><br/>
        <span class="label secondary">
          {{ ua.prev_trigger_date|utc|date:"M j Y P e"|default:"n/a"}}</span>
        </td>

        {# --- Scheduled/Past Notifications --- #}
        <td>
          <ul style="list-style-type:none;">
          {% for msg in ca.queued_notifications %}
            <li>
              <i class="fa {% if msg.success %}fa-check{% else %}fa-calendar-o{% endif %}"></i>
              <a href="/admin/notifications/gcmmessage/{{ msg.id }}/"
                 target="_blank">{{ msg.deliver_on|date:"P e m/d/Y" }}</a>
            </li>
          {% empty %}
            <li><em>none scheduled</em></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    {% for ua in useractions %}
      <tr>
        {# -- object type -- #}
        <td>User Action</td>

        {# --- Action info --- #}
        <td class="{% if ua.upcoming %}upcoming{% else %}past{% endif %}">
          <strong>
            {% if ua.upcoming %}<i class="fa fa-star"></i>{% endif %}
            {{ ua.action }}</strong><br/>
          <code>
            Action.id: {{ ua.action.id }}, UserAction.id: {{ ua.id }}
          </code><br/>
          <em>
          {% if ua.trigger %}
            {% if ua.trigger != ua.custom_trigger %}
              <span class="label">DEFAULT</span> {% endif %}
            {% with recur=ua.trigger.recurrences_as_text %}
              {% if recur %}{{ recur|upper }}{% else %}
                {{ ua.trigger.date|default:"No date" }} /
                {{ ua.trigger.time|default:"No time" }}
              {% endif %}
            {% endwith %}
            <br/>
            <span class="label info">
              {{ ua.next|localtime|date:"M j Y P e"|default:"None" }}</span><br/>
            <span class="label secondary">
              {{ ua.next|utc|date:"M j Y P e"|default:"None" }}</span>
          {% endif %}
          </em>
          <hr/>
          {% for uca in completed %}
            {% if uca.useraction == ua %}
              <strong><i class="fa fa-trophy"></i> {{ uca.state|upper }}</strong><br/>
              <span class="label info">
                {{ uca.updated_on|localtime|date:"M j Y P e" }}</span><br/>
              <span class="label secondary">
              {{ uca.updated_on|utc|date:"M j Y P e" }}</span>
            {% endif %}
          {% endfor %}
        </td>

        {# --- Status --- #}
        <td>
        <strong>Next Trigger</strong><br/>
        {% if ua.next_trigger_date %}
          <span class="label info">
            {{ ua.next_trigger_date|localtime|date:"M j Y P e"|default:"n/a"}}
          </span><br/>
          <span class="label secondary">
            {{ ua.next_trigger_date|utc|date:"M j Y P e"|default:"n/a"}}</span>
        {% else %}
          <em>None</em>
        {% endif %}
        <hr/>
        <strong>Previous Trigger</strong><br/>
        {% if ua.prev_trigger_date %}
          <span class="label info">
            {{ ua.prev_trigger_date|localtime|date:"M j Y P e"|default:"n/a"}}
          </span><br/>
          <span class="label secondary">
            {{ ua.prev_trigger_date|utc|date:"M j Y P e"|default:"n/a"}}</span>
        {% else %}
          <em>None</em>
        {% endif %}
        </td>

        {# --- Scheduled/Past Notifications --- #}
        <td>
          <ul style="list-style-type:none;">
          {% for msg in ua.queued_notifications %}
            <li>
              <i class="fa {% if msg.success %}fa-check{% else %}fa-calendar-o{% endif %}"></i>
              <a href="/admin/notifications/gcmmessage/{{ msg.id }}/"
                 target="_blank">{{ msg.deliver_on|date:"P e m/d/Y" }}</a>
            </li>
          {% empty %}
            <li><em>none scheduled</em></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endif %} {# not email #}
{% endblock %}
