{% extends "goals/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Debug Notifications{% endblock %}

{% block head %}
  {{ block.super }}
{% endblock %}


{% block content %}
<h1>Today's Notifications</h1>

<form action="{% url 'goals:debug_notifications' %}" method="get">
  <div class="row">
    <div class="large-12 column">
      {{ form|crispy }}
      <p><input type="submit" value="Search" class="button"/></p>
    </div>
  </div>
</form>

{% if useractions %}
<table>
  <caption>{{useractions.count}} <code>UserAction</code></caption>
  <thead>
    <tr>
      <th>Action</th>
      <th>Completed</th>
      <th>Previous</th>
      <th>Next</th>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
    {% for ua in useractions %}
      <tr>
        <td>
          <strong>{{ ua.id }} - {{ ua.action }}</strong><br/>
          <em>
          {% if ua.trigger %}
            Trigger: {{ ua.trigger.recurrences_as_text|default:"Not Recurring" }}<br/>
            Next: {{ ua.next|date:"M j Y P e"|default:"None" }}
          {% endif %}
          </em>
        </td>
        <td>
        {% for uca in completed %}
          {% if uca.useraction == ua %}
            {{ uca.state }}<br/>
            {{ uca.updated_on }}
          {% endif %}
        {% endfor %}
        </td>
        <td>{{ ua.prev_trigger_date|default:"n/a"}}</td>
        <td>{{ ua.next_trigger_date|default:"n/a"}}</td>
        <td>
          <ul style="list-style-type:none;">
          {% for msg in ua.queued_notifications %}
            <li>
              <i class="fa {% if msg.success %}fa-check{% else %}fa-calendar-o{% endif %}"></i>
              <a href="/admin/notifications/gcmmessage/{{ msg.id }}/"
                 target="_blank">{{ msg.deliver_on|date:"M j Y P e" }}</a>
            </li>
          {% empty %}
            <li><em>none scheduled</em></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}
