{% extends "goals/base.html" %}
{% load crispy_forms_tags %}
{% load tz %}

{% block title %}Debug Notifications{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">
  table tbody tr td {vertical-align: top;}
  td.past {
    color: #888;
    text-decoration: line-through;
  }
  </style>
{% endblock %}


{% block content %}
<h1>Today's Notifications</h1>

<form action="{% url 'goals:debug_notifications' %}" method="get">
  <div class="row">
    <div class="large-12 column">
      {{ form|crispy }}
      <p><input type="submit" value="Search" class="button"/></p>
    </div>
  </div>
</form>

<h2>User Feed Data.
  <span class="label info">{{ today.0|localtime }}</span>
  <small>to</small>
  <span class="label info">{{ today.1|localtime }}</span>
</h2>
<div class="panel">
  <p><strong>Next User Action: {{ next_user_action }} at
    <span class="label info">{{ next_user_action.next_trigger_date|localtime|date:"M j Y P e" }}</span>.</strong></p>
  <p>Your daily progress stats as shown on the home feed.</p>
  <pre>{{ progress|pprint }}</pre>

</div>


<h2>Notification Schedule &amp; Queue</h2>
{% if useractions %}
<table>
  <caption>{{useractions.count}} <code>UserAction</code></caption>
  <thead>
    <tr>
      <th>Action</th>
      <th>Status</th>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
    {% for ua in useractions %}
      <tr>

        {# --- Action info --- #}
        <td class="{% if ua in upcoming %}upcoming{% else %}past{% endif %}">
          <strong>{{ ua.action }}</strong><br/>
          <em>
          {% if ua.trigger %}
            {% with recur=ua.trigger.recurrences_as_text %}
            Trigger: {% if recur %}{{ recur }}{% else %}
              {{ ua.trigger.date|default:"no date" }} /
              {{ ua.trigger.time|default:"no time" }}{% endif %}
            {% endwith %}
            <br/>
            Next:<br/>
            <span class="label info">
              {{ ua.next|localtime|date:"M j Y P e"|default:"None" }}</span><br/>
            <span class="label secondary">
              {{ ua.next|utc|date:"M j Y P e"|default:"None" }}</span>
          {% endif %}
          </em>
          <hr/>
          <code>Action.id: {{ ua.action.id }}</code><br/>
          <code>UserAction.id: {{ ua.id }}</code><br/>
        </td>

        {# --- Status --- #}
        <td>
        <strong>Next Trigger</strong><br/>
        {% if ua.next_trigger_date %}
          <span class="label info">
            {{ ua.next_trigger_date|localtime|date:"M j Y P e"|default:"n/a"}}
          </span><br/>
          <span class="label secondary">
            {{ ua.next_trigger_date|utc|date:"M j Y P e"|default:"n/a"}}</span>
        {% else %}
          <em>None</em>
        {% endif %}
        <hr/>
        <strong>Previous Trigger</strong><br/>
        {% if ua.prev_trigger_date %}
          <span class="label info">
            {{ ua.prev_trigger_date|localtime|date:"M j Y P e"|default:"n/a"}}
          </span><br/>
          <span class="label secondary">
            {{ ua.prev_trigger_date|utc|date:"M j Y P e"|default:"n/a"}}</span>
        {% else %}
          <em>None</em>
        {% endif %}
        <hr/>
        {% for uca in completed %}
          {% if uca.useraction == ua %}
            <strong><i class="fa fa-trophy"></i> {{ uca.state|upper }}</strong><br/>
            <span class="label info">
              {{ uca.updated_on|localtime|date:"M j Y P e" }}</span>
            <span class="label secondary">
            {{ uca.updated_on|utc|date:"M j Y P e" }}</span><br/>
          {% endif %}
        {% endfor %}
        </td>

        {# --- Scheduled/Past Notifications --- #}
        <td>
          <ul style="list-style-type:none;">
          {% for msg in ua.queued_notifications %}
            <li>
              <i class="fa {% if msg.success %}fa-check{% else %}fa-calendar-o{% endif %}"></i>
              <a href="/admin/notifications/gcmmessage/{{ msg.id }}/"
                 target="_blank">{{ msg.deliver_on|date:"P e m/d/Y" }}</a>
            </li>
          {% empty %}
            <li><em>none scheduled</em></li>
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}
