{% extends "goals/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load util_tags %}
{% load util_filters %}

{% block title %}Debug Progress{% endblock %}

{% block head %}
  {{ block.super }}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <style type="text/css">
  div.legend ul.bar-legend {list-style-type: none;padding:0;margin:0;}
  div.legend ul.bar-legend li span {
    display:inline-block;
    border:1px solid black;
    width:18px;
    height: 18px;
    padding:0;
    margin: 0 5px 0 0;
  }

  tr.highlight {
    background-color: #ffb;
  }
  </style>
{% endblock %}


{% block content %}
<h1>Daily Progress Stats <small>from {{ from_date|timesince }} ago</small></h1>
<p class="text-right">
  Display data for the past:
  {% if since != 30 %}<a href="?since=30&amp;email_address={{ email }}">30</a>{% else %}<strong>30</strong>{% endif %}
  {% if since != 60 %}<a href="?since=60&amp;email_address={{ email }}">60</a>{% else %}<strong>60</strong>{% endif %}
  {% if since != 90 %}<a href="?since=90&amp;email_address={{ email }}">90</a>{% else %}<strong>90</strong>{% endif %}
  days.
</p>

<div class="row">
  <div class="large-12 small-12 columns">
    <form action="{% url 'goals:debug_progress' %}" method="get">
      <div class="row">
        <div class="large-12 column">
          {{ form|crispy }}
          <p><input type="submit" value="Search" class="button"/></p>
        </div>
      </div>
    </form>
  </div>
</div>

{% if searched_user %}
<div class="row">
  <div class="large-12 small-12 columns">
    <h2>Streaks <small>based on <code>DailyProgress</code> data</small></h2>

    <div id="streaks-legend" class="pull-right panel legend"></div>
    <canvas id="streaks-data" width="970" height="400"></canvas>
    <script>
    var ctx = document.getElementById("streaks-data").getContext("2d");
    var data = {
      labels: {{ streaks_dates|json|safe }},
      datasets: [
        {
            label: "Completed",
            fillColor: "rgba(151,200,187,0.5)",
            strokeColor: "rgba(151,200,187,0.8)",
            highlightFill: "rgba(151,200,187,0.75)",
            highlightStroke: "rgba(151,200,187,1)",
            data: [{% for data in streaks %}{{ data.2|default:0 }}{% if not forloop.last %}, {% endif %}{% endfor %}],
        },
        {
            label: "Snoozed",
            fillColor: "rgba(151,151,151,0.5)",
            strokeColor: "rgba(151,151,151,0.8)",
            highlightFill: "rgba(151,151,151,0.75)",
            highlightStroke: "rgba(151,151,151,1)",
            data: [{% for data in streaks %}{{ data.3|default:0 }}{% if not forloop.last %}, {% endif %}{% endfor %}],
        },
        {
            label: "Dismissed",
            fillColor: "rgba(220,180,220,0.5)",
            strokeColor: "rgba(220,180,220,0.8)",
            highlightFill: "rgba(220,180,220,0.75)",
            highlightStroke: "rgba(220,180,220,1)",
            data: [{% for data in streaks %}{{ data.4|default:0 }}{% if not forloop.last %}, {% endif %}{% endfor %}],
        }
      ]
    }
    var c = new Chart(ctx).Bar(data);
    document.getElementById("streaks-legend").innerHTML = c.generateLegend();
    </script>


    <table>
    <thead>
      <tr>
        <td>Day</td>
        <td>Streak?</td>
        <td>Completed</td>
        <td>Snoozed</td>
        <td>Dismissed</td>
      </tr>
    </thead>
    <tbody>
    {% for dt, ok, dp_completed, dp_snoozed, dp_dismissed in streaks %}
      <tr{% if ok %} class="highlight"{% endif %}>
        <td>{{ dt }}</td>
        <td>{{ ok|iconbool }}</td>
        <td>{{ dp_completed|default:"-" }}</td>
        <td>{{ dp_snoozed|default:"-" }}</td>
        <td>{{ dp_dismissed|default:"-" }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div> {# end .row #}

<div class="row">
  <div class="large-6 small-12 columns">
    <h2>Next in Sequence</h2>
    <p>The next set of goals/behaviors/actions based on the specified
       sequence (if any) and whether or not the user has completed stuff.</p>

    <div class="panel">
      <h3>Goals</h3>
      <ul style="list-style-type:none">
      {% for ug in next_goals %}
        <li>
          <span class="label info">{{ ug.goal.sequence_order }}</span>
          {{ug}} <small>{{ug.primary_category}}</small>
        </li>
      {% endfor %}
      </ul>

      <h3>Behaviors</h3>
      <ul style="list-style-type:none">
      {% for ub in next_behaviors %}
        <li>
          <span class="label info">{{ ub.behavior.sequence_order }}</span>
          {{ub}}
        </li>
      {% endfor %}
      </ul>

      <h3>Actions/Notifications</h3>
      <ul style="list-style-type:none">
      {% for ua in next_actions %}
        <li>
          <span class="label info">{{ ua.action.sequence_order }}</span>
          {{ua}} <small>{{ ua.next_trigger_date }}</small>
        </li>
      {% endfor %}
      </ul>
    </div>

    <h2>Completed Goals</h2>
    <ul>
    {% for ug in completed.goals %}
      <li>{{ ug.goal }}: {{ ug.completed_on }}</li>
    {% empty %}
      <li><em>Nothing completed, yet</em></li>
    {% endfor %}
    </ul>
    <h2>Completed Behaviors</h2>
    <ul>
    {% for ub in completed.behaviors %}
      <li>{{ ub.behavior }}: {{ ub.completed_on }}</li>
    {% empty %}
      <li><em>Nothing completed, yet</em></li>
    {% endfor %}
    </ul>
  </div>
  <div class="large-6 small-12 columns">
    <h2>Completed Actions</h2>
    <ul>
    {% for uca in completed.actions %}
      <li>
        <span class="label">{{ uca.state }}</span>
        {{ uca.action }}<br/>
        <em>{{ uca.updated_on }}</em>
      </li>
    {% endfor %}
    </ul>

  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">

    <table>
      <caption>Daily Progress for the past {{ since }} days</caption>
      <thead>
        <tr>
          <th>Day</th>
          <th>Total Actions</th>
          <th>Completed</th>
          <th>Snoozed</th>
          <th>Dismissed</th>
          <th>Cusom Actions</th>
          <th>Completed</th>
          <th>Snoozed</th>
          <th>Dismissed</th>
          <th>Selected Behaviors</th>
          <th>UserCompletedActions</th>
      </thead>
      <tbody>
        {% for dp in daily_progresses %}
          <tr>
          <td>
            {{ dp.created_on|date:"Y-m-d" }}<br/>
            <span class="label secondary tiny">
              {{ dp.updated_on|timesince }}</span>
          </td>
          <td>{{ dp.actions_total }}</td>
          <td>{{ dp.actions_completed }}</td>
          <td>{{ dp.actions_snoozed }}</td>
          <td>{{ dp.actions_dismissed }}</td>
          <td>{{ dp.customactions_total }}</td>
          <td>{{ dp.customactions_completed }}</td>
          <td>{{ dp.customactions_snoozed }}</td>
          <td>{{ dp.customactions_dismissed }}</td>
          <td>{{ dp.behaviors_total }}</td>
          <td>
            Num: {{ dp.usercompletedactions.count|default:0 }}<br/>
            <ul>
            {% for uca in dp.usercompletedactions %}
              <li>{{ uca.action }} -- {{ uca.state }}</li>
            {% endfor %}
            </ul>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %} {# end if user #}
{% endblock %}
