{% extends "goals/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Duplicate Content{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'goals:category-list' %}">Categories</a></li>
  <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
  <li class="current">Duplicate Content</li>
{% endblock %}


{% block content %}
<h1>Duplicate</h1>
<div class="row">
  <div class="large-6 small-12 columns">
    <p>You are about to duplicate all content within
    <strong>{{ category }}</strong>. This will result in a copy of all Goals,
    Behaviors, and Notifications within the Category.</p>

    <p>To proceed, you must specify a new title <em>prefix</em> for each new
    Goal and Behavior. New notifications will be an exact copy of the
    original. For example, a goal entitled, "Learn to read" will be copied into
    a goal entitled, "Copy of Learn to read" when the <em>prefix</em> is
    specified as "Copy of".</p>
  </div>
  <div class="large-6 small-12 columns">
    <form action="{% url 'goals:duplicate-content' category.id category.title_slug %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <p>
        <input
          type="submit"
          class="button"
          value="Duplicate"
          onclick="$(this).val('Please wait...')" />
        <span class="helptext">Duplicating content may take a while.</span>
      </p>
    </form>
  </div>
</div>
{% endblock %}
