{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}

{% block title %}Goals{% endblock %}

{% block breadcrumbs %}
  <li class="current">Goals</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Goals
      {% if category %}
        <small>for {{ category }}</small>
      {% endif %}
      </h1>
      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>State</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Behaviors</th>
        <th>Categories</th>
        <th>Icon</th>
        <th>Selected By</th>
      </tr>
      </thead>
      <tbody>
      {% for goal in goals %}
        <tr>
        <td>
          {% if user|is_editor or user|is_contributor:goal %}
            {% publish_deny_form user goal "dropdown" %}
          {% else %}
            {{ goal|label }}
          {% endif %}
        </td>
        <td>
          <a href="{{ goal.get_update_url }}" title="Edit"><i class="fa fa-edit"></i></a>
          <a href="{{ goal.get_absolute_url }}"
             title="{{ goal.description }}">{{ goal }}</a>
        </td>
        <td>
          {% for kw in goal.keywords %}
            <span class="label secondary">{{ kw }}</span>
          {% endfor %}
        </td>
        <td>
          {% for behavior in goal.behavior_set.all %}
            <span class="label {{ behavior.state_label }}"
                  title="{{ behavior.description }}">{{ behavior }}</span>
          {% endfor %}
        </td>
        <td>
        {% for category in goal.categories.all %}
          {{ category }}{% if not forloop.last %},<br/>{% endif %}
        {% endfor %}
        </td>

        <td class="gray">
          {% with icon=goal.get_absolute_icon %}
            {% if icon %}
              <img src="{{ icon }}" class="list-icon" alt="{{ goal }} icon"/>
            {% endif %}
          {% endwith %}
        </td>
        <td>{{ goal.usergoal__count }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div> {# end .row #}
  </div> {# end .row #}
{% endblock %}
