{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load util_tags %}
{% load util_filters %}
{% load static from staticfiles %}

{% block title %}G: {{ goal.title }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:goal-list' %}">Goals</a></li>
  <li class="current">{{ goal }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ goal }} {% goal_object_controls goal %}</h1>
      <dl>
      <dt>State</dt><dd>{{ goal|label }}</dd>
      {% if goal.keywords %}
        <dt>Keywords</dt>
        <dd>
        {% for kw in goal.keywords %}
          <span class="label secondary">{{ kw }}</span>
        {% endfor %}
        </dd>
      {% endif %}
      <dt>Description</dt><dd>{{ goal.description|markdown }}</dt>
      <dt>More Info</dt><dd>{{ goal.more_info|markdown }}</dt>
      <dt>Icon</dt><dd class="gray">
        {# ------------- Async file upload form ------------------- #}
        {% if user == goal.created_by or user|is_editor %}
        <form action="{{ goal.get_async_icon_upload_url }}"
              enctype="multipart/form-data"
              method="post"
              class="dropzone">&nbsp;{% csrf_token %}
        </form>
        {% endif %}
        {# ------------- /Async file upload form ------------------- #}
        {% with icon=goal.get_absolute_icon %}
        {% if icon %}
          <a href="{{ icon }}" target="_blank">
          <img src="{{ icon }}" alt="{{ goal }} icon" />
          </a>
          <p class="panel callout">
            Image details: {{ goal.icon|details }}<br/>
            Location: <small><a href="{{ icon }}">{{ icon }}</a></small>
          </p>
        {% else %}
          <em>No icon available</em>
        {% endif %}
        {% endwith %}
      </dd>
      </dl>
      {% modified goal %}
      {% publish_deny_form user goal %}
    </div>
    <div class="large-6 small-12 columns">
      {% if goal.notes %}
        <h2 class="subheader">Notes</h2>
        <div class="panel">{{ goal.notes|markdown }}</div>
      {% endif %}
      <h2 class="subheader">Categories</h2>
      <p><strong>{{goal}}</strong> is listed in the following Categories.</p>
      <ul>
      {% for cat in goal.categories.all %}
        <li>
          {{cat|label}}
          <a href="{{cat.get_absolute_url }}">{{ cat }}</a>
        </li>
      {% endfor %}
      </ul>

      <h2 class="subheader">Behaviors</h2>
      {% csrf_token %} {# needed by our ordering forms #}
      <p>
        <a class="pull-right button tiny secondary"
           href="{% url 'goals:behavior-list' %}?goal={{ goal.id }}">
           <i class="fa fa-eye"></i> View Behaviors</a>
        <strong>{{ goal }}</strong>
        contains the following behaviors and notifications.
      </p>
      <ul style="list-style-type: none">
      {% for behavior in goal.behavior_set.all %}
        <li>
          {{behavior|label}}
          <strong>
            <a href="{{ behavior.get_absolute_url }}"
               data-tooltip aria-haspopup="true"
               title="{{ behavior.description }}">{{behavior}}</a>
          </strong>
          {# -- Allow re-ordering behaviors --------------- #}
          {% if user|is_author %}
          <select
            id="behavior-update-{{behavior.id}}"
            class="pull-left no-chosen behavior-update"
            style="margin: 0 20px 0 0;width:50px;"
            data-behaviorid="{{behavior.id}}">
          {% for v in order_values %}
            <option
              value="{{v}}"
              {% if behavior.sequence_order == v %} selected="selected"{% endif %}>
              {{v}}</option>
          {% endfor %}
          </select>
          {% endif %}
          {# -------------------------------------------- #}
          <ul class="action-list clearfix">
            {% for action in behavior.action_set.all %}
              <li>
                {# -- Allow re-ordering actions --------------- #}
                {% if user|is_author %}
                <select
                  id="action-update-{{action.id}}"
                  class="pull-left no-chosen action-update"
                  style="margin: 0 20px 0 0;width:50px;"
                  data-actionid="{{action.id}}">
                {% for v in order_values %}
                  <option
                    value="{{v}}"
                    {% if action.sequence_order == v %} selected="selected"{% endif %}>
                    {{v}}</option>
                {% endfor %}
                </select>
                {% endif %}
                {# -------------------------------------------- #}
                {{ action|label }}
                <a href="{{ action.get_absolute_url }}"
                   data-tooltip aria-haspopup="true"
                   title="{{ action.description }}">{{ action }}</a>
                <small>{{ action.default_trigger.time_details }}</small>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% empty %}
        <li><em>There are currently no Behaviors listed in this Goal</em></li>
      {% endfor %}
      </ul>

      <p><a class="button tiny info"
            href="{% url 'goals:behavior-create' %}?goal={{ goal.id }}">
            <i class="fa fa-plus-circle"></i> New Behavior</a></p>

    </div>
  </div> {# end .row #}
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  {% if user|is_author %}
  <script type="text/javascript" src="{% static 'js/ordering.js' %}"></script>
  {% endif %}
{% endblock %}
