{% extends "goals/base.html" %}
{% load goal_filters %}
{% load goal_tags %}

{% block title %}Goals{% endblock %}

{% block breadcrumbs %}
  <li class="current">Goals</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Goals
      {% if category %}
        <small>for {{ category }}</small>
      {% endif %}
      </h1>
      {% include "goals/_state_filter_subnav.html" %}

      <table class="object-list">
      <thead>
      <tr>
        <th>
          {% if user|is_editor %}
            <i class="fa fa-cog"></i>
          {% endif %}
          State
        </th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Behaviors</th>
        <th>Categories</th>
        <th>Icon</th>
        <th>Selected By</th>
      </tr>
      </thead>
      <tbody>
      {% for goal in goals %}
        <tr>
        <td>
          {% if user|is_editor %}
            {% publish_deny_form goal "dropdown" %}
          {% else %}
            {{ goal|label }}
          {% endif %}
        </td>
        <td><a href="{{ goal.get_absolute_url }}">{{ goal }}</a></td>
        <td>
          {% for kw in goal.keywords %}
            <span class="label secondary">{{ kw }}</span>
          {% endfor %}
        </td>
        <td>{{ goal.behavior_set.all|join:", " }}</td>
        <td>{{ goal.categories.all|join:", " }}</td>
        <td class="gray">
          {% with icon=goal.get_absolute_icon %}
            {% if icon %}
              <img src="{{ icon }}" class="list-icon" alt="{{ goal }} icon"/>
            {% endif %}
          {% endwith %}
        </td>
        <td>{{ goal.usergoal__count }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div> {# end .row #}
  </div> {# end .row #}
{% endblock %}
