{% extends "goals/base.html" %}
{% load goal_tags %}

{% block title %}Goal Form{% endblock %}

{% block head %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:goal-list' %}">Goals</a></li>
  <li class="current">
    {% if object %}{{ object }}{% else %}New Goal{% endif %}
  </li>
{% endblock %}

{% block content %}
<h1>{% if object %}Goal: {{object}}{% else %}Create Goal{% endif %}</h1>

{% if num_user_selections %}
  <div data-alert class="alert-box">
    <i class="fa fa-hand-o-right"></i>
    {{ num_user_selections }} users have selected this item. Please keep
    this in mind when making changes. <a href="#" class="close">&times;</a>
  </div>
{% endif %}

<form
  data-persist="garlic"
  action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:goal-create' %}{% endif %}"
  method="post"
  enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="large-6 small-12 columns">
    <p>A <strong>Goal</strong> is consists of Behaviors. We define a goal, and
    to achieve that goal, users will select the Behaviors they want to
    achieve and the Actions to take.</p>

    {# Render all but the 'notes' field #}
    {% include "goals/_form_fields_sans_notes.html" %}
    {% form_buttons object "Goal" %}
  </div>
  <div class="large-6 small-12 columns">
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Goal
  -- Behavior
  --- Action
  --- Action
    </pre>
    <p class="panel">
      {{ form.notes.label_tag }}
      {{ form.notes }} <span class="helptext">{{ form.notes.help_text }}</span>
    </p>

    {% with icon=object.get_absolute_icon %}
      {% if icon %}
        <p class="panel" style="text-align: center;">
          Current Icon:<br/>
          <a href="{{ icon }}" target="_blank">
          <img src="{{ icon }}" alt="{{ object}} icon" /></a>
        </p>
      {% endif %}
    {% endwith %}

    <table>
      <caption>Existing Goals</caption>
      <thead>
        <tr><th>Title</th><th>Categories</th></tr>
      </thead>
      <tbody>
      {% for goal in goals %}
        <tr>
          <td><a href="{{ goal.get_absolute_url }}">{{ goal }}</a></td>
          <td>
            {% for c in goal.categories.all %}
              <a href="{{c.get_absolute_url}}">{{c}}</a>
              {% if not forloop.last %}<br/>{% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</form>
{% endblock %}
