{% extends "goals/base.html" %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Goals</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Goals</h1>
      <table class="object-list">
      <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Behaviors</th>
        <th>Categories</th>
      </tr>
      </thead>
      <tbody>
      {% for goal in goals %}
        <tr>
        <td><a href="{{ goal.get_absolute_url }}">{{ goal }}</a></td>
        <td>{{ goal.subtitle|default:"" }}</td>
        <td>{{ goal.behavior_set.all|join:", " }}</td>
        <td>{{ goal.categories.all|join:", " }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div> {# end .row #}
  </div> {# end .row #}
{% endblock %}
