{% extends "goals/base.html" %}

{% block content %}
<h1>{% if object %}Interest: {{object.name}}{% else %}Create Interest{% endif %}</h1>

<div class="row">
  <div class="large-6 small-12 columns">
    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:interest-create' %}{% endif %}" method="post">{% csrf_token %}
    {{ form }}
    <hr/>
    {% if object %}
      <button type="submit">Update Interest</button>
    {% else %}
      <button type="submit">Create Interest</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <table>
      <caption>Existing Interests</caption>
      <thead>
        <tr><th>Order</th><th>Name</th><th>Categories</th></tr>
      </thead>
      <tbody>
      {% for int in interests %}
        <tr>
          <td>{{ int.order }}</td>
          <td><a href="{{ int.get_absolute_url }}">{{ int.name }}</a></td>
          <td>
            {% for c in int.categories.all %}
              <a href="{{c.get_absolute_url}}">{{c}}</a>
              {% if not forloop.last %}<br/>{% endif %}
            {% empty %}
              <em>None</em>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
