{% extends "goals/base.html" %}

{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:interest-list' %}">Interests</a></li>
  <li class="current">
    {% if object %}{{ interest.name }}{% else %}New Interest{% endif %}
  </li>
</ul>

<h1>{% if object %}Interest: {{object.name}}{% else %}Create Interest{% endif %}</h1>

<div class="row">
  <div class="large-6 small-12 columns">
    <p>An <strong>Interest</strong> is a container for similar behavior-change
    actions. It may contain many Behavior Sequences and Behavior Actions.</p>

    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:interest-create' %}{% endif %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <hr/>
    {% if object %}
      <button type="submit">Update Interest</button>
    {% else %}
      <button type="submit">Create Interest</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <p>The structure of our data looks something like the following:</p>
    <pre class="panel">
Category
  - Interest
  -- Goal
  --- Behavior Sequence
  ---- Behavior Action 1
  ---- Behavior Action 2
    </pre>
    <table>
      <caption>Existing Interests</caption>
      <thead>
        <tr><th>Order</th><th>Name</th><th>Categories</th><th>Goals</th></tr>
      </thead>
      <tbody>
      {% for int in interests %}
        <tr>
          <td>{{ int.order }}</td>
          <td><a href="{{ int.get_absolute_url }}">{{ int.name }}</a></td>
          <td>
            {% for c in int.categories.all %}
              <a href="{{c.get_absolute_url}}">{{c.name}}</a>
              {% if not forloop.last %}<br/>{% endif %}
            {% empty %}
              <em>None</em>
            {% endfor %}
          </td>
          <td>
            {% for g in int.goals %}
              <a href="{{g.get_absolute_url}}">{{g.name}}</a>
              {% if not forloop.last %}<br/>{% endif %}
            {% empty %}
              <em>None</em>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
