{% extends "goals/base.html" %}
{% load goal_tags %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Goals</a></li>
    <li><a href="{% url 'goals:interest-list' %}">Interests</a></li>
    <li class="current">{{ interest.name }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ interest.name }} {% object_controls interest %}</h1>
      <dl>
      <dt>Order</dt><dd>{{ interest.order }}</dd>
      <dt>Name</dt><dd>{{ interest.name }}</dd>
      <dt>Title</dt><dd>{{ interest.title }}</dd>
      <dt>Description</dt><dd>{{ interest.description|linebreaks }}</dt>
      <dt>Notes</dt><dd>{{ interest.description|linebreaks }}</dt>
      <dt>Source</dt><dd>{{ interest.source_name|default:"none"}}</dt>
      <dt>Source Link</dt><dd>{{ interest.source_link|urlize|default:"none"}}</dt>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Categories</h2>
      <p><em>{{interest.name}}</em> is listed in the following Categories:</p>
      <ul>
      {% for cat in interest.categories.all %}
        <li>{{ cat.name }}</li>
      {% endfor %}
      </ul>

      <h2 class="subheader">Goals</h2>
      <p><em>{{interest.name}}</em> contains the following Goals:</p>
      <ul>
      {% for goal in interest.goals %}
        <li>{{ goal }}</li>
      {% endfor %}
      </ul>

    </div>
  </div> {# end .row #}
{% endblock %}
