{% extends "goals/base.html" %}

{% block content %}
<h1>
  {% if object %}
    Interest Group: {{object.name}}
  {% else %}
    Create Interest
  {% endif %}
</h1>

<div class="row">
  <div class="large-6 small-12 columns">
    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:group-create' %}{% endif %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <hr/>
    {% if object %}
      <button type="submit">Update Interest Group</button>
    {% else %}
      <button type="submit">Create Interest Group</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <table>
      <caption>Existing Interest Groups</caption>
      <thead>
        <tr><th>Category</th><th>Name</th></tr>
      </thead>
      <tbody>
      {% for ig in interestgroups %}
        <tr>
          <td>{{ ig.category }}</td>
          <td><a href="{{ ig.get_absolute_url }}">{{ ig.name }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
