{% extends "goals/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Interests</h1>
      <table>
      <thead>
      <tr>
        <th>Interest</th>
        <th>Actions</th>
        <th>Category/Group</th>
      </tr>
      </thead>
      <tbody>
      {% for interest in interests %}
        <tr>
        <td>
          <strong>
            <a href="{{ interest.get_absolute_url }}">{{ interest }}</a>
          </strong><br/>
          {{ interest.description|truncatewords:10}}
        </td>
        <td>
          {% for action in interest.action_set.all %}
            <a href="{{ action.get_absolute_url }}">{{ action }}</a><br/>
          {% empty %}
            <em>None</em>
          {% endfor %}
        </td>
        <td>
          {% for group in interest.groups %}
            {{ group }}<br/>{% empty %}<em>None</em>
          {% endfor %}
        </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div> {# end .row #}
  </div> {# end .row #}
{% endblock %}

