{% extends "goals/base.html" %}

{% block title %}{{ organization }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'goals:organization-list' %}">Organizations</a></li>
    <li class="current">{{ organization }}</li>
{% endblock %}

{% block content %}
  <h1>
    {{ organization }}
    <a class="button pull-right alert tiny"
       href="{{ organization.get_delete_url }}">Delete</a>
    <a class="button pull-right tiny"
       href="{{ organization.get_update_url }}">Edit</a>
  </h1>
  <p class="lead">Organizations can be associated with <em>Categories</em>, and
  they can define <em>Programs</em> for their members.</p>
  <p>A <em>Program</em> defines the set of categories and goals that are available
  to members within the mobile app. It may also define a set of goals in which
  users are automatically enrolled upon account creation.</p>
  <div class="row">
    <div class="large-6 medium-6 small-12 columns">
      {# --- Categories --- #}
      {% with cat_count=organization.categories.count %}
      {% if cat_count %}
        <h2>Categories ({{cat_count}})</h2>
        <p>The following content categories are associated with this organization:</p>
        <ul>
        {% for category in organization.categories.all %}
          <li>
          <a href="{{ category.get_absolute_url }}">{{ category }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}

      {# --- Members --- #}
      {% with members=organization.members.all %}
        <h2 class="subheader">Members
          <small>({{ members.count }})</small></h2>
        {% for obj in members %}
          {{ obj.get_full_name }}
          <small>&lt;<a href="mailto:{{ obj.email }}">
            {{ obj.email }}</a>&gt;</small><br/>
        {% endfor %}
      {% endwith %}
    </div>
    <div class="large-6 medium-6 small-12 columns">
      <h2>
        Programs
        <a class="button secondary tiny"
           href="{{ organization.get_new_program_url }}">
           <i class="fa fa-plus"></i> New Program</a>
      </h2>
      <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Categories</th>
          <th>Goals</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
      {% for program in organization.program_set.all %}
        <tr>
          <td>
            <a href="{{ program.get_absolute_url }}">{{ program }}</a><br/>
          </td>
          <td>
            {% for cat in program.categories.all %}
              {{ cat }}<br/>
            {% endfor %}
          </td>
          <td>
          {% for goal in program.auto_enrolled_goals.all %}
            {{ goal }}<br/>
          {% endfor %}
          </td>
          <td>{{ program.members.count }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}

{% endblock %}
