{% extends "goals/base.html" %}

{% block title %}{{ organization }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'goals:organization-list' %}">Organizations</a></li>
    <li class="current">{{ organization }}</li>
{% endblock %}

{% block content %}
  <h1>
    {{ organization }}
    <a class="button pull-right alert tiny"
       href="{{ organization.get_delete_url }}">Delete</a>
  </h1>
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      {% with results=organization.admins.all %}
        <h2 class="subheader">Admin <small>({{ results.count }} users)</small></h2>
        {% for obj in results %}
          {{ obj.get_full_name }}
          <small>&lt;<a href="mailto:{{ obj.email }}">{{ obj.email }}</a>&gt;</small><br/>
        {% endfor %}
      {% endwith %}
    </div>
    <div class="large-4 medium-4 small-12 columns">
      {% with results=organization.staff.all %}
        <h2 class="subheader">Staff <small>({{ results.count }} users)</small></h2>
        {% for obj in results %}
          {{ obj.get_full_name }}
          <small>&lt;<a href="mailto:{{ obj.email }}">{{ obj.email }}</a>&gt;</small><br/>
        {% endfor %}
      {% endwith %}
    </div>
    <div class="large-4 medium-4 small-12 columns">
      {% with results=organization.members.all %}
        <h2 class="subheader">Members <small>({{ results.count }} users)</small></h2>
        {% for obj in results %}
          {{ obj.get_full_name }}
          <small>&lt;<a href="mailto:{{ obj.email }}">{{ obj.email }}</a>&gt;</small><br/>
        {% endfor %}
      {% endwith %}
    </div>
  </div>
  {% with cat_count=organization.categories.count %}
  {% if cat_count %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h2>Content Categories ({{cat_count}})</h2>
      <p>The following content categories are associated with this organization:</p>
      <ul>
      {% for category in organization.categories.all %}
        <li>
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endwith %}
{% endblock %}
