{% extends "goals/base.html" %}
{% load goal_filters %}

{% block content %}

  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Packages</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Packages</h2>

      <table class="object-list">
      <thead>
      <tr>
        <th>Category</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
      <tr>
        <td>
        <a href="{{ category.get_absolute_url }}">{{ category }}</a></td>
        <td>{{ category.state|label }}</td>
        <td>
          {% if user.is_staff or user in category.package_contributors %}
          <ul class="stack-for-small button-group">
            <li><a href="{{ category.get_view_enrollment_url }}"
                   class="button small secondary">
                   View Enrollment</a></li>
            <li><a href="{{ category.get_enroll_url }}"
                   class="button small secondary">
                   Enroll Users</a></li>
          </ul>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

