{% extends "goals/base.html" %}

{% block title %}Enroll{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'goals:package-list' %}">Packages</a></li>
  <li class="current">{{ category }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
    <h1>{{ category }} Enrollment</h1>
    {% if form %}
    <form
      data-persist="garlic"
      action="{{ category.get_enroll_url }}"
      method="post">{% csrf_token %}

    {{ form.as_p}}
    <hr/>
    <p><button type="submit">Enroll</button></p>
    </form>
    {% else %}
        <p class="alert-box warning">You do not have permission to enroll
        users in this package.</p>
    {% endif %}

    </div> {# end .row #}
  </div> {# end .row #}
{% endblock %}
