{% extends "goals/base.html" %}
{% load goal_filters %}
{% load util_filters %}
{% load tz %}

{% block title %}Calendar for {{category}}{% endblock %}

{% block head %}
  {{ block.super }}
  {# Calendar table css #}
  <style type="text/css">
  table.calendar {width:100%;}
  table.calendar caption {font-size: x-large;}
  table.calendar caption a.prev{float:left;}
  table.calendar caption a.next{float:right;}
  table.calendar td {
    vertical-align: top;
    text-align:left;
  }
  table.calendar td.date div.date-wrapper {
    position: relative;
    min-height: 100px;
    min-width: 100px;
  }
  table.calendar td.date div.date-wrapper span.day a {
    color: inherit;
  }
  table.calendar td.selected { background-color: #ffe;}
  table.calendar td span.day {
    color: #ccc;
    z-index:1;
    font-size:20px;
  }
  table.calendar td div.action-wrapper {
    border-bottom: 1px dotted #ccc;
    margin-left:1em;
    margin-bottom:.5em;
  }
  span.has-tip {float:right;}
  span.has-tip i {color: #aaa;}
  </style>
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:package-list' %}">Packages</a></li>
  <li class="current">{{ category }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>{{ category }} Triggers <small>Starting: {{ starting_date }}</small></h2>
      <div class="row">
        <div class="large-6 small-6 columns">
          {{ category.rendered_description|safe }}
        </div>
        <div class="large-6 small-6 columns">
          <div class="panel">
            <label for="filter-by-goal">Filter by:</label>
            <select id="filter-by-goal">
              <option value="">All Goals</option>
            {% for id, title in goals %}
              <option value="goal-{{id}}">{{ title }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
      </div>

      {% if contains_relative_reminders %}
        <div class="alert-box info">
          <i class="fa fa-info-circle"></i>
          <strong>This package contains relative reminders</strong><br/>
          <p>Some of the notifications in this package are delivered to the user
          based on the day that a user is enrolled in the package. These items
          are marked with the <i class="fa fa-calendar-o" title="calendar"></i>
          icon, and we've selected <em>{{ starting_date|date:"M j, Y"|default:"today" }}</em> as the
          starting date.</p>
          <p>You can click a day in the calendar below to change the start date
          for relative reminders.</p>
        </div>
      {% endif %}

      {% localtime off %}
      <table class="calendar">
      <caption>
        <a href="?d={{prev_date}}" class="prev">&larr; Previous</a>
        {{ starting_date|date:"F Y" }}
        <a href="?d={{next_date}}" class="next">Next &rarr;</a>
      </caption>
      <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      </thead>
      <tbody>
      {% for week in calendar %}
        <tr>
        {% for day in week %}
          <td class="date {% if day == today.date %}selected{% endif %}">
            <div class="date-wrapper">
            <span class="day"
                  data-tooltip aria-haspopup="true"
                  title="Select to change your starting date">
              <a href="?d={{day|date:"Y-m-d"}}">{{ day.day }}</a>
            </span>
            {% for adate, dt, action in actions %}
              {% if adate == day %}
                <div class="action-wrapper{% for gid in action.goal_ids %} goal-{{gid}}{% endfor %}">
                  {% with t=action.default_trigger %}
                  <span data-tooltip aria-haspopup="true"
                        class="has-tip tip-top"
                        title="{{ t.time }}{% if t.trigger_date %}, starting {{ t.trigger_date|date:"N d" }}{% endif %}<br/>{{ t.recurrences_as_text }}">
                    {% if action.is_relative %}
                      <i class="fa fa-calendar-o"></i>
                    {% else %}
                      <i class="fa fa-info-circle"></i>
                    {% endif %}
                  </span>
                  {% endwith %}
                  {% if is_editor %}
                    <a href="{{ action.get_update_url }}">{{ action }}</a>.
                  {% else %}
                    <a href="{{ action.get_absolute_url }}">{{ action }}</a>.
                  {% endif %}
                  <small>{{ dt|date:"P" }}</small>
                </div>
              {% endif %}
            {% endfor %}
            </div>
            <a class="pull-right button tiny secondary"
               href="{% url 'goals:action-create' %}?date={{day|date:"Y-m-d"}}">
               <i class="fa fa-plus"></i> Action</a>
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
      </table>
      {% endlocaltime %}


    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script>
  $(document).ready(function() {
    $("#filter-by-goal").change(function() {
      var value = $(this).val();
      console.log("FILTERING FOR: " + value);
      if(value) {
        $(".action-wrapper").hide();
        $("." + value).show();
      } else {
        $(".action-wrapper").show();
      }
    });
  });
  </script>
{% endblock %}
