{% extends "goals/base.html" %}
{% load goal_filters %}
{% load util_filters %}

{% block title %}{{category}}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:package-list' %}">Packages</a></li>
  <li class="current">{{ category }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Package Enrollments: {{ category }}</h2>

      {% if enrollments %}
      <table class="object-list">
      <thead>
      <tr>
        <th>User</th>
        <th>Goals</th>
        <th>Custom Reminders Allowed</th>
        <th>Accepted</th>
        <th>Enrolled By</th>
        <th>Enrolled On</th>
      </tr>
      </thead>
      <tbody>
      {% for enrollment in enrollments %}
        <tr>
          <td>{{ enrollment.user.email }}</td>
          <td>{% for goal in enrollment.goals.all %}
            <span class="label secondary">{{ goal }}</span>{% endfor %}</td>
          <td>
            {# Are custom reminders allowed? #}
            {{ enrollment.prevent_custom_triggers|iconbool:"True" }}
          </td>
          <td>{{ enrollment.accepted|iconbool }}</td>
          <td>{{ enrollment.enrolled_by.get_full_name }}</td>
          <td>{{ enrollment.enrolled_on }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
      {% else %}
        <p class="alert-box warning">
          There is no enrollment data available for you to view.
        </p>
      {% endif %}
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}
