{% extends "goals/base.html" %}
{% block title %}Delete Organization{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:organization-list' %}">Organizations</a></li>
  <li><a href="{{ organization.get_absolute_url }}">{{ organization }}</a></li>
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="current">Delete</li>
{% endblock %}

{% block content %}
  {% with member_count=object.members.count %}
    {% if member_count > 0 %}
      <div data-alert class="alert-box alert">
        <i class="fa fa-warning"></i>
        There are currently {{ member_count }} users in this organization.
        Deletion is not currently supported.
        <a href="#" class="close">&times;</a>
      </div>
    {% else %}
      <div data-alert class="alert-box warning">
        <strong>Are you sure you want to <em>permanently</em> delete
        this organization?</strong><a href="#" class="close">&times;</a>
      </div>
      <form action="{{ object.get_delete_url }}" method="post">{% csrf_token %}
        <h1>{{ object }}</h1>
        <ul>
          <li>Categories: {{ object.categories.all|join:", "}}</li>
          <li>Auto-enrolled Goals: {{ object.auto_enrolled_goals.all|join:", " }}</li>
        </ul>
        <hr/>
        <button type="submit" class="button alert">Yes, Delete {{object}}</button>
      </form>
    {% endif %}
  {% endwith %}
{% endblock %}
