{% extends "goals/base.html" %}
{% load static from staticfiles %}
{% load goal_filters %}
{% load goal_tags %}
{% load util_tags %}


{% block head %}
  {{ block.super }}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <style type="text/css">
    canvas {
      display: block;
      margin: .5em auto;
      width: 200px;
      height: 200px;
    }
  </style>
{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'goals:reports' %}">Reports</a></li>
  <li class="current">Notifications</li>
{% endblock %}


{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>Notifications <small>{{ total }} total</small></h1>
    <p class="lead">Information about our Notification (aka Action) content.</p>
  </div>
</div>

<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <h2 class="secondary">Sub-reports</h2>
    <ul>
      <li><a href="?sub=desc">Long text descriptions</a>.<br/>
        Lists notifications whose <code>description</code> text contains more
        than 200 (or longer) characters.
      </li>
      <li><a href="?sub=notif">Long notification text</a>.<br/>
        Lists notifications whose <code>notification_text</code> contains
        more than 90, 100, or 150 characters.
      </li>
      <li><a href="?sub=links">Notifications containing links</a>.<br/>
        List  notifications whose <code>description</code> or
        <code>more info</code> fields contain links.
      </li>
      <li><a href="?sub=triggers">Dynamic vs. Advanced Triggers</a>.<br/>
        List  notifications based on their default trigger settings. Click this
        report to see additional search options.
    </ul>

    {% if subreport and actions %}
    <h3>
      {{ subreport_title }}
      <small>{{ actions.count }} notifications.</small>
    </h3>
    {% endif %}

    {% if subreport == "triggers" %}
      <form method="get" class="panel">
      <p>List actions whose default trigger matches one of the following criteria:</p>
      <div class="row">
        <div class="small-8 columns">
          <input type="hidden" name="sub" value="{{subreport}}"/>
          <select name='trigger'>
            <option value=""> ----- </option>
            <option value="dynamic" {% if trigger == "dynamic"%} selected="selected"{% endif %}>Dynamic Triggers</option>
            <option value="advanced" {% if trigger == "advanced"%} selected="selected"{% endif %}>Triggers with Advanced options</option>
            <option value="time" {% if trigger == "time"%} selected="selected"{% endif %}>Triggers with Time of Day and/or advanced</option>
            <option value="freq" {% if trigger == "freq"%} selected="selected"{% endif %}>Triggers with Frequency and/or advanced</option>
            <option value="none" {% if trigger == "none"%} selected="selected"{% endif %}>No Default Trigger</option>
          </select>
        </div>
        <div class="small-4 columns">
          <button type="submit" id="triggerSearch" class="button">Search</button>
        </div> {# end .columns #}
      </div> {# end .row #}
      </form>
    {% endif %}

    {% if subreport and subreport != "triggers" and actions|length == 0%}
    <p>View content longer than:
      {% for opt in len_options %}
        {% if opt == max_len %}
          {{ opt }} {% if not forloop.last %} | {% endif %}
        {% else %}
          <a href="?len={{ opt }}&amp;sub={{subreport}}">{{ opt }}</a>
          {% if not forloop.last %} | {% endif %}
        {% endif %}
      {% endfor %}
      characters.
    </p>
    {% endif %}

    {% if actions %}
    <table class="object-list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Edit</th>
          {% if subreport == "triggers" %}
            <th>Trigger</th>
          {% else %}
            <th>Text Length</th>
          {% endif %}
          <th>Behavior</th>
        </tr>
      </thead>
      <tbody>
      {% for action in actions %}
        {% with behavior=action.behavior %}
        <tr>
          <td>
            <a href="{{ action.get_absolute_url }}">{{ action }}</a>
            {% if subreport != "triggers" %}
              <i data-tooltip aria-haspopup="true"
                 {% if subreport == "desc" %}
                  title="{{ action.description }}"
                 {% elif subreport == "notif" %}
                  title="{{ action.notification_text }}"
                 {% endif %}
                 class="tip-top fa fa-info-circle"></i>
            {% endif %}
          </td>
          <td><a href="{{ action.get_update_url }}"><i class="fa fa-edit"></i></a></td>
          {% if subreport == "triggers" %}
            <td>
              <i data-tooltip aria-haspopup="true"
                 title="{{ action.default_trigger }}"
                 class="tip-top fa fa-info-circle"></i>
            </td>
          {% else %}
            <td>{{ action.text_len }}</td>
          {% endif %}
          <td>
            <a href="{{ behavior.get_absolute_url }}">{{ behavior }}</a>
          </td>
        </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
    </table>
    {% elif subreport == "links" %}
      <p class="alert-box info">There are not Actions whose <code>description</code> or
      <code>more_info</code> fields contain links.</p>
    {% elif subreport == "triggers" %}
      <p class="alert-box info">We couldn't find any actions whose default trigger matched that criteria.</p>
    {% elif subreport  %}
      <p class="alert-box info">There is no content whose character
         count is greater than {{ max_len }}.</p>
      <p>Find content longer than:
        {% for opt in len_options %}
          {% if opt == max_len %}
            {{ opt }} {% if not forloop.last %} | {% endif %}
          {% else %}
            <a href="?len={{ opt }}&amp;sub={{subreport}}">{{ opt }}</a>
            {% if not forloop.last %} | {% endif %}
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
  </div> {# end .columns #}

  <div class="large-4 medium-4 small-12 columns">
    <h2>States
      <small><a href="#" data-reveal-id="pop-state-modal">Data</a></small>
    </h2>
    <p>The current states for all notification content.</p>

    {# Modal showing a table w/ numbers #}
    <div id="pop-state-modal" class="reveal-modal"
         data-reveal aria-labelledby="state-data" aria-hidden="true" role="dialog">
      <h2 id="state-data">Notifcation States</h2>
        <table style="width:100%">
          <thead><tr><th>State</th><th>Count</th></tr></thead>
          <tbody>
            <tr><td>Draft</td><td>{{ draft_count }}</td></tr>
            <tr><td>Published</td><td>{{ published_count }}</td></tr>
            <tr><td>Pending Review</td><td>{{ pendingreview_count }}</td></tr>
            <tr><td>Declined</td><td>{{ declined_count }}</td></tr>
          </tbody>
        </table>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <canvas id="state-counts"></canvas>
    <script>
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("state-counts").getContext("2d");
    var data = [
      {
        value: {{ draft_count }},
        color: "#e7e7e7",
        highlight: "#e9e9e9",
        label: "Draft"
      },
      {
        value: {{ published_count }},
        color: "#43AC6A",
        highlight: "#368a55",
        label: "Published"
      },
      {
        value: {{ pendingreview_count }},
        color: "#f08a24",
        highlight: "#cf6e0e",
        label: "Pending Review"
      },
      {
        value: {{ declined_count }},
        color: "#f04124",
        highlight: "#cf2a0e",
        label: "Declined"
      }
    ]
    var c = new Chart(ctx).Doughnut(data);
    </script>
  </div> {# end .columns #}

</div> {# end .rows #}
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#triggerSearch").click(function() {
      console.log("Running pleaseWait");
      $("#triggerSearch").html('<i class="fa fa-spinner fa-spin"></i> <span class="sr-only">Loading...</span>');
    });
  });
  </script>
{% endblock %}
