{% extends "goals/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load util_tags %}
{% load util_filters %}

{% block title %}Author Progress{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'goals:reports' %}">Reports</a></li>
  <li class="current">Authors</li>
{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">
    .table-wrapper {display: flex;}
    .table-column {flex: 4; padding:.5em;}
  </style>
{% endblock %}


{% block content %}
<h1>Author Stats</h1>

<form action="{% url 'goals:report-authors' %}" method="get">
  <div class="panel">
    <p>Enter an author's email address to view their specific details.</p>
    <p><input type="text" placeholder="Email Address" name="email"></p>
    <p>
      <button type="submit">Search</button> &nbsp;&nbsp;
      <a href="{% url 'goals:report-authors' %}">View all authors</a>
    </p>
  </div>
</form>

<h2>Goals</h2>
<div class="row">
<div class="large-12 columns">
<div class="table-wrapper">
{% for state, counter in goals.items %}
  <div class="table-column">
    <table>
    <caption>{{ state }}</caption>
    <thead>
      <tr><th>User</th><th>Number of items</th></tr>
    </thead>
    <tbody>
    {% for email, count in counter.items %}
      <tr>
        <td>{{ email|default:"Unkown" }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endfor %}
</div> {# end table-wrapper #}
</div> {# end .columns #}
</div> {# end .row #}
<hr/>


<h2>Actions</h2>
<div class="row">
<div class="large-12 columns">
<div class="table-wrapper">
{% for state, counter in actions.items %}
  <div class="table-column">
    <table>
    <caption>{{ state }}</caption>
    <thead>
      <tr><th>User</th><th>Number of items</th></tr>
    </thead>
    <tbody>
    {% for email, count in counter.items %}
      <tr>
        <td>{{ email|default:"Unkown" }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endfor %}
</div> {# end table-wrapper #}
</div> {# end .columns #}
</div> {# end .row #}
<hr/>


{% endblock %}
