{% extends "goals/base.html" %}
{% load static from staticfiles %}

{% block head %}
  {{ block.super }}
  {{ form.media }}  {# load the recurrences widget #}
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  {# Custom CSS for the recurrences widget #}
  <style type="text/css">
  div.recurrence-widget {margin-bottom: 1em;}
  div.panels > div.panel {
    border-width: 0px; margin:0px; padding:.5em;
    border-bottom: 1px solid #ddd;
  }
  </style>
{% endblock %}


{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:trigger-list' %}">Trigger</a></li>
  <li class="current">
    {% if object %}{{ object.name }}{% else %}New Trigger{% endif %}
  </li>
</ul>

<h1>{% if object %}Update Trigger: {{object.name}}{% else %}Create Trigger{% endif %}</h1>
<div class="row">
  <div class="large-6 small-12 columns">

    <div data-alert class="alert-box info">
      <i class="fa fa-warning"></i> <strong>NOTE on Timzones</strong><br/>
      Trigger notifications will always be sent in a user's local
      timezone.
      <a href="#" class="close">&times;</a>
    </div>

    <form
      data-persist="garlic"
      action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'goals:trigger-create' %}{% endif %}"
      method="post"
      enctype="multipart/form-data">{% csrf_token %}
    <p>A <strong>Trigger</strong> defines when notifications will be sent to
    the user. Triggers can be associated with Action, and these will be
    presented to the user as a default time/date/recurrence for an Action,
    however, users have the ability to define their own Trigger objects
    (aka reminders).</p>

    <p  data-alert class="alert-box info">
    <i class="fa fa-warning"></i>
    While the form below will let you include or exclude dates in the recurrence,
    the backend only supports recurring rules and included dates
    (not excluded dates).
    </p>
    {{ form.as_p}}
    <hr/>
    <p><button type="submit">
        {% if object %}Save{% else %}Create{% endif %} Trigger
    </button></p>
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <table>
      <caption>Existing Triggers</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
      {% for trigger in triggers%}
        <tr>
          <td><a href="{{ trigger.get_absolute_url }}">{{ trigger }}</a></td>
          <td>{{ trigger.get_trigger_type_display }}</td>
          <td>
            {% if trigger.is_time_trigger %}N/A{% else %}
              {{ trigger.location }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $('.datepicker').datepicker({'format': 'yyyy/mm/dd'});
  });
  </script>
{% endblock %}
