{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load tz %}

{% block title %}Trigger{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'goals:trigger-list' %}">Triggers</a></li>
    <li class="current">{{ trigger.name }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>{{ trigger.name }}</h1>

      <div data-alert class="alert-box info">
        <i class="fa fa-warning"></i> <strong>NOTE on Timezones</strong><br/>
        Trigger notifications will always be sent in a user's local
        timezone.
        <a href="#" class="close">&times;</a>
      </div>

      <dl>
        <dt>Disabled</dt><dd>{{ trigger.disabled }}</dd>
        <dt>Time</dt><dd>{{ trigger.time }}</dd>
        <dt>Date</dt><dd>{{ trigger.trigger_date }}</dd>
        <dt>Recurrences</dt>
          <dd>{{ trigger.recurrences_as_text|default:"None" }}</dd>
        <dt>RRULE data</dt>
          <dd><code>{{ trigger.serialized_recurrences|default:"n/a"}}</code></dd>
        <dt>Relative Reminder</dt>
        <dd>
          {% if trigger.relative_value %}
            {{ trigger.relative_value }} {{ trigger.relative_units }}
          {% else %}
            None
          {% endif %}
        </dd>
        <dt>Dynamic Notification</dt>
        <dd>
          {{ trigger.get_time_of_day_display }},
          {{ trigger.get_frequency_display }}
        </dd>
        {% if trigger.action_default %}
          <dt>Default Trigger for</dt>
          <dd>
            <a href="{{ trigger.action_default.get_absolute_url }}">
              {{ trigger.action_default }}</a>
          </dd>
        {% endif %}
        {% if trigger.behavior_set.exists %}
          <dt>Default for Behavior(s):</dt>
          <dd>
            {% for behavior in trigger.behavior_set.all %}
              <a href="{{ behavior.get_absolute_url }}">{{ behavior }}</a><br/>
            {% endfor %}
          </dd>
        {% endif %}
        <dt>Start When Selected</dt><dd>{{ trigger.start_when_selected }}</dd>
        <dt>Stop On Complete</dt><dd>{{ trigger.stop_on_complete }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
