{% extends "goals/base.html" %}

{% block title %}Default Triggers{% endblock %}


{% block breadcrumbs %}
  <li class="current">Default Triggers</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Triggers</h2>

      <div data-alert class="alert-box warning">
        <i class="fa fa-warning"></i>
        <strong>Default Triggers are Created on Actions</strong><br/>
        This page provides a listing of existing default triggers, but these
        are now created on an action. See the relevant action for more information.
        <a href="#" class="close">&times;</a>
      </div>

      <div data-alert class="alert-box info">
        <i class="fa fa-warning"></i> <strong>NOTE on Timezones</strong><br/>
        Trigger notifications will always be sent in a user's local
        timezone.
        <a href="#" class="close">&times;</a>
      </div>

      <table class="object-list">
      <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Recurrence</th>
      </tr>
      </thead>
      <tbody>
      {# NOTE: the queryset for now uses .values for speed #}
      {% for trigger in triggers %}
        <tr>
          <td>
            {# no get_absolute_url because we don't have a full trigger obj #}
            <a href="/goals/triggers/{{trigger.id}}/">{{ trigger.name }}</a>
          </td>
          <td>{{ trigger.time|default:"-" }}</td>
          <td>
            {% if trigger.recurrences %}
              <kb>{{ trigger.recurrences }}</kb>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

