{% extends "goals/base.html" %}

{% block content %}

<ul class="breadcrumbs">
  <li><a href="{% url 'goals:index' %}">Home</a></li>
  <li><a href="{% url 'goals:trigger-list' %}">Triggers</a></li>
  <li class="current">{{ object.name }}</li>
</ul>

<div data-alert class="alert-box warning">
  <strong>Are you sure you want to <em>permanently</em> delete
  this item?</strong><a href="#" class="close">&times;</a>
</div>

<form action="{{ object.get_delete_url }}" method="post">{% csrf_token %}
  <h1>{{ object.name }}</h1>
  {{ object.description|linebreaks }}
<hr/>
<button type="submit" class="button alert">Delete {{object.name}}</button>
</form>

{% endblock %}
