{% extends "goals/base.html" %}
{% load goal_tags %}
{% load goal_filters %}
{% load tz %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li><a href="{% url 'goals:trigger-list' %}">Triggers</a></li>
    <li class="current">{{ trigger.name }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ trigger.name }} {% goal_object_controls trigger %}</h1>

      <div data-alert class="alert-box info">
        <i class="fa fa-warning"></i> <strong>NOTE on Timzones</strong><br/>
        Trigger notifications will always be sent in a user's local
        timezone.
        <a href="#" class="close">&times;</a>
      </div>

      <dl>
        <dt>Type</dt><dd>{{ trigger.get_trigger_type_display}}</dd>
        <dt>Time</dt><dd>{{ trigger.time }}</dd>
        <dt>Date</dt><dd>{{ trigger.trigger_date|default:"not set"}}</dd>
        <dt>Recurrences</dt><dd>{{ trigger.recurrences_as_text }}</dd>
        <dt>RRULE data</dt><dd><code>{{ trigger.serialized_recurrences}}</code></dd>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      {% if trigger.behavior_set.exists %}
      <h2 class="subheader">Behavior</h2>
      <p><strong>{{ trigger.name }}</strong>
        is attached to the following behavior sequences:</p>
      <ul>
      {% for b in trigger.behavior_set.all %}
        <li>{{ b.state|label }} <a href="{{b.get_absolute_url}}">{{ b }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if trigger.action_set.exists %}
      <h2 class="subheader">Action</h2>
      <p><strong>{{ trigger.name }}</strong>
        is attached to the following behavior actions:</p>
      <ul>
      {% for a in trigger.action_set.all %}
        <li>{{ a.state|label }} <a href="{{a.get_absolute_url}}">{{ a }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
