{% extends "goals/base.html" %}

{% block content %}

  <ul class="breadcrumbs">
    <li><a href="{% url 'goals:index' %}">Home</a></li>
    <li class="current">Triggers</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Triggers</h2>

      <div data-alert class="alert-box info">
        <i class="fa fa-warning"></i> <strong>NOTE on Timzones</strong><br/>
        Trigger notifications will always be sent in a user's local
        timezone.
        <a href="#" class="close">&times;</a>
      </div>

      <table class="object-list">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Time</th>
        <th>Recurrence</th>
        <th>Num Behaviors</th>
        <th>Num Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for trigger in triggers %}
        <tr>
          <td>
            <a href="{{ trigger.get_absolute_url }}">{{ trigger.name }}</a>
          </td>
          <td>{{ trigger.get_trigger_type_display }}</td>
          <td>{{ trigger.time|default:"-" }}</td>
          <td>{{ trigger.recurrences_as_text }}</td>
          <td>{{ trigger.behavior_set.count }}</td>
          <td>{{ trigger.action_set.count }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div> {# end .row #}
  <hr/>
{% endblock %}

