{% extends "goals/base.html" %}

{% block content %}


<h1>Data Upload</h1>

<p>This tool lets you quickly create Categories, Interest Groups, Interests,
and Actions by uploading a spreadsheet. The format of the spreadsheet is
<em>very important</em>, and must adhere to the following formats.</p>

<p>Each line begins with the name of a data type (<code>Category</code>,
<code>Interest Group</code>, <code>Interest</code>, or <code>Action</code>),
followed by data to be stored in the specified fields.</p>

<table>
<caption>Categories</caption>
<thead>
  <tr><th>Data type</th><th>Name</th><th>Description</th></tr>
</thead>
<tbody>
  <tr><td>Category</td><td>[name]</td><td>[description]</td></tr>
</tbody>
</table>

<table>
<caption>Interests</caption>
<thead>
  <tr><th>Data type</th><th>Name</th><th>Description</th></tr>
</thead>
<tbody>
  <tr><td>Interest</td><td>[name]</td><td>[description]</td></tr>
</tbody>
</table>

<table>
<caption>Interest Groups</caption>
<thead>
  <tr>
    <th>Data type</th><th>Category</th><th>Group Name</th>
    <th colspan="3">Interests...</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Interest Group</td><td>[category name]</td><td>[name]</td>
    <td>[interest 1 name]</td><td>[interest 2 name]</td><td>[interest 3 name]</td>
  </tr>
</tbody>
</table>

<table>
<caption>Actions</caption>
<thead>
  <tr>
    <th>Data type</th><th>Name</th><th>Summary</th><th>Description</th>
    <th>Reminder Time</th><th>Frequency<sup>*</sup>
    <th colspan="2">Interests...</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Action</td><td>[action name]</td><td>[summary]</td><td>[description]</td>
    <td>[reminder time (24hr format)</td><td>[frequencey]</td>
    <td>[interest 1 name]</td><td>[interest 2 name]</td>
  </tr>
</tbody>
</table>
<p><sup>*</sup> Frequency must be one of the following: <code>never</code>,
  <code>daily</code>, <code>weekly</code>.</p>

<h2 class="subheader">Instructions</h2>
<p>First, export your data as a <abbr title="Comma Separated Values">CSV</abbr>
file. Then, uploading it using the form below.</p>

{% if form %}
<form enctype="multipart/form-data"
      action="{% url 'goals:upload-csv' %}"
      method="post">{% csrf_token %}
  {{ form }}
  <hr/>
  <button type="submit" class="button">Upload CSV</button>
</form>
{% endif %}

{% endblock %}
