{% load staticfiles %}

{% with loggedin=user.is_authenticated %}
  {% if loggedin %}
    <h5>Hi, {{ user.first_name }}.</h5>
  {% else %}
    <h5>Hi, there.</h5>
  {% endif %}

  {% with avatar=user.userprofile.google_image %}
    {% if avatar %}
      <p><img src="{{ avatar }}" class="thumbnail"></p>
    {% else %}
      <p>
        <i class="fa fa-user-circle-o fa-5x"></i>
      </p>
    {% endif %}
  {% endwith %}

  <nav>
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-home"></i>
        <a href="{% url 'officehours:index' %}">Home</a>
      </li>
      {% if loggedin %}
      <li>
        <i class="fa-li fa fa-calendar"></i>
        <a href="{% url 'officehours:schedule' %}">Schedule</a>
      </li>
      <li>
        <i class="fa-li fa fa-mobile"></i>
        <a href="{% url 'officehours:phone-number' %}">Phone</a>
      </li>
      <li>
        <i class="fa-li fa fa-info-circle"></i>
        <a href="{% url 'officehours:help' %}">Help</a>
      </li>
      <li>
        <i class="fa-li fa fa-sign-out"></i>
        <a onclick="signOut();">Log out</a>
      </li>
      {% else %}
      <li>
        <i class="fa-li fa fa-sign-in"></i>
        <a onclick="signIn();">Log in</a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endwith %}
