{% extends "officehours/base.html" %}

{% block content %}
<div class="column column-block">
  <div class="callout">
    <h1>About</h1>
    <p><strong>Office Hours</strong> is a project of
       <a href="https://tndata.org/" target="_blank">Tennessee Data Commons</a>,
       a non-for-profit (501c3) corporation in Memphis, TN.</p>

    <p>Have feedback for us? Then get in touch!</p>
    <p>
      <a class="button" href="mailto:feeback@tndata.org"
         target="_blank">Get in Touch</a>
    </p>
  </div>
</div>
{% endblock %}
