{% extends "officehours/base.html" %}
{% load staticfiles %}

{% block extrahead %}
  <script src="{% static 'js/moment.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'timepicker/jquery.timepicker.css' %}">
{% endblock %}


{% block content %}
<div class="column column-block">
  <div class="callout">
    <form action="{% url 'officehours:add-course' %}" method="post">
      {% csrf_token %}
      <h3>Add your Course</h3>

      <label for="id_coursename">Course Name
        <input type="text"
               name="coursename"
               placeholder="Intro to History, COMP 1500, etc"
               {% if coursename %}value="{{coursename}}"{% endif %}
               id="id_coursename">
      </label>
      {% if coursename_error %}<p>{{ coursename_error }}</p>{% endif %}

      <label for="id_coursetime">Course Meeting Time
        <input type="text"
               placeholder="8:45 am"
               name="coursetime"
               {% if coursetime %}value="{{coursetime|date:"g:i A"|lower}}"{% endif %}
               id="id_coursetime">
      </label>
      {% if coursetime_error %}<p>{{ coursetime_error }}</p>{% endif %}

      <label for="id_location">Location
        <input type="text"
               id="id_location"
               placeholder="Building, room number, etc"
               {% if location %}value="{{location}}"{% endif %}
               name="location">
      </label>
      {% if location_error %}<p>{{ location_error }}</p>{% endif %}

      <fieldset class="fieldset">
        <legend>Select the days on which this course meets</legend>
        {% for day in day_choices %}
          <input type="checkbox"
                 id="course-day-{{ day|lower }}"
                 name="{{ day }}"
                 {% if day in selected_days %}checked="checked"{% endif %}
                 data-day="{{ day }}">
          <label for="course-day-{{ day|lower }}">{{ day }}</label>
          <br/>
        {% endfor %}
      </fieldset>
      <button class="button" type="submit"
              name="another" value="true">Add another</button>
      <button class="button" type="submit"
              name="share" value="true">Share</button>
    </form>
  </div> {# /.callout #}
</div> {# /.column #}

{% endblock %}


{% block bodyjs %}
<script src="{% static 'timepicker/jquery.timepicker.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#id_coursetime").timepicker({
    'scrollDefault': 'now',
    'timeFormat': 'g:i a',
  });
});
</script>
{% endblock %}
