{% extends "officehours/base.html" %}

{% block content %}

<form action="{% url 'officehours:add-code' %}" method="post">{% csrf_token %}
<div class="demo-options mdl-card mdl-color--amber-100 mdl-shadow--2dp mdl-cell mdl-cell--12-col"
    id="add-code">
  <div class="mdl-card__supporting-text">
    <h3>Add your Code</h3>
    <div class="code-input-wrapper">
    <input type="text" id="code" name="code" size="4"
           class="code-input" maxlength="4" minlength="4">
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border mdl-color--amber-300">
    <button class="card-cta mdl-button mdl-js-button mdl-js-ripple-effect">
       Add code</button>
    <div class="mdl-layout-spacer"></div>
    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>
  </div>
</div>
</form>
{% endblock %}


{% block bodyjs %}
<script type="text/javascript">

$(document).ready(function() {
  // Auto-advance the Code inputs.
  $(".code-input").keyup(function() {
      $(this).val($(this).val().toUpperCase());
  });
});
</script>
{% endblock %}
