{% extends "officehours/base.html" %}
{% load staticfiles %}

{% block extrahead %}
  <script src="{% static 'js/moment.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'timepicker/jquery.timepicker.css' %}">
{% endblock %}

{% block content %}

<div class="column column-block">
	<div class="callout">
		<h3>Office Hours</h3>
    <form action="{% url 'officehours:add-hours' %}" method="post">
      {% csrf_token %}

      <label for="id_from_time">From time
        <input id="id_from_time"
               name="from_time"
               {% if from_time %}value="{{from_time|date:"g:i A"|lower}}"{% endif %}
               type="text"
               placeholder="10:30 am"/>
      </label>
      {% if from_error %}<p>{{ from_error }}</p>{% endif %}

      <label for="id_to_time">To time
        <input id="id_to_time"
               name="to_time"
               {% if to_time %}value="{{to_time|date:"g:i A"|lower}}"{% endif %}
               type="text"
               placeholder="1:30 pm"/>
      </label>
      {% if to_error %}<p>{{ to_error }}</p>{% endif %}

      <fieldset class="fieldset">
        <legend>Select the days on which this course meets</legend>
        {% for day in day_choices %}
          <input type="checkbox"
                 id="office-hours-day-{{ day|lower }}"
                 name="{{ day }}"
                 {% if day in selected_days %}checked="checked"{% endif %}
                 data-day="{{ day }}">
          <label for="office-hours-day-{{ day|lower }}">{{ day }}</label>
          <br/>
        {% endfor %}
      </fieldset>
      <button class="button"
              type="submit"
              name="another"
              value="true">Add another</button>
      <button class="button"
              type="submit"
              name="next"
              value="true">Next</button>
    </form>
  </div> {# /.callout #}
</div> {# /.column #}
{% endblock %}


{% block bodyjs %}
<script src="{% static 'timepicker/jquery.timepicker.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#id_from_time, #id_to_time").timepicker({
    'scrollDefault': 'now',
    'timeFormat': 'g:i a',
  });
});
</script>
{% endblock %}
