{% extends "officehours/base.html" %}
{% load staticfiles %}

{% block extrahead %}
  <script src="{% static 'js/moment.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'timepicker/jquery.timepicker.css' %}">
{% endblock %}

{% block content %}

{# Would this even work on mobile browsers? #}
{# ---- TODO: <p><input type="time" name="testing"></p> ---- #}

<div class="column column-block">
	<div class="callout">
		<h3>Office Hours</h3>
    <form action="{% url 'officehours:add-hours' %}" method="post">
      {% csrf_token %}
      <ul class="no-bullet">
      {% for day in day_choices %}
        <li>
          <input type="checkbox"
                 class="day-selector"
                 id="officehours-day-{{ day|lower }}"
                 name="{{ day }}"
                 {% if day in selected_days %}checked="checked"{% endif %}
                 data-day="{{ day }}">
          <label for="officehours-day-{{ day|lower }}">{{ day }}</label>

          {# --- time-row -------------------------------------------------- #}
          <div class="time-wrapper time-row row">
            <div class="small-2 columns">
              <label for="id_from_time-{{ day|lower }}"
                     class="text-left middle">From</label>
            </div>
            <div class="small-4 columns">
              <input id="id_from_time-{{ day|lower }}"
                     class="timeinput"
                     name="from_time-{{ day|lower }}"
                     type="text"
                     placeholder="10:30 am"/>
            </div>
            <div class="small-2 columns">
              <label for="id_to_time-{{day|lower}}"
                     class="text-left middle">To</label>
            </div>
            <div class="small-4 columns">
              <input id="id_to_time-{{day|lower}}"
                     name="to_time-{{day|lower }}"
                     class="timeinput"
                     type="text"
                     placeholder="1:30 pm"/>
            </div>
          </div>
          {# --- /time-row ------------------------------------------------- #}

          <div class="row time-wrapper">
            <div class="small-12 columns text-right">
              <a href="#" class="button secondary tiny add-time-row">
                <i class="fa fa-plus"></i>
                Add Times
              </a>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>

     <button class="button"
              type="submit"
              name="next"
              value="true">Save</button>
    </form>
  </div> {# /.callout #}
</div> {# /.column #}
{% endblock %}


{% block bodyjs %}
<script src="{% static 'timepicker/jquery.timepicker.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  // dynamically add timepicker to all .timeinput elements.
  $('body').on('focus', ".timeinput", function() {
    $(this).timepicker({
      'scrollDefault': 'now',
      'timeFormat': 'g:i a',
    });
  });

  // Hide all time-wrappers by default.
  $(".time-wrapper").hide();

  // When we click a day, display the time-wrappers.
  $(".day-selector").change(function(evt) {
    $(this).parent().children(".time-wrapper").show();
  });

  // when we click the button to add a new input row, do so.
  $(".add-time-row").click(function(evt) {
    evt.preventDefault();
    var inputRow = $(this).parents("li").children(".time-row")[0];
    var inputClone = $(inputRow).clone();
    inputClone.insertBefore($(this));
  });

});
</script>
{% endblock %}
