{% extends "officehours/base.html" %}

{% block content %}

<div class="column column-block">
  <div class="callout">
  <form action="{% url 'officehours:add-code' %}" method="post">{% csrf_token %}
    <h3>Add your Code</h3>
    <label>Add your code, here
      <input type="text" placeholder="XJ47" aria-describedby="codeHelpText"
             id="code"
             name="code"
             size="4"
             maxlength="4"
             minlength="4"
             class="code-input"/>
    </label>
    <p class="help-text" id="codeHelpText">
      Your teacher will share a 4-character code with you. Enter it here to
      ensure you're added to the correct class.
    </p>
    <input type="hidden" id="id_next" name="next" value="{{next_url}}"/>
    <button class="button">Add code</button>
    </form>
  </div> {# /.callout #}
</div>
{% endblock %}


{% block bodyjs %}
<script type="text/javascript">

$(document).ready(function() {
  // Auto-advance the Code inputs.
  $(".code-input").keyup(function() {
      $(this).val($(this).val().toUpperCase());
  });
});
</script>
{% endblock %}
