{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ google_client_id }}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# foundation styles #}
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
    <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {# This mono font is used for our share codes to differentiate between #}
    {# things like I, 1, 0, O #}
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:700" rel="stylesheet">

    {# TODO: <meta name="description" content="Todo...">#}
    <title>OFFICE HOURS</title>

    {% comment %} TODO: ...  Figure out an icon for homecreens.
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'img/android-desktop.png' %}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/ios-desktop.png' %}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static 'img/touch/ms-touch-icon-144x144-precomposed.png' %}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    {% endcomment %}
    {# try to cache-bust our app-specific css when not in dev #}
    <link rel="stylesheet" href="{% static 'css/officehours.css' %}{% if not debug %}?v={% now 'Y-m-d' %}{% endif %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large"
             id="side-menu"
             data-off-canvas
             data-position="left">
          <div class="row column">
            {% include 'officehours/_off_canvas.html' %}
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="side-menu"></button>
              {#<span class="title-bar-title">OfficeHours</span>#}
              <span class="title-bar-title">
                <img src="{% static 'img/officehours-thin-white-tiny.png' %}"
                     alt="Officehours"
                     title="Officehours" />
              </span>
            </div>
          </div>

          {# --- Main Heading --- #}
          {# Currently just used for django.contrib.messages #}
          {% for message in messages %}
          <div class="callout {{message.tags}}">
            <div class="row column">
              <p>{{ message }}</p>
            </div>
          </div>
          {% empty %}
            <div>&nbsp;</div>
          {% endfor %}

          {# --- Main Content --- #}
          <div class="row small-up-1 medium-up-1 large-up-2">
              {% comment %}

              NOTE: the content container expects to have a grid of items.
              Therefore, wrap content in <div>s that look like:

                <div class="column column-block">
                  ... content
                </div>

            {% endcomment %}
            {% block content %}{% endblock %}
          </div>

          {# --- Footer --- #}
          <hr>
          <footer>
            <div class="row">
              <div class="small-12 medium-12 large-12 columns">
                <ul class="no-bullet">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy and Terms</a></li>
                  <li><a href="#">User Agreement</a></li>
                </ul>
              </div>
            </div>
          </footer>

        </div> {# / .off-canvas-content #}
      </div>
    </div>

    {# TODO: replace w/ local versions ... #}
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/vendor/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% block bodyjs %}{% endblock %}

    {# --- Google Auth ----------------------------------------------------- #}
    <script>
    // Google Auth, sign in / sign out functions
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        window.location = "/logout/?next=/officehours/";
      });
    }

    function signIn() {
      window.location = "/officehours/login/";
    }

    // If our sign-in code is defined on another page, we have to load gapi
    // manually. See: http://stackoverflow.com/a/29833065/182778
    function gapiOnLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
    </script>
    <script src="//apis.google.com/js/platform.js?onload=gapiOnLoad" async defer></script>
    {# --- / end Google Auth ----------------------------------------------- #}
  </body>
</html>
