{% extends "officehours/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mdl-card mdl-color--white mdl-shadow--1dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
    <h1 class="mdl-card__title-text">Contact</h1>
  </div>
  <div class="mdl-card__supporting-text">
    <p>Need help or have feedback for this app?
       Contact us using the button below:</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
       href="mailto:feeback@tndata.org" target="_blank">
      Get in Touch
    </a>
  </div>
</div>
{% endblock %}
