{% extends "officehours/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="column column-block" id="teacher-schedule">
  <div class="callout">
    <h2>{{ course.name }} <small>Code: {{ course.code }}</small></h2>
    <ol>
    {% for student in course.students.all %}
      <li class="clearfix">
        {% with name=student.get_full_name %}
          {% if name|length %}<strong>{{ name }}</strong><br/>{% endif %}
        {% endwith %}
        <em>{{ student.email }}</em>
        <a href="{% url 'chat:chat' student.id %}"
           class="button secondary tiny float-right">
              <i class="fa fa-comment-o"></i> Send Message</a>

      </li>
    {% endfor %}
    </ol>
    <hr/>
    <p>
      <a href="{{ course.get_delete_url }}"
         class="button alert float-right"><i class="fa fa-trash"></i> Delete Course</a>
      <a href="#" class="button" id="message-all" disabled>Message All Students</a>
    </p>
  </div>
</div>

{% endblock %}
