{% extends "officehours/base.html" %}

{% block content %}

<div class="column column-block">
  <div class="callout">
    <form action="{{ hours.get_delete_url }}" method="post">
      {% csrf_token %}
      <h2>Office Hours</h2>

      <ul class="no-bullet">
      {% for day, hours_list in hours.get_schedule %}
        <li>
          <strong>{{ day }}</strong>
          <ul>
          {% for obj in hours_list %}
            <li>{{ obj.from }} - {{ obj.to }}</li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
      <p>These office hours automatically expire in
         {{ hours.expires_on|timeuntil }} on {{ hours.expires_on }}.</p>
      <hr/>


      <div class="callout warning">
        <div class="row">
          <div class="small-2 column">
            <i class="fa fa-warning fa-2x"></i>
          </div>
          <div class="small-10 column">
            Are you sure you want to permanently delete these hours?
          </div>
        </div>
      </div>

      <p>
        <input type="submit"
               name="confirm"
               class="button alert"
               value="Yes, Delete Office Hours"/>
      </p>
    </form>
  </div>
</div>
{% endblock %}
