{% extends "officehours/base.html" %}

{% block content %}

<form action="{% url 'officehours:delete-courses' %}" method="post">
{% csrf_token %}


<div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop"
     id="teacher-schedule">
  <div class="mdl-card__title mdl-card--expand mdl-color--indigo-300">
    <h2 class="mdl-card__title-text">Delete {{ courses_count }} Courses?</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
    <ul class="demo-list mdl-list">
      {% for course in courses%}
      <li class="mdl-list__item  mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>{{ course.name }} / {{ course.code }}</span>
          <span class="mdl-list__item-sub-title">{{ course.display_time }}</span>
        </span>
        <input type="hidden" name="courses" value="{{ course.id }}"/>
      </li>
      {% empty %}
        <li class="mdl-list__item">No courses available to delete.</li>
      {% endfor %}
    </ul>
    <p>
      <label for="confirm">
        <input type="checkbox" name="confirm" id="confirm" />
        Yes, delete these courses.
      </label>
    </p>
  </div>
  <div class="mdl-card__actions mdl-card--border mdl-color--indigo-600">
    <a href="#" onClick="window.history.back();return false;"
       class="card-cta mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</a>
    <button type="submit" class="card-cta mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Remove Selected</button>
  </div>
</div>
</form>

{% endblock %}
