{% extends "officehours/base.html" %}

{% block content %}
<div class="column column-block">
  <div class="callout">
    <h1>Help</h1>
    <p class="lead">Coming soon...</p>
    {% comment %}
    <h2>Students</h2>
    <p><strong>Office Hours</strong> has been designed to be as simple as possible
    for students. To get started, your teacher should provide you with a <strong>code</strong>
    for their class.</p>

    <p><img src="{% static 'img/help/enter-code.png' %}"/></p>

    <p>Once your have your class's code, tap the button at the bottom-right
    of this page to add your code.</p>

    <p>Now, your course has been added to your schedule and you've got access
    to your teacher through the built-in chat.</p>
    <p><img src="{% static 'img/help/student-schedule.png' %}"/></p>

    {# TODO: ... help topics for faculty #}
    <h2>Creating a Course</h2>

    <p>Didn't find what you need? Then click the button below to let us know.</p>
    {% endcomment %}
  </div>
</div>
{% endblock %}
