{% extends "officehours/base.html" %}

{% block content %}

{# GET started card #}
<div class="column column-block" id="get-started">
  <div class="card">
    <div class="card-divider">
      <h2>Welcome</h2>
    </div>
    {# TODO: <img src="assets/img/generic/rectangle-1.jpg">#}
    <div class="card-section">
      <p>Hey there, we'll walk you through setting up your first class.
         Just click the button to get started.</p>
      <p>
        <a class="button"
           href="#"
           id="get-started-button">Get Started</a>
      </p>
    </div>
  </div> {# / .card #}
</div> {# .column #}

{# Select Role: Student or Teacher? #}
<div class="column column-block" id="choose-role">
  <div class="card">
    <div class="card-divider">
      <h2>Are you a Student?</h2>
    </div>
    <div class="card-section">
      <p>If you're a <em>student</em>, your teacher will share a code with you.
         You can add that code, now.</p>
      <p>If you're a <em>teacher</em>, you can set up your class, now.</p>
      <p>
        <a class="button" href="{% url 'officehours:add-code' %}?next={% url 'officehours:phone-number' %}">Yes! Add Code</a>
        <a class="button" href="{% url 'officehours:contact-info' %}">
          I'm a teacher</a>
      </p>
    </div>
  </div> {# / .card #}
</div> {# .column #}
{% endblock %}


{% block bodyjs %}
<script type="text/javascript">
$(document).ready(function() {
  $("#choose-role").hide()
  $("#get-started-button").click(function () {
    $("#get-started").hide();
    $("#choose-role").fadeIn();
  });
});
</script>
{% endblock %}
