{% extends "officehours/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="column column-block" id="teacher-schedule">
  <div class="callout">
    <h2>Office Hours</h2>

    <ul class="no-bullet">
    {% for day, hours_list in hours.get_schedule %}
      <li>
        <strong>{{ day }}</strong>
        <ul>
        {% for from_time, to_time in hours_list %}
          <li>{{ from_time }} - {{ to_time }}</li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
    <p>These office hours automatically expire in
       {{ hours.expires_on|timeuntil }} on {{ hours.expires_on }}.</p>
    <hr/>
    <p class="clearfix">
      <a href="{{ hours.get_delete_url }}"
         class="button alert float-right"><i class="fa fa-trash"></i> Delete Hours</a>
    </p>
  </div>
</div>

{% endblock %}
