{% extends "officehours/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="column column-block" id="teacher-schedule">
  <div class="callout">
    <h2>Office Hours</h2>
    <table class="unstriped">
      <tr>
        <th>Times</th>
        <td>{{ hours.from_time }} - {{ hours.to_time }}</td>
      </tr>
      <tr>
        <th>Days</th>
        <td>{{ hours.days|join:", " }}</td>
      </tr>
    </table>

    <hr/>
    <p class="clearfix">
      <a href="{{ hours.get_delete_url }}"
         class="button alert float-right"><i class="fa fa-trash"></i> Delete Hours</a>
    </p>
  </div>
</div>

{% endblock %}
