{% extends "officehours/base.html" %}

{% block content %}

<div class="column column-block">
  <div class="callout">
    <form action="{% url 'officehours:phone-number' %}" method="post">{% csrf_token %}
      <h3>Set your mobile number</h3>

      {% if error %}<p>{{ error }}</p>{% endif %}
      <label for="id_phone">Phone Number
        <input value="{{ phone|default:'' }}"
               type="text"
               id="id_phone"
               placeholder="901-555-1234"
               name="phone"
               aria-describedby="codeHelpText">
      </label>
      <p class="help-text" id="codeHelpText">
        Add your cell phone, and we'll periodically text
        you with important information.
      </p>
      <button class="button" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
