{% extends "officehours/base.html" %}

{% block content %}

{# Chat messages #}
{% if chat_data %}
<div class="column column-block" id="chats">
  <div class="card">
    <div class="card-divider">Unread Messages</div>
    <div class="card-section">
      <ul class="no-bullet">
      {% for user_info, count in chat_data.items %}
        <li class="clearfix">
          <span class="badge alert">{{ count }}</span>
          <strong>{{ user_info.1 }} {{ user_info.2 }}</strong>
          <a href="{% url 'chat:chat' user_info.0 %}"
             class="button secondary float-right">
              <i class="fa fa-reply"></i> Reply
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{# Student Schedule #}
{% if is_student %}
<div class="column column-block" id="student-schedule">
  <div class="card">
    <div class="card-divider">Your Schedule</div>
    <div class="card-section">

      <ul class="vertical menu" data-accordion-menu>
      {% for course in student_schedule %}
        <li class="clearfix">
          <a href="#">
            <i class="fa fa-calendar"></i>
            <strong>{{ course.display_time }}</strong>: {{ course.name }}
          </a>
          <ul class="menu vertical nested">
            <li>Location: {{ course.location }}</li>
            <li>Instructor: {{ course.user.get_full_name }}
              <a href="{% url 'chat:chat' course.user.id %}"
                class="button secondary float-right">
                <i class="fa fa-comment-o"></i> Contact
              </a>
            </li>
          </ul>
        </li>
      {% endfor %}
      </ul>
      <hr/>
      {# Button to add a code #}
      <a href="{% url 'officehours:add-code' %}" class="button large expanded">
          <i class="fa fa-plus-circle"></i> Add a Code
      </a>
    </div>
  </div>
</div>
{% endif %}

{# Teacher Schedule #}
{% if is_teacher %}
<div class="column column-bock" id="teacher-schedule">
  <div class="card">
    <div class="card-divider">Your Courses</div>
    <div class="card-section">
      <table class="stack">  {# stack on small screens #}
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Course</th>
            <th>Code</th>
          </tr>
        </thead>
        <tbody>
        {% for course in teaching_schedule %}
          <tr>
            <td>
              {{ course.name }}<br/>
              <small>{{ course.display_time }}</small>
            </td>
            <td>
              <code class="stat">{{ course.code }}</code>
              <a class="hollow button float-right" href="{{ course.get_absolute_url }}">view</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <hr/>
      <p>
        <a href="{% url 'officehours:add-course' %}"
           class="hollow button small float-right">
        <i class='fa fa-plus-circle'></i> Add Course</a>
      </p>
    </div>
  </div>
</div>


<div class="column column-block" id="teacher-schedule">
  <div class="card">
    <div class="card-divider">Your Office Hours</div>
    <div class="card-section">
      <ul class="no-bullet">
      {% for oh in office_hours %}
        {% if oh.schedule %}
        {% for day, hours_list in  oh.schedule.items %}
          <li>
            <strong>{{ day }}</strong>
            <ul>
            {% for from_time, to_time in hours_list %}
              <li>{{ from_time }} - {{ to_time }}</li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
        {% else %}
          <li>{{ oh }}</li>
        {% endif %}
        <li class="text-right">
          <a class="hollow button" href="{{ oh.get_absolute_url }}">view</a>
        </li>
      {% empty %}
        <li><em>You don't have any office hours scheduled. Add some!</em></li>
      {% endfor %}
      </ul>
      <hr/>
      <p>
        <a href="{% url 'officehours:add-hours' %}"
           class="hollow button small float-right">
        <i class='fa fa-plus-circle'></i> Add Office Hours</a>
      </p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
