{% extends "officehours/base.html" %}

{% block content %}

{# Chat messages #}
{% if chat_data %}
<div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop"
     id="chats">
  <div class="mdl-card__title mdl-card--expand mdl-color--red-900">
    <h2 class="mdl-card__title-text">Unread Messages</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">

    <ul class="mdl-list">
    {% for user_info, count in chat_data.items %}
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>{{ user_info.1 }} {{ user_info.2 }}</span>
          <span class="mdl-list__item-text-body">
            {{ count }} unread messages
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <a href="{% url 'chat:chat' user_info.0 %}"
            class="mdl-list__item-secondary-action  mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-color--accent">
            <i class="material-icons">chat</i>
          </a>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="demo-separator mdl-cell--1-col"></div>
{% endif %}

{# Student Schedule #}
{% if is_student %}
<div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop"
     id="student-schedule">
  <div class="mdl-card__title mdl-card--expand mdl-color--indigo-300">
    <h2 class="mdl-card__title-text">Your Schedule</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">

    <ul class="mdl-list">
    {% for course in student_schedule %}
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>{{ course.name }}</span>
          <span class="mdl-list__item-text-body">
            {{ course.user.get_full_name }}<br/>
            <small>{{ course.display_time }}</small>
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <a href="{% url 'chat:chat' course.user.id %}"
            class="mdl-list__item-secondary-action  mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-color--accent">
            <i class="material-icons">chat</i>
          </a>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if is_student and is_teacher %}
  {# if we're both, include a separator #}
  <div class="demo-separator mdl-cell--1-col"></div>
{% endif %}

{# Teacher Schedule #}
{% if is_teacher %}
<div class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop"
     id="teacher-schedule">
  <div class="mdl-card__title mdl-card--expand mdl-color--indigo-300">
    <h2 class="mdl-card__title-text">Your Schedule</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Course</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
      {% for hours in office_hours %}
        <tr data-type="officehours" data-id="{{hours.id}}">
          <td class="mdl-data-table__cell--non-numeric">
            Office Hours<br/>
            <small>{{ hours }}</small>
          </td>
          <td></td>
        </tr>
      {% endfor %}
      {% for course in teaching_schedule %}
        <tr data-type="course" data-id="{{course.id}}">
          <td class="mdl-data-table__cell--non-numeric">
            {{ course.name }}<br/>
            <small>{{ course.display_time }}</small>
          </td>
          <td>{{ course.code }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="mdl-card__actions mdl-card--border mdl-color--indigo-600">
    <a href="{% url 'officehours:add-course' %}"
       class="card-cta mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
       data-next="add-course">Add a Course</a>
    <a class="card-cta mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
       id="remove-course-button">Remove Selected</a>
  </div>
</div>
{% endif %}

{% endblock %}


{% block fab %}
  <a href="{% url 'officehours:add-code' %}"
     id="main-fab"
     class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
  </a>
{% endblock %}


{% block bodyjs %}
<script type="text/javascript">
$(document).ready(function() {
  $("#remove-course-button").click(function(e) {
    e.preventDefault();
    var course_ids = [];

    $("tr.is-selected").each(function(index, elt) {
      var elt = $(elt);
      if(elt.data('type') === 'course') {
        course_ids.push(elt.data('id'));
      }
    })
    console.log("IDS: ", course_ids);
    window.location = "{% url 'officehours:delete-courses' %}?courses=" + course_ids.join("+");
  });
});
</script>
{% endblock %}
