{% extends "officehours/base.html" %}

{% block content %}
<div class="demo-options mdl-card mdl-color--indigo-300 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop" id="share-code">
  <div class="mdl-card__title mdl-card--expand">
    <h4>Share Code:<br>
      <span class="share-code-display">{{ course.code }}</span>
    </h4>
  </div>
  <div class="mdl-card__supporting-text">
    Share this code with your students to add your class to their schedule.
  </div>
  <div class="mdl-card__actions mdl-card--border mdl-color--indigo-600">
    <a href="{% url 'officehours:schedule' %}"
       class="card-cta mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
       data-next="teacher-schedule">View Schedule</a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">event</i>
  </div>
</div>
{% endblock %}
