{% extends "officehours/base.html" %}

{% block content %}
<div class="column column-block">
  <div class="card">
    <div class="card-divider">
      Share Code
    </div>
    <div class="card-section">
      <p>
        Share this code with your students to add your class to their schedule:
        <br/>
        <span class="stat">{{ course.code }}</span>
      </p>
      <hr/>
      <a href="{% url 'officehours:schedule' %}" class="button">
        <i class="fa fa-calendar"></i> View Schedule</a>
    </div>
  </div>
</div>
{% endblock %}
