{% extends "base.html" %}

{% block title %}Demo{% endblock %}
{% block body %}
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    {% if user.is_authenticated %}
      <h1>TN Data Commons Admin</h1>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="panel">
            <p>This is the administration portal for the data library and api.
            Please choose an option from the right.</p>
          </div>
        </div>

        <div class="large-6 medium-6 columns">
          <h2 class="subheader">Content Authors &amp Editors</h2>
          <ul>
            <li><a href="{% url 'goals:index' %}">Goals &amp; Notifications</a></li>
            <li><a href="{% url 'survey:index' %}">Surveys</a></li>
            <li><a href="{% url 'haystack_search' %}">Search</a></li>
          </ul>

          <h2 class="subheader">My Account</h2>
          <ul>
            <li><a href="{% url 'userprofile:index' %}">Account</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
          </ul>

          <h2 class="subheader">Developers</h2>
          <ul>
            <li><a href="/api/">Browse the API</a></li>
            <li><a href="/metrics/">App Metrics</a></li>
            <li><a href="/notifications/">Notifications Dashboard</a></li>
            <li><a href="/rq/">Task Queue</a></li>
            <li><a href="/admin/">Admin</a></li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns end">
        <h1>TN Data Commons Admin</h1>
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
        {{ login_form }}<hr>

        <button class="button" type="submit">Sign In</button>
        <span class="pull-right">
          <a href="{% url 'utils:signup' %}">Sign Up</a> |
          <a href="{% url 'utils:password_reset' %}">Forgot Password?</a>
        </span>
        </form>
      </div>
    {% endif %} {# user.is_authenticated #}
  </div>
</div> {# end .row #}
{% endblock %}
