{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="row">
  <div class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns end">
  {% if completed %}
    <h1>Thank you</h1>
    <p>We will review your request, soon. Once we do, we will activate your
    account then contact you with additional information.</p>
  {% elif form %}
    <h1>Request an Account</h1>
    <p>Complete the following form to request an account. Once you submit this
    form, we will review your request and grant access.</p>
    <form action="{% url 'utils:signup' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ password_form.as_p }}
      <hr>
      <button class="button" type="submit">Request Access</button>
    </form>
  {% endif %}
  </div>
</div> {# end .row #}
{% endblock %}
