{% extends "goals/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>{{ profile.user.get_full_name }}</h1>
      <dl>
        <dt>First Name:</dt><dd>{{ profile.user.first_name }}</dd>
        <dt>Last Name:</dt><dd>{{ profile.user.last_name }}</dd>
        <dt>Email:</dt><dd>{{ profile.user.email }}</dd>
        <dt>Timezone:</dt><dd>{{ profile.timezone }}</dd>
      </dl>
      <p><a href="{{ profile.get_update_url }}"
        class="button">Update Profile</a></p>
      <p>Need to
        <a href="{% url 'utils:password_reset' %}">reset your password</a>?</p>
    </div>
  </div>
{% endblock %}
