{% extends "officehours/base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="column column-block">
  <div class="callout">
    <div id="root"
         class="chatContainer"
         data-token="{{user.auth_token.key}}"
         data-room="{{ room }}"></div>
  </div>
</div>
{% comment %}
{% if debug or show_debug_stuff %}
  <div id="extra-debug"></div>
{% endif %}
{% endcomment %}
<script type="text/javascript" src="{% static 'js/react_chat-201702092322.js' %}"></script>
{% endblock %}
