{% extends 'email/base_email.html' %}

{% block title %}
Welcome to {{ categories|join:", "}}
{% endblock %}


{% block content %}
  <h1>Welcome to {{ categories|join:", "}}</h1>
  <p>Hi,</p>
  <p>We're letting you know that you've been enrolled in some new
  packages within Compass.</p>

  {% if not new_user %}
    <p>Since you've already got the Compass app, there's nothing else for you
    to do. Simply open the app and enjoy.</p>
  {% endif %}
{% endblock %}

{% block post_cta %}
  {% if new_user %}
    <p>Simply click the button above to set up your new account.</p>
  {% endif %}
  <p>Thank you!<br/><br/>-- The Compass Team</p>
{% endblock %}

{% block footer %}{% endblock %}
