{% extends 'email/base_email.html' %}
{% load util_filters %}

{% block title %}
Welcome to {{ category }}
{% endblock %}


{% block content %}
  <h1>Welcome to {{ category }}</h1>

  {% if message %}

    {{ message|markdown }}

  {% else %}
    {# Default message to the user. #}
    <p>Hi,</p>
    <p>We're letting you know that you've been enrolled in some new
    packages within Compass.</p>

    {% if not new_user and accepted %}
      <p>Since you've already got the Compass app, there's nothing else for you
      to do. Simply open the app and enjoy.</p>
    {% elif not accepted %}

    {% endif %}
    {# ---- end default message ---- #}
  {% endif %}
{% endblock %}

{% block post_cta %}
  {% if not accepted %}
    <p>Simply click the button above to
    {% if new_user %}
      set up your new account. After that you'll get a link to download the app.
    {% elif not accepted %}
      accept the the terms of this content, and then you'll see them in the app.
    {% endif %}
    </p>
  {% endif %}
  <p>Thank you!<br/><br/>-- The Compass Team</p>
{% endblock %}

{% block footer %}{% endblock %}
