{% extends 'base.html' %}
{% load highlight %}

{% block head %}
<style type="text/css">
#id_models {list-style:none;}
#id_models li {float:left;margin:0;padding-right:16px;}
p.search-container {
  clear:both;
  border-top: 1px solid #ccc;
  padding:1em;
}
.highlighted {background-color: #ffc;text-decoration: underline;}
form.blank {margin: 50% 0px;}
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <form method="get" action="." class="{% if query %}results{% else %}blank{% endif %}">
    {{ form.as_p }}
    <p class="search-container">
      <input type="submit" class="button" value="Search">
    </p>

    {% if query %}
      <h3>Results</h3>
      {% for result in page.object_list %}
        <div>
          <span class="label secondary">{{ result.model_name|title }}</span>
          <strong><a href="{{ result.url }}">{{ result.title }}</a></strong> |
          <small>Updated: {{ result.updated_on }}</small>
          <blockquote>
            {% highlight result.description with query max_length 255 %}
          </blockquote>
        </div>

      {% empty %}
        <p>No results found.</p>
      {% endfor %}

      {% if page.has_previous or page.has_next %}
        <hr/>
        <p>
        {% if page.has_previous %}
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
          |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </p>
      {% endif %}
    {% endif %}
    </form>
  </div>
</div>
{% endblock %}


{% block bodyjs %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
  // auto-check all the checkboxes in the search form.
  $("#id_models").find('input[type=checkbox]').prop('checked',true);
});
</script>
{% endblock %}
