{% extends "survey/base.html" %}

{% block head %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block content %}
<ul class="breadcrumbs">
  <li><a href="{% url 'survey:index' %}">Home</a></li>
  <li><a href="{% url 'survey:binary-list' %}">Binary Questions</a></li>
  <li class="current">
    {% if object %}{{ object }}{% else %}New Binary Question {% endif %}
  </li>
</ul>

<h1>{% if object %}Update Binary Question: {{object.name}}{% else %}Create Binary Question{% endif %}</h1>
<div class="row">
  <div class="large-6 small-12 columns">
    <form action="{% if object %}{{ object.get_update_url }}{% else %}{% url 'survey:binary-create' %}{% endif %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <hr/>
    {% if object %}
      <button type="submit">Update Binary Question</button>
    {% else %}
      <button type="submit">Create Binary Question</button>
    {% endif %}
    </form>
  </div>
  <div class="large-6 small-12 columns">
    <p>All Binary Questions have the following options: </p>
    <ul>
    {% for opt in options %}
      <li>{{ opt.1 }} ({{opt.0}})</li>
    {% endfor %}
    </ul>
    <table>
      <caption>Existing Binary Questions</caption>
      <thead>
        <tr><th>Order</th><th>Name</th></tr>
      </thead>
      <tbody>
      {% for question in questions %}
        <tr>
          <td>{{ question.order }}</td>
          <td><a href="{{ question.get_absolute_url }}">{{ question }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
  $(document).ready(function() {
    // enable chosen elements
    $("select.chosen").chosen();
  });
  </script>
{% endblock %}
