{% extends "survey/base.html" %}
{% load util_tags %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'survey:index' %}">Home</a></li>
    <li><a href="{% url 'survey:instrument-list' %}">Instruments</a></li>
    <li class="current">{{ instrument }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ instrument }} {% object_controls instrument "survey" %}</h1>
      <dl>
        <dt>Description</dt>
        <dd>{{ instrument.description|linebreaks|default:"No Description given" }}</dd>
        <dt>Instructions</dt>
        <dd>{{ instrument.instructions|linebreaks|default:"No Instructions given" }}</dd>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Questions</h2>
      <p>The following questions are included in this Instrument:</p>
      <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Subscale</th>
          <th>Order</th>
          <th>Question</th>
        </tr>
      </thead>
      <tbody>
      {% for question_type, question in instrument.questions %}
        <tr>
          <td><span class="label secondary">{{question_type}}</span></td>
          <td>{{ question.get_subscale_display }}</td>
          <td>{{ question.order }}</td>
          <td><a href="{{ question.get_absolute_url }}">{{ question }}</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">
            <em>This instrument currently has no questions.</em>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
{% endblock %}
