{% extends "survey/base.html" %}
{% load util_tags %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'survey:index' %}">Home</a></li>
    <li><a href="{% url 'survey:likert-list' %}">Likert Questions</a></li>
    <li class="current">{{ question.text }}</li>
  </ul>

  <div class="row">
    <div class="large-6 small-12 columns">
      <h1>{{ question.text }} {% object_controls question "survey" %}</h1>
      <dl>
        <dt>Order</dt><dd>{{ question.order }}</dd>
        <dt>Availble</dt><dd>{{ question.available|yesno}}</dd>
        <dt>Scale</dt><dd>{{ question.scale_text}}</dd>
        <dt>Priority</dt><dd>{{ question.priority }}</dd>
        <dt>Instructions</dt>
        <dd>{{ question.instructions|default:"No Instructions" }}</dd>
        <dt>Instruments</dt>
          <dd>{{ question.instruments.all|join:", "|default:"None." }}</dd>
        <dt>Updated On</dt><dd>{{ question.updated}}</dd>
        <dt>Created On</dt><dd>{{ question.created}}</dd>
      </dl>
    </div>
    <div class="large-6 small-12 columns">
      <h2 class="subheader">Options</h2>
      <p>This question will have the following options:</p>
      <table>
        <thead>
          <tr><th>Value</th><th>Text</th></tr>
        </thead>
        <tbody>
          {% for opt in question.options %}
            <tr>
              <td>{{ opt.id }}</td>
              <td>{{ opt.text }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
