{% extends "survey/base.html" %}
{% load util_tags %}

{% block content %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'survey:index' %}">Home</a></li>
    <li><a href="{% url 'survey:multiplechoice-list' %}">Multiple Choice Questions</a></li>
    <li class="current">{{ question.text }}</li>
  </ul>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>{{ question.text }} {% object_controls question %}</h1>
      <dl>
        <dt>Order</dt><dd>{{ question.order }}</dd>
        <dt>Availble</dt><dd>{{ question.available|yesno}}</dd>
        <dt>Updated On</dt><dd>{{ question.updated}}</dd>
        <dt>Created On</dt><dd>{{ question.created}}</dd>
        <dt>Options</dt>
        <dd>
          <ul>
          {% for opt in question.options %}
            <li>{{ opt.text }}</li>
          {% endfor %}
          </ul>
        </dd>
      </dl>
    </div>
  </div>
{% endblock %}
