{% extends "survey/base.html" %}

{% block content %}

<ul class="breadcrumbs">
  <li><a href="{% url 'survey:index' %}">Home</a></li>
  <li><a href="{% url 'survey:multiplechoice-list' %}">Multiple Choice Questions</a></li>
  <li class="current">{{ object.text }}</li>
</ul>

<div data-alert class="alert-box warning">
  <strong>Are you sure you want to <em>permanently</em> delete
  this item?</strong><a href="#" class="close">&times;</a>
</div>

<form action="{{ object.get_delete_url }}" method="post">{% csrf_token %}
  <h1>{{ object.text }}</h1>
  <p>Deleting this question will also delete the following options:</p>
  <ul>
  {% for opt in object.options %}
    <li>{{ opt.text }}</li>
  {% endfor %}
  </ul>
<hr/>
<button type="submit" class="button alert">Delete {{object.text }}</button>
</form>

{% endblock %}
