{% extends 'email/base_email.html' %}

{% block title %}
  {{ alert }}
{% endblock %}


{% block content %}

<p>The following user just signed up:</p>
<p>
  Name: {{ user.get_full_name }}<br/>
  Email: {{ user.email }}<br/>
  Joined: {{ user.date_joined }}
</p>

<p>Their account is active and they've been added to the "Content Viewers" group;
To change their account or give them additional permissions, visit the following
link:</p>

{% endblock %}

{% block post_cta %}

<p>To allow users to create content, give them the <strong>Content Author</strong>
and <strong>Content Viewer</strong> permissions.</p>

<p>See this screenshot for reference:<br/>
<a href="http://i.imgur.com/8LUGOky.jpg">
  <img src="http://i.imgur.com/8LUGOky.jpg" /></a>
</p>
{% endblock %}

{% block footer %}{% endblock %}

