{% extends 'rules/base.html' %}
{% load static from staticfiles %}
{% load rules_tags %}


{% block content %}
  <h2 class="subheader">{{ object }}</h2>
  <p>Created: {{ object.created }}.<br/>
     Updated: {{ object.modified }}</p>

  <h3>Conditions</h3>
  <pre class="panel">{{ rule|format_rule:"conditions" }}</pre>
  <h3>Actions</h3>
  <pre class="panel">{{ rule|format_rule:"actions"}}</pre>
  <hr/>

  {# DELETE Form #}
  <form action="{{ object.get_absolute_url }}" method="post">{% csrf_token %}
  <p><button id="delete" data-pk="{{ object.pk }}" class="button alert">
    Delete</button></p>
  </form>
{% endblock %}
