{% extends 'rules/base.html' %}
{% load static from staticfiles %}


{% block extrahead %}
<script src="{% static "rules/js/rules.js" %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
  {% comment %}

    The JS will build the structure of this page.

    div#rules-container
      div.rules-section
        h2. (app name)
        div.conditions
        div.actions
    ----------------------------------

  <h2>When these conditions are met...</h2>
  <div id="conditions"></div>

  <h2>Do these actions...</h2>
  <div id="actions"></div>

  {% endcomment %}
  <div id="rules-container"></div>

  <div id="results">
    <h2>Conditions</h2><pre id="conditions-code" class="code"></pre>
    <h2>Actions</h2><pre id="actions-code" class="code"></pre>
  </div>
{% endblock %}
