{% extends 'rules/base.html' %}
{% load static from staticfiles %}
{% load rules_tags %}

{% block extrahead %}
<script>
$(document).ready(function() {
  var delete_url = "{{ object.get_absolute_url }}";
  var redirect_url = "{% url 'rules:rules' %}";
  var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

  $("#delete").click(function(e) {
    e.preventDefault();
    $.ajax({
      type: "POST", // Still too hard to DELETE with django :(
      url: delete_url,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    })
    .done(function(response) {
      window.location = redirect_url;
    });
  });
});
</script>
{% endblock %}

{% block content %}
  <h2>
    {{ object.app_name }}
    {% if object.rule_name %}/ {{ object.rule_name }}{% endif %}
  </h2>
  <p>Created on {{ object.created }}<br/>Updated on {{ object.modified }}</p>

  <h3>Conditions</h3>
  <pre><code>{{ rule|format_rule:"conditions"}}</code></pre>

  <h3>Actions</h3>
  <pre><code>{{ rule|format_rule:"actions"}}</code></pre>

  <p><button id="delete" data-pk="{{ object.pk }}">Delete</button></p>
  {% csrf_token %}
{% endblock %}
