<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="age-slider">
  <template>
    This is <b>{{owner}}</b>'s age-slider.
    <b>{{name}}</b> lets me borrow it.

    He likes the color <span style="color: {{color}}">{{color}}</span>.
    I am <b>{{age}}</b> years old.

    <p>
      <label for="ageInput">Age:</label>
      <input id="ageInput" type="range"
             value="{{age}}"><br/>
      <label for="nameInput">Name:</label>
      <input id="nameInput" value="{{name}}" placeholder="Enter name..."><br/>

      <label for="ownerInput">Owner:</label>
      <input id="ownerInput" value="{{owner}}" placeholder="Enter name..."><br/>

      <!-- WHY Does this not update automatically?  A Bug? -->
      <label for="colorInput">Color:</label>
      <select id="colorInput">
        <option value="{{color}}">{{color}}</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="black">Black</option>
        <option value="red">Red</option>
      </select>
    </p>
  </template>
  <script>
    var capitalize = function(name) {
      return name[0].toUpperCase() + name.slice(1);
    }

    Polymer({
      age: 25,
      name: "Daniel",
      color: "red",
      owner: "Eric",

      nameChanged: function() {   // Defines a property changed watcher?
        if (this.name) {
          this.name = capitalize(this.name);
        }
      },

      ownerChanged: function() {
        if (this.owner) {
          this.owner = capitalize(this.owner);
        }
      },

      colorChanged: function() {  // <----- ? never gets fired.
        if (this.color) {
          console.log("color = " + this.color);
        }
      }

      // NOTE: This *will* change the color:
      // document.querySelector("age-slider").color = "green";

    });
  </script>
</polymer-element>
