<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/paper-radio-group/paper-radio-group.html">

<polymer-element name="diary-survey" attributes="username">
<template>
  <style>
    p {padding-left: 1em;}
    paper-radio-group paper-radio-button::shadow #ink[checked] {color: #4285f4;}
    paper-radio-group paper-radio-button::shadow #onRadio {background-color: #4285f4;}
    paper-radio-button {display: block;}
  </style>

  <section>
    <p>How do you feel, <em>right now</em>, {{username}}?</p>
    <paper-radio-group selected="always">
      <paper-radio-button name="5" label="Great"></paper-radio-button>
      <paper-radio-button name="4" label="Well"></paper-radio-button>
      <paper-radio-button name="3" label="Fine"></paper-radio-button>
      <paper-radio-button name="2" label="Bad"></paper-radio-button>
      <paper-radio-button name="1" label="Awful"></paper-radio-button>
    </paper-radio-group>
  </section>

</template>
<script>
  Polymer({
    username: "TBA",
  });
</script>
</polymer-element>

