<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- NOTE: `attributes`, here are "published" properties; i.e. a public api for elements -->
<polymer-element name="editable-color-picker" attributes="owner color">
  <template>
    <p>This is <strong>{{owner}}</strong>'s editable-color-picker.
    He likes the color <b style="color: {{color}}">{{color}}</b>.</p>

    <button on-click="{{setFocus}}">Set focus to text input</button>
    <input id="nameInput" value="{{owner}}"
           placeholder="Your name here...">

    <select on-change="{{setColor}}" id="colorInput">
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="red">Red</option>
    </select>

  </template>
  <script>
    Polymer({
      color: "red",
      owner: "Daniel",
      setColor: function() {
        console.log("setColor: " + this.color);
        console.log("---> " + this.$.colorInput.value);
        this.color = this.$.colorInput.value;
      },
      setFocus: function() {

        // Each Polymer element generates a map of IDs to node references in
        // the element's template. This map is accessible as $ on the element
        // and can be used to quickly select the node you wish to work with.
        this.$.nameInput.focus();
      }
    });
  </script>
</polymer-element>
