<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="my-element" noscript>
  <template>
    <span>Hello from <b>my-element</b>. This is my Shadow DOM</span>

    <!-- WTF? How to use this? Seems handy but not sure how to deal with the resp -->
    <core-ajax url="/api/users/" auto response="{{resp}}"></core-ajax>

    <textarea value="{{resp}}"></textarea>
  </template>
</polymer-element>
