{% load static from staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}TNData Demo{% endblock %}</title>
    <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}" />
    <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
    <style type="text/css">
    ul.errorlist {
      list-style-type: none;margin-left:0px;padding:1em;
      background-color:#f04124;border-color:#de2d0f;color:#ffffff;
    }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block bodyjs %}
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% endblock %}
  </body>
</html>
