{% extends "base.html" %}

{% block title %}Demo{% endblock %}
{% block body %}
<div class="row">
  <div class="large-12 columns">

  <h1>hi.</h1>
  <div class="panel">

    <p>Hi, there. This is a placeholder page. See below for more links.</p>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>Right now these links are all that are currently available. You
        need to be logged in to see these, too.</p>
      </div>

      <div class="large-6 medium-6 columns">
        <ul>
          <li><a href="/admin/">See the admin</a></li>
          <li><a href="/api/">Browse the API</a></li>
        </ul>
      </div>
    </div>

  </div> {# end .panel #}
  </div>
</div>
{% endblock %}
