{% extends "base.html" %}

{% block title %}Demo{% endblock %}
{% block body %}
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h1>TN Data Commons Admin</h1>
    {% if user.is_authenticated %}
      <div class="panel">
        <div class="row">
          <div class="large-6 medium-6 columns">
            <p>This is the administration portal for the data library and api.
            Please choose an option from the right.</p>
          </div>

          <div class="large-6 medium-6 columns">
            <ul>
              <li><a href="{% url 'goals:index' %}">Manage Goals/Actions</a></li>
              <li><a href="{% url 'survey:index' %}">Manage Survey Questions</a></li>
              <li><a href="/api/">Browse the API</a></li>
              <li><a href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div> {# end .panel #}
    {% else %}
      <div class="large-4 large-offset-4 medium-6 medium-offset-3 small-12 columns end">
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
        {{ login_form }}<hr>
        <button class="button" type="submit">Sign In</button>
        <span>
          <a href="{% url 'utils:password_reset' %}">Forgot Password?</a>
        </span>
        </form>
      </div>
    {% endif %} {# user.is_authenticated #}
  </div>
</div> {# end .row #}
{% endblock %}
