{% extends "notifications/base.html" %}
{% load tz %}
{% load redis_metric_tags %}


{% block content %}
  {# display a redis-metrics chart of sent messages #}
  {% aggregate_history metrics %}

  <table class="object-list">
    <caption>{{ jobs|length }} Enqueued Messages</caption>
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Status</th>
        <th>Scheduled</th>
        <th>Enqueued At</th>
        <th>Created</th>
        <th>User</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      {% for job, scheduled_for, message_data in jobs %}
      <tr>
        <td>
          <a href="/rq/queues/0/{{ job.id }}">{{ job.id }}</a>
        </td>
        <td>{{ job.status|default:"-" }}</td>
        <td>{{ scheduled_for|localtime }}</td>
        <td>
          {% if job.enqueued_at %}
            {{ job.enqueued_at|localtime }}
          {% endif %}
        </td>
        <td>{{ job.created_at|localtime }}</td>
        <td>{{ message_data.email }}</td>
        <td>
          {{ message_data.title }} {{ message_data.message }}
          <a href="/admin/notifications/gcmmessage/{{ message_data.id }}/"
            target="_blank"><i class="fa fa-external-link-square"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

