{% extends "notifications/base.html" %}
{% load tz %}
{% load redis_metric_tags %}


{% block content %}
  {# Ask for UserQueue data #}
  <form method="get">
    <fieldset><legend>User Queue Details</legend>
      <div class="row">
        <div class="large-6 medium-6 small-12 columns">
          <input type="text" placeholder="user@email.com"
                 id="id_user" name="user"
                 value="{{ selected_user.email|default:'' }}"/>
          <input type="date" id="id_date" name="date"
                 value="{{ selected_date|date:"Y-m-d" }}"/>
          <button type="submit" class="button">Display</button>
        </div>
        <div class="large-6 medium-6 small-12 columns">
        {% for user_queue in user_queues %}
          <div class="panel">
          {# Display the count key first. #}
          {% for key, values in user_queue.items %}
            {% if 'count' in key %}
              <h3>{{ key|cut:":count" }} <small>{{ values }} items</small></h3>
            {% endif %}
          {% endfor %}

          {# then the rest #}
          {% for key, values in user_queue.items %}
            {% if 'count' not in key %}
              <p><strong>{{ key }}
                <small>{{ values|length }} items</small></strong></p>
              <ul>
              {% for value in values %}
                <li>
                  <a data-tooltip aria-haspopup="true"
                     class="has-tip tip-top job-link"
                     style="color:#008CBA;font-weight:normal;cursor:help"
                     {% comment %}

                      ugh. this is awful but I've already wasted too
                      much time on this

                      Find related message info & show it in a tooltip

                     {% endcomment %}
                     {% for job, scheduled_for, message_data in jobs %}
                     {% if job.id == value %}
                     title="{{ message_data.title }} / {{ message_data.message }}"
                     {% endif %}
                     {% endfor %}
                     target="_blank"
                     href="/admin/notifications/gcmmessage/?q={{ value }}">
                  {{ value }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>
    </fieldset>
  </form>

  {# display a redis-metrics chart of sent messages #}
  {% aggregate_history metrics %}

  <table class="object-list"{% if email %} data-search="{{ email }}"{% endif %}>
    <caption>{{ jobs|length }} Enqueued Messages</caption>
    <thead>
      <tr>
        <th>User</th>
        <th>Deliver</th>
        <th>Age</th>
        <th>Content</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for job, scheduled_for, message_data in jobs %}
      <tr>
        <td>
          {# Clicking the user's email shows their queue for the date #}
          {% if message_data.email %}
          <a href="{% url 'notifications:userqueue' message_data.user_id message_data.date_string %}" class="userqueue">
            {{ message_data.email|truncatechars:15 }}
          </a>
          {% endif %}
        </td>
        <td>
          {% with deliver_on=scheduled_for|localtime %}
            {{ deliver_on}}
            <small>{{ deliver_on|timeuntil }}</small>
          {% endwith %}
        </td>
        <td>{{ job.created_at|localtime|timesince }}</td>
        <td>
          <strong>{{ message_data.title }}</strong>
          <br/>{{ message_data.message }}
          {% if message_data.id %}
            <small>(
            <a href="/admin/notifications/gcmmessage/{{ message_data.id }}/"
              target="_blank"><i class="fa fa-external-link-square"></i> admin</a>
            )</small>
          {% endif %}
          <br/>
          <small>Job ID: <a href="/rq/queues/0/{{ job.id }}">{{ job.id }}</a></small>
        </td>
        <td>
          <form action="{% url 'notifications:cancel-job' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job.id }}"/>
            <button type="submit"
                    class="has-tip button tiny alert"
                    data-tooltip
                    aria-haspopup="true"
                    title="Cancel this Notification">
              <i class="fa fa-ban"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="panel clearfix">
    <div class="pull-right">
    <form action="{% url 'notifications:cancel-jobs' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Clear Notification Queue"
        class="button alert"/>
      <label for="id_orphaned">Orphaned Only?
        <input type="checkbox" name="orphaned" id="id_orphaned" />
      </label>
    </form>
    </div>
  </div>

  <div id="queueModal" class="reveal-modal"
       data-reveal aria-labelledby="modalTitle"
       aria-hidden="true" role="dialog">
    <h2 id="modalTitle"></h2>
    <dl>
      <dt>Total</dt><dd id="queueTotal"></dd>
      <dt>Low</dt><dd><ul id="queueLow"></ul></dd>
      <dt>Medium</dt><dd><ul id="queueMedium"></ul></dd>
      <dt>High</dt><dd><ul id="queueHigh"></ul></dd>
    </dl>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
{% endblock %}


{% block bodyjs %}
  {{ block.super }}
  <script type="text/javascript">

  var makeQueueList = function(items) {
    // Given an array of items, return an HTML string contining <li>-items
    var content = '';
      for(var i=0; i < items.length; i++) {
        content += '<li><a href="/rq/queues/0/' +
          items[i] + '/">' + items[i] + '</a></li>';
    }
    return content;
  }

  $(document).ready(function() {
    $(".userqueue").click(function(e) {
      e.preventDefault();
      $.get($(this).prop('href'), function(data) {
        console.log(data);
        if(data) {
          $("#modalTitle").text(data.user + " " + data.date);
          $("#queueTotal").text(data.count);
          $("#queueLow").html(makeQueueList(data.low));
          $("#queueMedium").html(makeQueueList(data.medium));
          $("#queueMedium").html(makeQueueList(data.high));
          $('#queueModal').foundation('reveal', 'open');
        }
      });
    });
  });
  </script>
{% endblock %}
