{% extends "notifications/base.html" %}
{% load tz %}


{% block content %}
  {# TODO display a redis-metrics chart of sent messages ? #}

  <table class="object-list">
    <caption>{{ jobs|length }} Enqueued Messages</caption>
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Args</th>
        <th>Status</th>
        <th>Scheduled</th>
        <th>Enqueued At</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for job, scheduled_for in jobs %}
      <tr>
        <td>
          <a href="/rq/queues/0/{{ job.id }}">{{ job.id }}</a></td>
        <td><code>{{ job.args|pprint }}</code></td>
        <td>{{ job.status|default:"-" }}</td>
        <td>{{ scheduled_for|localtime }}</td>
        <td>
          {% if job.enqueued_at %}
            {{ job.enqueued_at|localtime }}
          {% endif %}
        </td>
        <td>{{ job.created_at|localtime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

